{% extends 'search/administration/index.html' %}
{% load active_link %}
{% load pagination_tag %}
{% load breadcrumbs %}
{% block module_title %}Поисковая статистика{% endblock %}
{% block module_menu %}
    {% include 'search/administration/module_menu.html' %}
{% endblock %}

{% block breadcrumb %}
{#    {% breadcrumb "Поиск" 'search:administration:index' %}#}
    {% breadcrumb "Статистика" %}

{% endblock %}
{% block action_content %}

    <link rel="stylesheet" type="text/css" charset="utf-8" href="{{ STATIC_URL }}css/datepicker.css"/>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}js/highcharts/highcharts.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-datepicker.js"></script>
    <div class="module_actions column prepend-1 last">
        <a href="?statistics=attributes" class="button">Статистика по поисковым атрибутам</a>
        <a href="?statistics=requests" class="button">Статистика по запросам</a>
        <a href="?statistics=terms" class="button">Статистика по фразам</a>
    </div>
    <hr/>
    <div class="">
        <form  action="" class="form-horizontal" method="POST">{% csrf_token %}
            <fieldset>
                {% include 'administration/base_form_fields.html' with form=catalog_form %}
                {% include 'administration/base_form_fields.html' with form=period_form %}
                {% include 'administration/base_form_fields.html' with form=group_form %}
                {% include 'administration/base_form_fields.html' with form=attributes_form %}
            </fieldset>
            <input type="submit" value="Показать" class="btn"/>
        </form>
        <div id="chart_container" class="span9"></div>
        {#{{ zcatalog.requests_by_day }}#}
    </div>
{#    Выберите пункт меню для дальнейших действий#}
    {% include 'search/administration/catalog_statistics_column.html' %}
    <script>
    $(function () {
        $('#id_start_date').datepicker({
            format: 'dd.mm.yyyy'
        });
        $('#id_end_date').datepicker({
            format: 'dd.mm.yyyy'
        });
    });
    </script>
{% endblock %}
