@charset "UTF-8";

/* -- Base drop-down styling -- */

ul.dropdown {
 font: bold 8pt/normal Arial, Helvetica, sans-serif;
 text-transform: uppercase;
}

	ul.dropdown li {
	 padding: 0 10px;
	 background-color: transparent;
	 color: white;
	}

	ul.dropdown li.hover,
	ul.dropdown li:hover {
	 background-color: #ff6600;
	 color: white;
	}
	
	ul.dropdown li ul li{
    color: #14457d;
	}
	ul.dropdown li ul li:hover {
    background-color:transparent !important;
    color: #14457d;
	}
	ul.dropdown>li>ul>li>a{
	margin-left: -5px;
	color: #14457d !important;
	}

	ul.dropdown a:link,
	ul.dropdown a:visited	{ color: white; text-decoration: none; }
	ul.dropdown a:hover		{ color: white; }
	ul.dropdown a:active	{ color: #ffa500; }

	/* -- level mark -- */

	ul.dropdown ul {
	 background-color: rgb(253, 208, 179);
	 border: 1px solid rgb(253, 208, 179);;
	 font-size: 8pt;
	 letter-spacing: normal;
	}
	
	ul.dropdown ul li ul {
	 border: none;
	}

		ul.dropdown ul li {
		 font-weight: bold;
		}

		ul.dropdown li.last ul li {
		 float: right;
		}

		/* -- level mark -- */

		ul.dropdown ul ul {
		 margin-top: 5px;
		 text-transform: none;
		}

			ul.dropdown ul ul li {
			 font-weight: normal;
			}


/* -- Supporting class `dir` -- */

ul.dropdown *.dir {
 padding-right: 0;
}

ul.dropdown ul *.dir {
 background-image: none;
}

ul.dropdown li a {
 display: block;
 padding: 18px 9px;
}

/* -- Base style override -- */

ul.dropdown li {
 padding: 0;
}


/* -- Base style reinitiate: post-override activities -- */

ul.dropdown li.dir {
 padding: 0 ;
}

	ul.dropdown ul li.dir {
	 padding: 15px;
	}


/* -- Custom styles -- */

ul.dropdown ul {
 padding: 0 7px;
}

	ul.dropdown ul a {
	 width: 200px;
	 padding: 3px 15px 3px 5px;
	 color: black !important;
	}

	ul.dropdown ul a:hover {
	 color: #fff;
	 text-decoration:underline;
	}

		ul.dropdown ul ul {
		 padding: 0;
		 margin-left: -5px;
		}