@charset "UTF-8";

/** 
 * Default Advanced CSS Drop-Down Menu Theme
 *
 * @file		default.advanced.css
 * @name		Default
 * @version		0.1
 * @type		transitional
 * @browsers	Windows: IE7+, Opera9+, Firefox3+
 *				Mac OS: Safari2+, Firefox3+
 *
 * @link		http://www.lwis.net/free-css-drop-down-menu
 * @copyright	2009-2012 Live Web Initiatives, http://www.lwis.net
 *
 */

@import "default.css";


/* -- Base style extension -- */

ul.dropdown li a {
 display: block;
 padding: 18px 9px;
}

/* -- Base style override -- */

ul.dropdown li {
 padding: 0;
}


/* -- Base style reinitiate: post-override activities -- */

ul.dropdown li.dir {
 padding: 0 ;
}

	ul.dropdown ul li.dir {
	 padding: 15px;
	}


/* -- Custom styles -- */

ul.dropdown ul {
 padding: 0 7px;
}

	ul.dropdown ul a {
	 width: 200px;
	 padding: 3px 15px 3px 5px;
	 color: black !important;
	}

	ul.dropdown ul a:hover {
	 color: #fff;
	 text-decoration:underline;
	}

		ul.dropdown ul ul {
		 padding: 0;
		 margin-left: -5px; 
		}