{% if news_list %}
{% for news in news_list %}
    <div class="news-page-box">
        <div class="news-page-box__date">{{ news.create_date|date:'d E Y' }}</div>
        <h1 class="news-page-box__title"><a
                href="{% url 'participant_news:frontend:show' news.library.code news.id %}">{{ news.title }}</a></h1>

        <p class="news-page-box__teaser">{{ news.teaser }}</p>
    </div>
{% endfor %}
{% else %}
    <div class="content-page__text">
        <p>Новостей нет</p>
    </div>
{% endif %}


    {#<div class="news-block">#}
    {#    <div><span>{{ news.create_date|date:'d E Y' }}.</span>#}
    {#        <span class="news-block__title">#}
    {#            <a href="{% url 'participant_news:frontend:show' news.library.code news.id %}">{{ news.title }}</a>#}
    {#        </span>#}
    {#    </div>#}
    {#    <div class="news-block__teaser">#}
    {#        <table style="width: 100%">#}
    {#            <tr>#}
    {#            {% if news.avatar_img_name %}#}
    {#                <td style="width: 100px; padding-right: 5px">#}
    {#                    <img src="{{ MEDIA_URL }}uploads/participant_news/newsavatars/{{ news.avatar_img_name }}"></td>#}
    {#            {% endif %}#}
    {#                <td style="vertical-align: top">#}
    {#                    {{ news.teaser }}#}
    {#                </td>#}
    {#            </tr>#}
    {#        </table>#}
    {#    </div>#}
    {#</div>#}
