{% extends 'participants/administration/index.html' %}
{% load active_link %}
{% load pagination_tag %}
{% load breadcrumbs %}
{% load mptt_tags %}
{% block breadcrumb %}
    <li>
        <a href="{% url 'participants:administration:index' %}">Библиотеки</a>
        <span class="divider">/</span>
    </li>
    {% for ancestor in org.get_ancestors %}
        <li>
            <a href="{% url 'participants:administration:detail' ancestor.id %}">{{ ancestor.name }}</a>
            <span class="divider">/</span>
        </li>
    {% endfor %}
    <li class="active">{{ org.name }}</li>
{% endblock %}

{% block action_content %}
    <div class="well well-small">
        <a title="Просмотр и редактирование информации об организации" class="btn" href="{% url 'participants:administration:edit' org.id %}">
            <i class="icon-pencil"></i>
            Редактировать
        </a>
    </div>
    <ul class="nav nav-tabs" id="myTab">
        <li title="Филиалы организации" class="active"><a href="#home">Филиалы</a></li>
        <li title="Отделы"><a href="#departaments">Отделы</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="home">
            <div class="well well-small">
                <a class="btn btn-success" href="{% url 'participants:administration:create' org.id %}">
                    <i class="icon-plus icon-white"></i> Добавить филиал
                </a>
            </div>

            <table class="table">
                <tr>
                    <th>Филиал</th>
                    <th>Действия</th>
                </tr>
                {% for library in branches %}
                    <tr>
                        <td>
                            <a href="{% url 'participants:administration:detail' library.id %}"
                               title="{{ library }}">{{ library }}</a>
                        </td>
                        <td style="width: 100px">
                            {% if parent %}
                                <a class="btn btn-mini btn-danger {% if not perms.participants.delete_library %} disabled {% endif %}"
                                   href="{% url 'participants:administration:delete' library.id %}">
                                    <i class="icon-trash icon-white"></i></a>
                            {% else %}
                                <a class="btn btn-mini btn-danger {% if not perms.participants.delete_cbs %} disabled {% endif %}"
                                   href="{% url 'participants:administration:delete' library.id %}"><i
                                        class="icon-trash icon-white"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
            {% if not  branches %}
                Филиалов нет
            {% endif %}
        </div>
        <div class="tab-pane" id="departaments">
            <div class="well well-small">
                <a class="btn btn-success" href="{% url 'participants:administration:create_departament' org.id %}">
                    <i class="icon-plus icon-white"></i> Добавить отдел
                </a>
            </div>
            <table class="table">
                <tr>
                    <th>Название</th>
                    <th>Действия</th>
                </tr>
                {% for department in departments %}
                    <tr>
                        <td><a href="{% url 'participants:administration:edit_departament' department.id %}">{{ department.name }}</a></td>
                        <td style="width: 100px">
                            <a title="Отвязать пользователя от организации"
                               class="btn btn-danger btn-mini"
                               href="{% url 'participants:administration:delete_departament' department.id %}">
                                <i class="icon-trash icon-white"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <script>
    $('#myTab a').click(function (e) {
      e.preventDefault();
      $(this).tab('show');
    })
    </script>
{% endblock %}