{% load accounts_tags %}
{% load participiants_tags %}
{% load cache %}
{% get_user_org request.user as user_org %}
<div style="clear: both;">
    <div style="float: right;">
        <div class="btn-group">
            <a class="btn btn btn-large" href="{% url 'personal:frontend:index' %}"><i class="icon-user"></i> Личный кабинет</a>
            <a class="btn dropdown-toggle btn btn-large" data-toggle="dropdown" href="#"><span
                    class="caret"></span></a>
            <ul class="dropdown-menu"><li><a href="{% url 'orders:frontend:on_hand' %}">Выданные книги</a></li>
                <li><a href="{% url 'orders:frontend:on_hand' %}">Выданные книги</a></li>
                <li><a href="{% url 'orders:frontend:reservations' %}">Заказы на бронирование</a></li>
                <li><a href="{% url 'mydocs:frontend:index' %}">Мои документы</a></li>
                <li><a href="{% url 'ask_librarian:frontend:my_questions' %}">Мои вопросы</a></li>
                <li><a href="{% url 'ssearch:frontend:saved_search_requests' %}">Поисковые запросы</a></li>
                <li class="divider"></li>
                {% cache 600 user_org request.user.id %}
    {#                {% ifusergroups role_site_admin or role_site_moderator %}#}
    {#                {% endifusergroups %}#}
                    {% ifusergroup role_mba_manager %}
                        <li><a href="http://ill.kitap.tatar.ru">АРМ МБА</a></li>
                    {% endifusergroup %}
                    {% ifusergroup role_it_manager %}
                        <li><a href="{% url 'participants:administration:library_user_list' %}">Управление сотрудниками</a></li>
                    {% endifusergroup %}
                    {% if perms.participant_site and user_org %}
                        <li><a href="{% url 'participant_site:administration:index' user_org.code %}">Управление сайтом</a></li>
                    {% endif %}
                    {% if user_org or perms.statistics.view_all_statistic %}
                        <li><a href="{% url 'statistics:frontend:index' %}">Статистика</a></li>
                    {% endif %}
                    {% if user_org %}
                        <li class="divider"></li>
                    {% endif %}
                {% endcache %}
                <li><a href="{% url 'accounts:frontend:logout' %}">Выход</a></li>

            </ul>
        </div>
    </div>
</div>