{% load accounts_tags %}
{% load participiants_tags %}
{% load cache %}
{% get_user_org request.user as user_org %}
<div style="clear: both;">
    <div style="float: right;">
        <div class="btn-group">
            <a class="btn btn btn-large" href="{% url 'personal:frontend:index' %}"><i class="icon-user"></i> Личный
                кабинет</a>
            <a class="btn dropdown-toggle btn btn-large" data-toggle="dropdown" href="#"><span
                    class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="{% url 'orders:frontend:on_hand' %}">Выданные книги</a></li>
                <li><a href="{% url 'orders:frontend:on_hand' %}">Выданные книги</a></li>
                <li><a href="{% url 'orders:frontend:reservations' %}">Заказы на бронирование</a></li>
                <li><a href="{% url 'mydocs:frontend:index' %}">Мои документы</a></li>
                <li><a href="{% url 'ask_librarian:frontend:my_questions' %}">Мои вопросы</a></li>
                <li><a href="{% url 'ssearch:frontend:saved_search_requests' %}">Поисковые запросы</a></li>
                <li class="divider"></li>
                {% cache 600 user_org request.user.id %}
                    {% personal_cabinet_links as cabinet_links %}
                    {% for cabinet_link in cabinet_links %}
                        <li><a href="{{ cabinet_link.href|safe }}">{{ cabinet_link.title }}</a></li>
                    {% endfor %}
                     {% if cabinet_links %}
                        <li class="divider"></li>
                    {% endif %}
                {% endcache %}
                <li><a href="{% url 'accounts:frontend:logout' %}">Выход</a></li>

            </ul>
        </div>
    </div>
</div>