{% load i18n %}
{% load localeurl_tags %}
{% load menu_tags %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}Национальная электронная библиотека Республики Татарстан{% endblock %}</title>
    <meta name="description" content>
    <meta name="keywords" content>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <link rel="icon" type="image/ico" href="{{ STATIC_URL }}theme/favicon.ico"/>
    <!--[if lte IE 10]>
        <script src="{{ STATIC_URL }}js/html5shiv-printshiv.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="{{ STATIC_URL }}dist/styles/index.css">
{#    <script src="{{ STATIC_URL }}js/jquery.min.js"></script>#}
    {#    <script src="{{ STATIC_URL }}dist/vendors/bootstrap/bootstrap.min.js"></script>#}
{#    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>#}

    {#    <script src="{{ STATIC_URL }}dist/vendors/owl-carousel/owl.carousel.min.js"></script>#}
{#    <script src="{{ STATIC_URL }}js/lodash.compat.min.js"></script>#}
{#    <script src="{{ STATIC_URL }}js/browser-polyfill.min.js"></script>#}
{#    <script src="{{ STATIC_URL }}js/browser.min.js"></script>#}
{#    <script src="{{ STATIC_URL }}js/system.js"></script>#}
{#    <script src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>#}
{#    <script>#}
{#        System.config({#}
{#            map: {#}
{#                eventemitter3: '{{ STATIC_URL }}js/eventemitter3.js',#}
{#                jquery: '{{ STATIC_URL }}js/jquery.min.js',#}
{#                lodash: '{{ STATIC_URL }}js/lodash.compat.min.js',#}
{#                'owl-carousel': '{{ STATIC_URL }}dist/vendors/owl-carousel/owl.carousel.min.js',#}
{#                react: '{{ STATIC_URL }}js/react-with-addons.min.js',#}
{#                typehead: '{{ STATIC_URL }}js/typeahead.jquery.min.js',#}
{#            },#}
{#            baseURL: '{{ STATIC_URL }}apps',#}
{#            transpiler: 'babel'#}
{#        });#}
{#        System.import('base.js');#}
{#        // loads /app/main.js#}
{##}
{#    </script>#}
{#    {% block scripts %}{% endblock %}#}

</head>
<body>
<div class="content-wrap">
    {% if request.path_info != '/' %}<div class="header-wrap-bg">{% endif %}
    <div class="container">
        <header class="header">
            <button class="header__nav-btn">
                <i title="Открыть меню" class="icon-menu"></i>
            </button>
            <a class="logo header__logo" href="{% url 'index:frontend:index' %}" title="На главную!">
                <div class="logo__img-wrap">
                    <img class="logo__img" src="{{ STATIC_URL }}dist/images/logo/logo.png"
                         alt="
                            {% if LANGUAGE_CODE == 'ru' %}
                                Национальная электронная библиотека
                                Республики Татарстан
                            {% elif LANGUAGE_CODE == 'tt' %}
                                Татарстан Республикасының Милли
                                электрон китапханәсе
                            {% else %}
                                National Electronic Library of the
                                Republic of Tatarstan
                            {% endif %}
                        ">
                </div>
                <div class="logo__text">
                    {% if LANGUAGE_CODE == 'ru' %}
                        <span>Национальная электронная библиотека</span>
                        <span>Республики Татарстан</span>
                    {% elif LANGUAGE_CODE == 'tt' %}
                        <span>Татарстан Республикасының Милли</span>
                        <span>электрон китапханәсе</span>
                    {% else %}
                        <span>National Electronic Library of the</span>
                        <span>Republic of Tatarstan</span>
                    {% endif %}
                </div>
                <div class="logo__text-sm">
                    {% if LANGUAGE_CODE == 'ru' %}
                         НЭБ РТ
                    {% elif LANGUAGE_CODE == 'tt' %}
                        ТРМ ЭК
                    {% else %}
                        NEL RT
                    {% endif %}
                </div>
            </a>
            <ul class="nav nav_tool header__tool">
                <li class="nav__item {% if "/ru" in request.path %}nav__item_active{% endif %}">
                    <a href="/ru{{ request.path|rmlocale }}{% if request.META.QUERY_STRING %}?{{ request.META.QUERY_STRING }}{% endif %}"
                       class="nav__link"
                       title="Русский">Рус</a>
                </li>
                <li class="nav__item {% if "/tt" in request.path %}nav__item_active{% endif %}">
                    <a href="/tt{{ request.path|rmlocale }}{% if request.META.QUERY_STRING %}?{{ request.META.QUERY_STRING }}{% endif %}"
                       class="nav__link"
                       title="Татарский">Тат</a>
                </li>
                <li class="nav__item {% if "/en" in request.path %}nav__item_active{% endif %}">
                    <a href="/en{{ request.path|rmlocale }}{% if request.META.QUERY_STRING %}?{{ request.META.QUERY_STRING }}{% endif %}"
                       class="nav__link"
                       title="English">Eng</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link bvi-panel-open" href="#"><i class="icon-eye"
                                                                    title="Версия для слабовидящих"></i></a>
                </li>
            </ul>
            {% include 'cabinet.html' %}
        </header>
        <nav class="nav-wrap">
            <ul class="nav nav_tool">
                <li class="nav__item {% if "/ru" in request.path %}nav__item_active{% endif %}">
                    <a href="/ru{{ request.path|rmlocale }}{% if request.META.QUERY_STRING %}?{{ request.META.QUERY_STRING }}{% endif %}"
                       class="nav__link"
                       title="Русский">Рус</a>
                </li>
                <li class="nav__item {% if "/tt" in request.path %}nav__item_active{% endif %}">
                    <a href="/tt{{ request.path|rmlocale }}{% if request.META.QUERY_STRING %}?{{ request.META.QUERY_STRING }}{% endif %}"
                       class="nav__link"
                       title="Татарский">Тат</a>
                </li>
                <li class="nav__item {% if "/en" in request.path %}nav__item_active{% endif %}">
                    <a href="/en{{ request.path|rmlocale }}{% if request.META.QUERY_STRING %}?{{ request.META.QUERY_STRING }}{% endif %}"
                       class="nav__link"
                       title="English">Eng</a>
                </li>
            </ul>
            {% include 'cabinet-mobile.html' %}
            {% include 'main_menu.html' %}
        </nav>
    </div>
    {% if request.path_info != '/' %}</div>{% endif %}
    {% block content %}{% endblock %}
        <footer class="footer" role="contentinfo">
        <div class="container">
            {% include 'main_menu_footer.html' %}
            <ul class="footer-nav">
                <li class="footer-nav__item">
                    <a class="footer-nav__link" href="{% url 'index:frontend:index' %}" title="На главную!">Национальная электронная библиотека Республики Татарстан</a>
                </li>
                <li class="footer-nav__item">
                    <a class="footer-nav__link" href="http://mic.tatarstan.ru/" target="_blank" rel="nofollow, noopener">Министерство информатизации и связи Республики Татарстан</a>
                </li>
            </ul>
        </div>
    </footer>

    {% if request.path_info == '/' %}
        <div class="bg"></div>
    {% endif %}

</div>

<div class="nav-mask"></div>

<script src="{{ STATIC_URL }}dist/vendors/jquery-2.2.4.min.js"></script>
<script src="{{ STATIC_URL }}dist/vendors/swiper/js/swiper.min.js"></script>
<script src="{{ STATIC_URL }}dist/vendors/micromodal/micromodal.min.js"></script>
<script src="{{ STATIC_URL }}dist/js/main.js"></script>
<script src="{{ STATIC_URL }}dist/vendors/visually/button-visually-impaired/js/responsivevoice.min.js?ver=1.5.0"></script>
<script src="{{ STATIC_URL }}dist/js/bvi-init-panel.js"></script>
<script src="{{ STATIC_URL }}dist/js/bvi.js"></script>
<script src="{{ STATIC_URL }}dist/vendors/visually/button-visually-impaired/js/js.cookie.js"></script>
{% block scripts %}{% endblock %}

{#<header>#}
{#    <div class="container">#}
{#        <div class="row">#}
{##}
{#            <div class="col-8">#}
{#                <a href="{% url 'index:frontend:index' %}" title="На главную!">#}
{#                    <div class="logo">#}
{#                        <div class="logo__img">#}
{#                            <img src="{{ STATIC_URL }}dist/images/logo.png">#}
{#                        </div>#}
{#                        <div class="logo__text">#}
{#                            {% if LANGUAGE_CODE == 'ru' %}<span>Национальная электронная библиотека</span><br>Республики#}
{#                                Татарстан{% elif LANGUAGE_CODE == 'tt' %}#}
{#                                <span>Татарстан Республикасының Милли<br> электрон китапханәсе</span>{% else %}#}
{#                                <span>National Electronic Library of the</span><br>Republic of Tatarstan{% endif %}#}
{#                        </div>#}
{#                    </div>#}
{#                </a>#}
{##}
{#                <div class="language">#}
{#                    <a href="/ru#}
{#                            {{ request.path|rmlocale }}{% if request.META.QUERY_STRING %}?{{ request.META.QUERY_STRING }}{% endif %}"#}
{#                       class="language__btn {% if "/ru" in request.path %}language__btn_active{% endif %}"#}
{#                       title="Русский">Рус</a>#}
{#                    <a href="/tt#}
{#                            {{ request.path|rmlocale }}{% if request.META.QUERY_STRING %}?{{ request.META.QUERY_STRING }}{% endif %}"#}
{#                       class="language__btn {% if "/tt" in request.path %}language__btn_active{% endif %}"#}
{#                       title="Татарский">Тат</a>#}
{#                    <a href="/en#}
{#                            {{ request.path|rmlocale }}{% if request.META.QUERY_STRING %}?{{ request.META.QUERY_STRING }}{% endif %}"#}
{#                       class="language__btn {% if "/en" in request.path %}language__btn_active{% endif %}"#}
{#                       title="English">Eng</a>#}
{#                </div>#}
{#            </div>#}
{#            {% include 'cabinet.html' %}#}
{#        </div>#}
{#    </div>#}
{#</header>#}
{##}
{##}
{#<footer>#}
{#    <hr class="footer-hr">#}
{#    <div class="container">#}
{#        <div class="row">#}
{#            <div class="col-12">#}
{#                {% include 'main_menu_footer.html' %}#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    <hr class="footer-hr">#}
{#    <div class="container">#}
{#        <div class="row">#}
{#            <div class="col-6">#}
{#                <a class="footer-logo__bib" href="{% url 'index:frontend:index' %}" title="На главную!"><img#}
{#                        src="{{ STATIC_URL }}dist/images/logo_bib.png"#}
{#                        alt="тайтл"></a>#}
{#                <a class="footer-logo__min" href="http://mic.tatarstan.ru/" target="_blank"><img#}
{#                        src="{{ STATIC_URL }}dist/images/logo_min.png"#}
{#                        alt="Министерство информатизации и связи Республики Татарстан"></a>#}
{##}
{#                <!-- Yandex.Metrika informer -->#}
{#                <a href="https://metrika.yandex.ru/stat/?id=28345621&amp;from=informer"#}
{#                   target="_blank" rel="nofollow">#}
{#                    <img src="//bs.yandex.ru/informer/28345621/3_1_FFFFFFFF_EFEFEFFF_0_pageviews"#}
{#                         style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика"#}
{#                         title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)"#}
{#                         onclick="try{Ya.Metrika.informer({i:this,id:28345621,lang:'ru'});return false}catch(e){}"/>#}
{#                </a>#}
{#                <!-- /Yandex.Metrika informer -->#}
{#            </div>#}
{#            <div class="col-6">#}
{#                <a class="footer-logo__ask-lib" href="{% url 'ask_librarian:frontend:ask' %}"#}
{#                   title="Спроси библиотекаря">#}
{#                    {% if LANGUAGE_CODE == 'ru' %}#}
{#                        Задать вопрос библиотекарю#}
{#                    {% elif LANGUAGE_CODE == 'tt' %}#}
{#                        Китапханәчегә сорау бирү#}
{#                    {% else %}#}
{#                        Ask question#}
{#                    {% endif %}#}
{#                </a>#}
{#                <a class="footer-logo__ask-all" href="{% url 'ask_librarian:frontend:index' %}"#}
{#                   title="Спроси библиотекаря все вопросы">#}
{#                    {% if LANGUAGE_CODE == 'ru' %}#}
{#                        Все вопросы#}
{#                    {% elif LANGUAGE_CODE == 'tt' %}#}
{#                        Барлык сораулар#}
{#                    {% else %}#}
{#                        All questions#}
{#                    {% endif %}#}
{#                </a>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{##}
{#</footer>#}


</body>
</html>
<!-- app mac1 {{ request.session.ap_mac }} -->
<!--  {{ request.user.id }} -->
<!-- dev -->