{% extends 'ask_librarian/frontend/index.html' %}
{% load cache %}
{% load pagination_tag %}
{% block title %}Мои вопросы{% endblock %}
{% block breadcrumb %}
    <ul class="bread__crumbs">
        <li>
            <a href="{% url 'index:frontend:index' %}" class="bread__crumbs_link">
                {% if LANGUAGE_CODE == 'ru' %}Главная{% else %}Home{% endif %}
            </a>
        </li>
        <li>
            <img src="{{ STATIC_URL }}dist/images/br_crumbs.svg">
        </li>
        {% if request.GET.back %}
            <li><a class="bread__crumbs_link" href="{{ request.GET.back }}">{% if LANGUAGE_CODE == 'ru' %}Консультация
                специалиста СИЦ{% else %}Ask librarian{% endif %}</a></li>
        {% else %}
            <li><a class="bread__crumbs_link" href="{% url 'ask_librarian:frontend:index' %}">
                {% if LANGUAGE_CODE == 'ru' %}Консультация специалиста СИЦ{% else %}Ask librarian{% endif %}</a>
            <li>
        {% endif %}
        <li>
            <img src="{{ STATIC_URL }}dist/images/br_crumbs.svg">
        </li>
        <li><a class="bread__crumbs_link bread__crumbs_link_active">{% if LANGUAGE_CODE == 'ru' %}Мои вопросы{% else %}
            View question{% endif %}</a>
        <li>
    </ul>

{#    <section>#}
{#        <div id="breadcrumbs">#}
{#            <ul class="breadcrumb">#}
{#                <a href="{% url 'index:frontend:index' %}">{% if LANGUAGE_CODE == 'ru' %}Начало{% else %}#}
{#                    Home{% endif %}</a>#}
{#                <span class="divider">/</span>#}
{##}
{#                {% if request.GET.back %}#}
{#                    <a href="{{ request.GET.back }}">{% if LANGUAGE_CODE == 'ru' %}Консультация специалиста#}
{#                        СИЦ{% else %}Ask librarian{% endif %}</a> <span class="divider">/</span>#}
{#                {% else %}#}
{#                    <a href="{% url 'ask_librarian:frontend:index' %}">{% if LANGUAGE_CODE == 'ru' %}Консультация#}
{#                        специалиста СИЦ{% else %}Ask librarian{% endif %}</a> <span class="divider">/</span>#}
{#                {% endif %}#}
{#                {% if LANGUAGE_CODE == 'ru' %}Мои вопросы{% else %}View question{% endif %}#}
{#            </ul>#}
{#        </div>#}
{#    </section>#}
{% endblock %}
{% block index_content %}
    {% admin_pagination questions_page %}

    {% for question in questions_page.object_list %}
        <div class="answer-box">
            <div class="answer-box__index">
                {{ question.id }}
            </div>
            <div class="answer-box__content_padding">
                <div class="answer-box__content">
                    <div class="answer-box__content__question">
                        {% if question.is_ready %}
                            {{ question.question|safe }}
                        {% else %}
                            {{ question.question }}
                        {% endif %}

                        {% if question.category_id %}
                            <b>
                                {% cache 30 questions_category question.category_id LANGUAGE_CODE %}
                                    {% for ancestor in  question.category.get_t_ancestors %}
                                        {{ ancestor }}  →
                                    {% endfor %}
                                    {{ question.category }}
                                {% endcache %}
                            </b>
                        {% endif %}
                    </div>
                    <hr class="answer-box__content__hr">
                    <div class="answer-box__content__answ">
                        {{ question.answer|safe }}
                        <br/>
                        <a href="{% url 'ask_librarian:frontend:detail' question.id %}">подробнее</a>
                    </div>
                </div>
            </div>
        </div>
    {% empty %}
        <p>Вопросов нет</p>
    {% endfor %}

    {% admin_pagination questions_page %}
{% endblock %}