{% extends 'theme_frontend_base.html' %}

{% block content %}
    <div class="span12">
        <ul class="breadcrumb">
            <li><a href="/ru/">Начало</a> <span class="divider">/</span></li>
            <li class="active">Статистика</li>
        </ul>
        {% if error %}
            <div class="alert alert-error">
                {{ error }}
            </div>
        {% endif %}
        {% block index_content %}
            {{ response_dict|safe }}
        {% endblock %}
    </div>
{% endblock %}
