{% load mptt_tags %}
{% if nodes %}
    <ul class="lib-info__list">

            {% recursetree nodes %}
                <li {% if path == node.url  %} class="active" {% endif %}>
                    <a href="{{ node.url }}" {% if node.open_in_new %} target="_blank" {% endif %}>{{ node.title }}</a>
                </li>
                {% if not node.is_leaf_node %}
                        <ul>
                        {{ children }}
                        </ul>
                {% endif %}
            {% endrecursetree %}

    </ul>
{% else %}<p>Информация отсутствует</p>
{% endif %}

