{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% if owners %}
    <section class="card card_bs-2 card_booking">
        <div class="card__header">
            <h2 class="card__title card__title_sm">
                {% if LANGUAGE_CODE == 'en' %}
                    Reserve document
                {% elif LANGUAGE_CODE == 'tt'  %}
                    Броньлау
                {% else %}
                    Бронирование
                {% endif %}
                ({{ owners|length }})
            </h2>
        </div>
        <div class="card__body" style="max-height: 300px; overflow-y: auto">
            <ul class="card-booking" >
                {% for owner in owners %}
                    <li class="card-booking__item">
                        <p class="card-booking__name">{{ owner.owner.name }}</p>
                        <a class="card-booking__geo" href="{% url 'participants:frontend:detail' owner.owner.code %}"
                           target="_blank">
                            <i class="icon-locating" title="Контакты"></i>
                        </a>
                        {% if owner.has_catalog %}
                            <a class="card-booking__btn"
                               href="{% url 'orders:frontend:zorder' owner.owner.id %}?id={{ record_id|urlencode }}">
                            {% if LANGUAGE_CODE == 'en' %}
                                Reserve
                            {% elif LANGUAGE_CODE == 'tt'  %}
                                Броньларга
                            {% else %}
                                Забронировать
                            {% endif %}
                            </a>
                        {% else %}
                            <span class="card-booking__btn card-booking__btn_dsb">
                                {% if LANGUAGE_CODE == 'en' %}
                                    Order disabled
                                {% elif LANGUAGE_CODE == 'tt'  %}
                                    Заказ туктатылган
                                {% else %}
                                    Заказ отключен
                                {% endif %}
                            </span>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endif %}
