{% extends 'theme_frontend_base.html' %}
{% load add_get_tag %}
{% load pagination_tag %}
{% load content_types %}
{% block title %}Поиск по каталогам{% endblock %}
{% block breadcrumb %}
<section>
    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li><a href="{% url 'index:frontend:index' %}">Начало</a> <span class="divider">/</span></li>
            <li><a href="{% url 'search:frontend:index' %}">Поиск</a> <span class="divider">/</span></li>
            {% if request.GET.q %}
            <li><a href="{% url 'search:frontend:index' %}">Расширенный</a><span class="divider">/</span></li>
            <li class="active">Результаты:  найденно записей: {{ info.num_found }} за: {{ info.qtime }} сек.</li>
            {% else %}
                <li class="active">Расширенный</li>
            {% endif %}
        </ul>
    </div>
</section>
{% endblock %}
{% block content %}
    <style>
    a.btn {
        text-decoration: none;
    }
    #searchresults ul.records{
        list-style: none;
    }
    #searchresults ul.records li{
        margin: 0;
        padding: 0;
    }
    </style>
    <div class="grid_5_1" style="width: 730px">


    <div class="search-bar-advanced">
			<form action="{% url 'search:frontend:advanced_search' %}" method="GET">
{#			<select class="input-block-level">#}
{#				<option>Каталог</option>#}
{#			</select>#}
			<input type="text" placeholder="Заглавие" class="input-block-level" name="title_t" {% if request.GET.title_t %}value="{{ request.GET.title_t }}" {% endif %}>
			<input type="text" placeholder="Автор" class="input-block-level" name="author_t" {% if request.GET.author_t %}value="{{ request.GET.author_t }}" {% endif %}>
			<input type="text" placeholder="Издательство" class="input-block-level" name="publisher_t" {% if request.GET.publisher_t %}value="{{ request.GET.publisher_t }}" {% endif %}>
{#			<input type="text" placeholder="Вид издания" class="input-block-level">#}
{#			<select class="input-block-level">#}
{#				<option>Вид издания</option>#}
{#			</select>#}
			<input type="text" placeholder="Ключевые слова" name="subject_keywords_t" class="input-block-level" {% if request.GET.subject_keywords_t %}value="{{ request.GET.subject_keywords_t }}" {% endif %}>
{#			<select class="input-block-level">#}
{#				<option>Предметная рубрика</option>#}
{#			</select>#}
			<input type="text" placeholder="Термин в любом поле" name="all_tru" class="input-block-level" {% if request.GET.all_tru %}value="{{ request.GET.all_tru }}" {% endif %}>
			<input type="text" placeholder="Год выхода" name="date_of_publication_s" {% if request.GET.date_of_publication_s %}value="{{ request.GET.date_of_publication_s }}" {% endif %}>
			<input  type="text" placeholder="Дата поступления ГГГГММДД" name="date_time_of_income_s" {% if request.GET.date_time_of_income_s %}value="{{ request.GET.date_time_of_income_s }}" {% endif %}>

            <br/>Выводить по: <select class="input-medium" name="per_page">
                    <option value="15" {% if not request.GET.per_page or request.GET.per_page == '15' %}selected="selected" {% endif %}>15</option>
                    <option value="20" {% if request.GET.per_page == '20' %}selected="selected" {% endif %}>20</option>
                    <option value="50" {% if request.GET.per_page == '50' %}selected="selected" {% endif %}>50</option>
                    <option value="100" {% if request.GET.per_page == '100' %}selected="selected" {% endif %}>100</option>
                </select>
			<button type="submit" class="btn btn-primary" style="float:right">Найти</button>
{#            <button type="reset" class="btn" style="float:right">Сбросить</button>#}
			</form>
        </div>

{#        <button class="btn btn-mini btn-primary" type="button">Сохранить запрос</button>#}
{#        {% for search_breadcumb in search_breadcumbs %}#}
{#            {% if not forloop.last %}#}
{#                <a href="{{ search_breadcumb.href }}"><b>{{ search_breadcumb.title }}</b>: {{ search_breadcumb.value }}</a> →#}
{#            {% else %}#}
{#                <span><b>{{ search_breadcumb.title }}</b>: {{ search_breadcumb.value }}</span>#}
{#            {% endif %}#}
{#        {% endfor %}#}
{#        &nbsp; <a href="">Везде: Банки</a> &rarr; <a href="">Каталог: Книги</a> &rarr; Автор: Иванов#}
        <form action="{{ request.path }}" method="GET">
            <div class="search-bar searchpage">
                Сортировка по: <select style="margin: 0" class="input-medium" name="sort">
                {% for sort_title in sort_titles %}
                    <option value="{{ sort_title.attr }}" {% if request.GET.sort == sort_title.attr %}selected="selected" {% endif %}>{{ sort_title.title }}</option>
                {% endfor %}
            </select>
             Порядок: <select style="margin: 0" class="input-medium" name="order">

                <option value="asc" {% if not request.GET.order or request.GET.order == 'asc' %}selected="selected" {% endif %}>по возрастанию</option>
                <option value="desc" {% if request.GET.order == 'desc' %}selected="selected" {% endif %}>по убыванию</option>
            </select>
{#                <button class="btn btn-mini" type="button">Добавить</button>#}
                <input  class="btn" type="submit" value="Упорядочить"/>
            </div>
        {% for item in request.GET.items %}
            {% if item.0 != 'sort' and item.0 != 'order' %}
                <input type="hidden" name="{{ item.0 }}" value="{{ item.1 }}">
            {% endif %}
        {% endfor %}
        </form>

    {% if records %}

        Формат представления результатов:
        <div class="btn-group">
            <a href="{% add_get view='detail' %}"
               class="btn btn-small {% if not request.GET.view or request.GET.view == 'detail' %}active{% endif %}">Расширенный</a>
            <a href="{% add_get view='short' %}"
               class="btn btn-small {% if request.GET.view == 'short' %}active{% endif %}">Краткий</a>
        </div>
        <hr class="lightgray">
        <div id="searchresults">
            <table style="width: 100%">
                {% for record in records %}
                    <tr>
                        <td>
                            <div style="font-size: 14px; padding-right: 3px">{{ record.row_number }}.</div>
                            {% if record.dict.cover %}
                            <a class="mins" href="{{ COVER_PREFIX }}{{ record.dict.cover.0 }}.gif" class="thumbnail"  rel="gallery_group">
                                <img style="width: 70px; margin: 0 10px 5px 0" class="tumb" src="{{ COVER_PREFIX }}{{ record.dict.cover.0 }}.gif" alt="" rel="tooltip">
                            </a>

                        {% endif %}

                        <td>
                            {% if record.item_info.author_code %}
                                <div>
                                    {{ record.item_info.author_code }}
                                </div>
                            {% endif %}
                            {% if record.item_info.bd_code %}
                                <div>
                                    {{ record.item_info.bd_code }}
                                </div>
                            {% endif %}
                            <div>{{ record.libcard|safe }}</div>
                            {% if not request.GET.view or request.GET.view == 'detail' %}
                                <div class="record_attrs">
                                    {% include 'search/frontend/advanced_tableview.html' %}
                                </div>
                            {% endif %}
                            {% if record.urls %}
                                <div class="record_attrs">
                                    {% for url in record.urls %}
                                        <img style="width: 20px; height: 20px;"  src="{{ STATIC_URL }}images/content_types/{{ url.href|content_type }}.png"/> <a class="" {%if url.href|content_type != 'image' %}target="_blank" {% endif %}
                                           href="{% url 'search:frontend:full_text_redirect' %}?ft_url={{ url.href|urlencode }}&id={{ record.model.record_id }}{%if request.GET.attr == 'full_text_tru' %}&search={{ request.GET.value|urlencode }}{% endif %}">
                                            {{ url.title }}
                                        </a>{% if not forloop.last %}<br/>{% endif %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                            <div style="text-align: right"><a
                                    href="{% url 'search:frontend:detail' %}?id={{ record.model.record_id }}&back={{ request.get_full_path|urlencode }}">подробнее</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">{% if not forloop.last %}
                            <hr class="lightgray">{% endif %}</td>
                    </tr>
                {% endfor %}
                </table>
                {% pagination result_page %}
            </div>
    {% endif %}
    </div>
{#    <div class="grid_3_2 omega" style="width: 200px">#}
{##}
{#        <div class="info">#}
{#            {% for facet in facets %}#}
{#                {% if facet.values %}#}
{#                    <div class="facet_group" >#}
{#                        <h3 id="t{{ facet.code }}" class="block_title">{{ facet.title }}</h3>#}
{#                        <ul id="f{{ facet.code }}">#}
{#                            {% for value in facet.values %}#}
    {#                            <li><a class="drilldown" name="{{ facet.code }}"  rel="{{ value.0 }}"  id="df{{ facet.code }}{{ forloop.counter0 }}" href="#1">{% if facet.code == "subject_heading_s"%} + {% endif %}</a> <a href="{% add_get_append q=value.0 attr=facet.code %}"> {{ value.2 }} (<b>{{ value.1 }}</b>)</a>#}
    {#                            {% if facet.code == "subject_heading_s"%}<ul style="display: none" id="dft{{ facet.code }}{{ forloop.counter0 }}"></ul>{% endif %}#}
    {#                            </li>#}
{#                                <li><a href="{% add_get_append q=value.0 attr=facet.code %}"> {{ value.2 }} ({{ value.1 }})</a></li>#}
{#                            {% empty %}#}
{#                                <li>У найденных записей атрибут отсутвует</li>#}
{#                            {% endfor %}#}
{#                        </ul>#}
{#                        {% if facet.values %}#}
{#                            <div align="left">#}
{#                                <a href="#f{{ facet.code }}" class="load_facet_fwd btn btn-mini" style="a: right" id="{{ facet.code }}" title="Нажмите для раскрытия списка">показать больше ↴</a> <a class="collaps" rel="{{ facet.code }}" href="#f{{ facet.code }}" title="Свернуть список">&uarr;&uarr;&uarr;</a>#}
{#                            </div>#}
                            {#                     <a href="#1" class="load_facet_rev btn btn-mini" id="{{ facet }}"><<<</a>#}
{#                        {% endif %}#}
{#                    </div>#}
{#                    {% if not forloop.last %}<hr/>{% endif %}#}
{#                {% endif %}#}
{#            {% endfor %}#}
{#        </div>#}

    </div>

    <div class="clear"></div>
{#    {% include 'ssearch/frontend/app.js.html' %}#}
{% endblock %}