{% if record.dict.udk %}
    <div><b>УДК</b>:
         {% include 'search/frontend/print_attr.html' with attrs=record.dict.udk %}
    </div>
{% endif %}
{% if record.dict.bbk %}
    <div><b>ББК</b>: {% include 'search/frontend/print_attr.html' with attrs=record.dict.bbk %}
    </div>
{% endif %}
{% if record.dict.subject_heading %}
<div><b>Предметные рубрики</b>:
    {% include 'search/frontend/print_attr.html' with attrs=record.dict.subject_heading %}
</div>
{% endif %}
{% if record.dict.subject_keywords %}
<div><b>Ключевые слова</b>:<br/>
    {% for subject in record.dict.subject_keywords %}
         <span>{{ subject }}</span>{% if not forloop.last %} -- {% endif %}
    {% endfor %}
</div>
{% endif %}
{% if record.object.330.0.a.0 %}
<div><b>Аннотация</b>:<br/>
    {{ record.object.330.0.a.0.get_data }}
</div>
{% endif %}
{% if record.item_info.items_count %}
    <div>
        <b>Количество экземпляров</b>: {{ record.item_info.items_count }}
    </div>
{% endif %}
