{% extends 'theme_frontend_base.html' %}
{% load pagination_tag %}
{% load mydocs_tags %}
{% load content_types %}
{% block title %}Поиск по каталогам{% endblock %}
{% block breadcrumb %}
    <section>
        <div id="breadcrumbs">
            <ul class="breadcrumb">
                <li><a href="{% url 'index:frontend:index' %}">Начало</a> <span class="divider">/</span></li>
                <li><a href="{% url 'search:frontend:index' %}">Поиск</a><span class="divider">/</span></li>
                <li class="active">Справка</li>
            </ul>
        </div>
    </section>
{% endblock %}
{% block content %}
    <div class="grid_8">

        <h3>Типы индексаци:</h3>

        <div class="alert alert-info">
            <ul>
                <li>string: как фраза</li>
                <li>text_general: список слов</li>
                <li>text_ru: морфологический текст</li>

            </ul>
        </div>
        <table class="table table-bordered">
            <tr>
                <th>Код атрибута</th>
                <th title="Как проиндексирован атрибут">Тип индексации</th>
                <th>Название</th>
            </tr>
            {% for field in fields %}
                <tr>
                    <td>{{ field.name }}</td>
                    <td>{{ field.type }}</td>
                    <td>{{ field.title }}</td>
                </tr>
            {% endfor %}
        </table>
        <div class="content">

            <h3>Язык запросов</h3>

            <h4>Термы</h4>

            <p>Запросы состоят из термов и операторов.<br>
                Термы бывают нескольких типов. Первые из них, это обычные слова, например,
                «банк», «отчет». Второй же тип термов это группа слов, например, «центральный банк». Несколько термов
                можно связывать вместе при помощи логических операторов.</p>

            <h4>Поля</h4>

            <p>Поиск данных в заданном поле записи. Для поиска по определенному полю необходимо в
                запросе написать название этого поля, дальше поставить двоеточие и после него написать терм.
                Например:</p>
            <pre>title_t:"центральный банк"</pre>
            <p>Если при запросе в атрибуте используется несколько слов, то их необходимо заключать в кавычки или в скобки</p>
            <pre>title_t:центральный</pre>
            <pre>title_t:"центральный банк"</pre>
            <pre>title_t:(центральный AND банк AND россии)</pre>
            <pre>title_t:(центральный AND банк AND россии OR ЦБ)</pre>

            <h4>Wildcards</h4>

            <p>Поиск записей по маске. Можно заменит один ? или несколько * символов например:</p>
            <pre>title_t:бан?</pre>
            <pre>title_t:цент*й</pre>


            <h4>Нечеткий поиск</h4>

            <p>Для написания такого типа запросов необходимо поставить символ ~ в конце одиночного терма, например, запрос </p>
            <pre>title_t:(централый~ бнк~ росии~)</pre>
            <p>найдет записи с заглавием, похожи на центральный банк россии, хотя при запросе была допущена ошибка.<br>
                Можно задать коэффициент похожести:</p>
            <pre>title_t:отчет~0.9</pre>
            <p>По-умолчанию это значение равно 0.5.<br>
                Для термов из нескольких слов символ ~ используется для указания максимального расстояния между ними.
            </p>

            <h4>Усиление термов</h4>

            <p>Чтобы записи со словом «ЦБ» были более релевантными нежели записи со
                словом «банк», тогда можно построить запрос следующим образом:</p>
            <pre>title_t:(ЦБ^5 OR банк)</pre>
            <p>Тоже самое можно делать и для фраз. По-умолчанию значение этой характеристики равно 1 и оно должно быть
                положительным (таким образом можно задать значение равное 0.1, например).</p>
            <h4>Логические операции</h4>

            <p>Логические операции позволяют комбинировать несколько термов. Например:</p>
            <pre>title_t:банк OR ЦБ</pre>
            <p>или</p>
            <pre>title_t:(банк OR цб) AND subject_keywords_t:отчет </pre>
            <h4>Группировка</h4>

            <p>Логические выражения можно группировать:</p>
            <pre>(банк OR цб) AND отчет</pre>
            <h4>Экранирование символов</h4>

            <p>Символы, которые необходимо экранировать при помощи символа «\»:</p>
            <pre>+ - &amp;&amp; || ! ( ) { } [ ] ^ " ~ * ? : \</pre>
            <pre>1\+2</pre>
            <p><br></p>

        </div>
    </div>

{% endblock %}