<ul class="income-list">
    {% for income_group in income_groups %}
        {% if income_group.date_groups %}
            <li class="income-list__item">
                <span class="income-title">{{ income_group.title }}</span>
                <ul class="income-dates">
                    {% for date, records in income_group.date_groups.items %}
                        <li><span class="income-date">{{ date|date:"j E" }}</span>
                            <table style="width: 100%">
                                {% for id, record in records.items %}
                                    <tr style="border-bottom: solid #EDEAE5 1px">
                                        <td style="width: 70px; vertical-align: middle">
                                            <div style="text-align: center">{{ forloop.counter }}.</div>
                                            {% if record.record_dict.cover %}
                                            <a class="mins" href="{{ COVER_PREFIX }}{{ record.record_dict.cover.0 }}.gif"  rel="gallery_group">
                                                <img class="tumb" src="{{ COVER_PREFIX }}{{ record.record_dict.cover.0 }}.gif" alt="" rel="tooltip">
                                            </a>
                                            {% endif %}
                                        </td>
                                        <td style="vertical-align: middle">
                                            <a target="" href="{% url 'search:frontend:detail' %}?id={{ id }}">{{ record.libcard|safe }}</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                            <div style="clear: both"></div>
                        </li>
                    {% empty %}
                        Новых поступлений нет.
                    {% endfor %}
                </ul>
            </li>
        {% endif %}
    {% endfor %}
</ul>

<script>
    $('.income-date').on('click', function () {
        $(this).siblings('.income-date-items').toggle(100);
    });
    $('.income-title').on('click', function () {
        $(this).siblings('.income-dates').toggle(100);
    });
</script>

