{% extends 'theme_frontend_base.html' %}
{% load add_get_tag %}
{% load pagination_tag %}
{% load content_types %}
{% block title %}Поиск по каталогам{% endblock %}
{% block breadcrumb %}
    <section>
        <div id="breadcrumbs">
            <ul class="breadcrumb">
                <li><a href="{% url 'index:frontend:index' %}">Начало</a> <span class="divider">/</span></li>
                {% if request.GET.attr %}
                    <li><a href="{% url 'search:frontend:index' %}">Поиск</a><span class="divider">/</span></li>
                    <li class="active">Результаты: найденно записей: {{ total }}.</li>
                {% else %}
                    <li class="active">Поиск</li>
                {% endif %}
            </ul>
        </div>
    </section>
{% endblock %}
{% block content %}
    <style>
        a.btn {
            text-decoration: none;
        }

        #searchresults ul.records {
            list-style: none;
        }

        #searchresults ul.records li {
            margin: 0;
            padding: 0;
        }

        .record .header {
            font-weight: bold;
        }

        .record_attrs {
            margin-top: 10px;
            color: #313131
        }

        .record_attrs a {
            color: #00588e;
            text-decoration: underline;
        }
    </style>
    <div class="grid_5_1" style="width: 530px">

        <div class="search-bar searchpage">
            <form action="{% url 'search:frontend:index' %}" method="GET">
            <div>
                <select name="attr" class="input-small">
                    {% for attr in titled_attrs %}
                        <option value="{{ attr.attr }}"
                                {% if request.GET.attr == attr.attr %}selected="selected"{% endif %}>{{ attr.title }}</option>
                    {% endfor %}
                </select>
                <input type="text" name="value" class="span3" value="{{ request.GET.value|default:'' }}">
                <button type="submit" class="btn btn-primary">Найти</button>
                <div style="vertical-align: middle">
                    <div style="float: left; width: 50%">
                        {% if records %}
                            <label style="padding-top: 7px;">
                                <input name="in_results" value="1" type="checkbox" {% if request.GET.in_results == '1' %} checked="checked" {% endif %} />
                                Искать в найденном
                            </label>
                        {% endif %}
                    </div>
                    <div style="float: left; width: 50%; text-align: right">
                        Выводить по:
                        <select style="width: 70px" class="input-medium" name="per_page">
                            <option value="15" {% if not request.GET.per_page or request.GET.per_page == '15' %}selected="selected" {% endif %}>15</option>
                            <option value="20" {% if request.GET.per_page == '20' %}selected="selected" {% endif %}>20</option>
                            <option value="50" {% if request.GET.per_page == '50' %}selected="selected" {% endif %}>50</option>
                            <option value="100" {% if request.GET.per_page == '100' %}selected="selected" {% endif %}>100</option>
                        </select>
                        </span>
                    </div>
                    <div style="clear: both"></div>
                </div>

                <div>

                </div>
            </div>
            {% for prev_attr in prev_attrs %}
                <input type="hidden" name="br_attr" value="{{ prev_attr.attr }}"/>
                <input type="hidden" name="br_value" value="{{ prev_attr.value }}"/>
            {% endfor %}
             <div style="text-align: left">
                 <a href="/ru/pages/rubricator/" class="blue">Поиск по рубрикатору</a>
                 <a style="float: right" href="{% url 'search:frontend:advanced_search' %}" class="blue">Расширенный поиск</a>
             </div>
            </form>
            <div>
        </div>
        </div>
        <form action="{{ request.path }}" method="GET">
            <div class="search-bar searchpage">
                Сортировка по: <select style="margin: 0; width: 125px" class="input-medium" name="sort">
                {% for sort_title in sort_titles %}
                    <option value="{{ sort_title.attr }}" {% if request.GET.sort == sort_title.attr %}selected="selected" {% endif %}>{{ sort_title.title }}</option>
                {% endfor %}
            </select>
             Порядок: <select style="margin: 0; width: 125px" class="input-medium" name="order">

                <option value="asc" {% if not request.GET.order or request.GET.order == 'asc' %}selected="selected" {% endif %}>по возрастанию</option>
                <option value="desc" {% if request.GET.order == 'desc' %}selected="selected" {% endif %}>по убыванию</option>
            </select>
{#                <button class="btn btn-mini" type="button">Добавить</button>#}
                <input  class="btn btn-mini" type="submit" value="Упорядочить"/>
            </div>
        {% for item in request.GET.items %}
            {% if item.0 != 'sort' and item.0 != 'order' %}
                <input type="hidden" name="{{ item.0 }}" value="{{ item.1 }}">
            {% endif %}
        {% endfor %}
        </form>
        {% if breadcrumbs %}
            <div>
                <a class="label label-info"
                   href="{% url 'search:frontend:save_search_request' %}?srequest={{ search_request|urlencode }}"
                   id="save_request_button">Сохранить запрос</a>
                <a class="label label-warning" href="{% url 'search:frontend:index' %}">Очистить фильтр</a>
                {% for bitem in  breadcrumbs %}
                    {% if not forloop.last %}
                        <a href="{{ bitem.href }}"><b>{{ bitem.title }}</b>: {{ bitem.value }}</a> →
                    {% else %}
                        <span><b>{{ bitem.title }}</b>: {{ bitem.value }}</span>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        {% if search_result.error and not records %}
            <div class="alert alert-danger">Ошибка запроса: <b>{{ search_result.error.message }}</b></div>
        {% endif %}
        {% if records %}
            <div style="margin-top: 10px">
                Формат представления результатов:
                <div class="btn-group">
                    <a href="{% add_get view='detail' %}"
                       class="btn btn-small {% if not request.GET.view or request.GET.view == 'detail' %}active{% endif %}">Расширенный</a>
                    <a href="{% add_get view='short' %}"
                       class="btn btn-small {% if request.GET.view == 'short' %}active{% endif %}">Краткий</a>
                </div>
            </div>
            <hr class="lightgray">
            <div id="searchresults">
                <table style="width: 100%">
                    {% for record in records %}
                        <tr>
                            <td>
                                <div style="font-size: 14px; text-align: center">{{ record.row_number }}.</div>

                                {% if record.dict.cover %}
                                <a class="mins" href="{{ COVER_PREFIX }}{{ record.dict.cover.0 }}.gif"  rel="gallery_group">
                                    <img class="tumb" src="{{ COVER_PREFIX }}{{ record.dict.cover.0 }}.gif" alt="" rel="tooltip">
                                </a>
                                {% endif %}
                                    <div class="btn-group" style="margin-top: 5px">
                                        <a class="btn btn-mini" href="{% url 'search:frontend:detail' %}?id={{ record.model.record_id }}&print=1">
                                            <i class="icon-print"></i>
                                        </a>
                                        <a class="btn btn-mini" href="mailto:?subject={{ record.title.parts_of|urlencode }}%20{{ record.title.title|urlencode }}&body={% if request.is_secure %}https{% else %}http{% endif %}://{{ request.META.HTTP_HOST }}{% url 'search:frontend:detail' %}?id={{ record.model.record_id }}">
                                            <i class="icon-envelope"></i>
                                        </a>
                                    </div>
                                <td>
                                {% if record.item_info.author_code %}
                                    <div>
                                        {{ record.item_info.author_code }}
                                    </div>
                                {% endif %}
                                {% if record.item_info.bd_code %}
                                    <div>
                                        {{ record.item_info.bd_code }}
                                    </div>
                                {% endif %}
                                <div>{{ record.libcard|safe }}</div>
                                {% if not request.GET.view or request.GET.view == 'detail' %}
                                    <div class="record_attrs">
                                        {% include 'search/frontend/tableview.html' %}
                                    </div>
                                {% endif %}
                                {% if record.urls %}
                                    <div class="record_attrs">
                                        {% for url in record.urls %}
                                            <img style="width: 20px; height: 20px;"  src="{{ STATIC_URL }}images/content_types/{{ url.href|content_type }}.png"/> <a class="" {%if url.href|content_type != 'image' %}target="_blank" {% endif %}
                                               href="{% url 'search:frontend:full_text_redirect' %}?ft_url={{ url.href|urlencode }}&id={{ record.model.record_id }}{%if request.GET.attr == 'full_text_tru' %}&search={{ request.GET.value|urlencode }}{% endif %}">
                                                {{ url.title }}
                                            </a>{% if not forloop.last %}<br/>{% endif %}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <div style="text-align: right"><a
                                        href="{% url 'search:frontend:detail' %}?id={{ record.model.record_id }}&back={{ request.get_full_path|urlencode }}">подробнее</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">{% if not forloop.last %}
                                <hr class="lightgray">{% endif %}</td>
                        </tr>
                    {% endfor %}
                </table>
                {% pagination result_page %}
            </div>
        {% endif %}
    </div>
    <div class="grid_3_2 omega facets" style="width: 200px"></div>

    <div class="clear"></div>
    {% include 'search/frontend/app.js.html' %}

    <script>
        $(function () {
            $.get('/ssearch/facets/?{{ request.META.QUERY_STRING|safe }}').done(function (result) {
                $('.facets').html(result);
            });
        });
    </script>

    <script type="text/javascript">
        $('#save_request_button').click(function () {
            $.ajax({
                url: $(this).attr('href'),
                type: 'GET',
                dataType: "json",
                async: true,
                success: function (response) {
                    if (response['status'] == 'ok') {
                        var button = $('#save_request_button');
                        button.html('Сохранен');
                        button.addClass('disabled');
                        button.attr('href', '#1');

                    }
                    else {
                        alert('При сохранении возникла ошибка');
                    }
                }
            });
            return false;
        });

        $('br[clrear="left"]').remove();
    </script>
{% endblock %}
