{% extends 'index/frontend/index.html' %}
{% load i18n %}
{% load participant_news_tags %}
{% load participant_events_tags %}
{% load ssearch_tags %}
{#{% load news_tags %}#}
{#{% load events_tags %}#}
{#{% load ssearch_tags %}#}
{#{% load participiants_tags %}#}
{#{% load cache %}#}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}{{ library.name }}{% endblock %}
{% block content %}
    <nav class="bg bg_second">
        <div class="container">
            {% include 'main_menu.html' %}
        </div>
    </nav>
    <main>
        <div class="container">
            <ul class="bread__crumbs">
                <li>
                    <a href="{% url 'index:frontend:index' %}" class="bread__crumbs_link">
                        Главная
                    </a>
                </li>
                {% for ancestor in ancestors %}
                    <li>
                        <img src="{{ STATIC_URL }}dist/images/br_crumbs.svg">
                    </li>
                    <li><a href="{% url 'participant_site:frontend:index' ancestor.code %}"
                           class="bread__crumbs_link">{{ ancestor.name }}</a></li>
                {% endfor %}
                <li>
                    <img src="{{ STATIC_URL }}dist/images/br_crumbs.svg">
                </li>
                <li>
                    <a class="bread__crumbs_link bread__crumbs_link_active">
                        {{ library.name }}
                    </a>
                </li>
            </ul>
        </div>
        <hr class="footer-hr">
        <div class="container content-page">
            <div class="row">
                <div class="col-8">
                    <h1 class="content-page__title">{{ library.name }}</h1>

                    <div id="map-lib-item" class="map">
                    </div>
                    <div class="content-page__text">
                        <p><strong>Сайт:</strong>
                            {% if library.http_service %}
                                <a target="_blank"
                                   href="{{ library.http_service }}">{{ library.http_service }}</a>
                            {% else %}
                                {% url 'participant_site:frontend:index' library.code as library_site_address %}
                                <a href="http://







                                        {{ request.META.HTTP_HOST }}{{ library_site_address }}">http://{{ request.META.HTTP_HOST }}{{ library_site_address }}</a>
                            {% endif %}
                        </p>

                        <p><strong>E-mail:</strong> <a
                                href="mailto:{{ library.mail|lower }}">{{ library.mail|lower }}</a></p>

                        <p><strong>Адрес:</strong> {{ library.postal_address|default:'не указан' }}</p>

                        <p><strong>Телефон:</strong> {{ library.phone|default:'не указан' }}</p>
                    </div>

                    <h1 class="content-page__title">Новости библиотеки <a
                            href="{% url 'participant_news:frontend:index' library.code %}" class="news-box__all"
                            title="Посмотреть архив новостей">Архив новостей</a></h1>

                    {% participant_news_feed library.id '4' %}

                    <h1 class="content-page__title">Последние поступления в библиотеку</h1>

                    {% participant_income library.code %}

                </div>
                <div class="col-4">
                    <div class="facets-container">
                        <div class="facets-container__item">
                            <div class="facet">
                                <div class="facet__header">
                                    <h4 class="facet__title">Информация</h4>
                                </div>
                                <div class="facet__body">
                                    {% include 'participant_site/frontend/site_menu.html' %}
                                </div>
                            </div>
                        </div>
                        <div class="facets-container__item">
                            <div class="facet">
                                <div class="facet__header">
                                    <h4 class="facet__title">Афиша</h4>
                                </div>
                                <div class="">
                                    <div class="poster-box">
                                        <a href="{% url 'participant_events:frontend:subscribe' library.code %}"
                                           class="poster-box__all poster-box__all_margin">
                                            Подписаться на события библиотеки</a>
                                        <br><br>
                                        <a href="{% url 'participant_events:frontend:index' library.code %}"
                                           class="poster-box__all poster-box__all_margin"
                                           title="Посмотреть все мероприятия">Все мероприятия</a>
                                        {% participant_events_nearest library.id '5' %}
                                        {#                                        <div id="owl-poster" class="owl-carousel">#}
                                        {#                                            <div class="item-poster">#}
                                        {#                                                <div class="poster-box__item__date">#}
                                        {#                                                    <img title="Календарь" title="Календарь" src="images/calendar.svg">#}
                                        {#                                                    22 октября 2015 / 08:00#}
                                        {#                                                </div>#}
                                        {#                                                <a class="poster-box__item__geo" href="#" title="Посмотреть на карте">#}
                                        {#                                                    <img alt="Расположение на карте" src="images/geo_pin.svg">#}
                                        {#                                                    Казань#}
                                        {#                                                </a>#}
                                        {#                                                <br>#}
                                        {#                                                <a href="#" title="Камско-Устьинская ЦБС"#}
                                        {#                                                   class="poster-box__item__bib-tag">#}
                                        {#                                                    Камско-Устьинская ЦБС#}
                                        {#                                                </a>#}
                                        {##}
                                        {#                                                <h2 class="poster-box__item__title">#}
                                        {#                                                    <a href="#" title="Впервые пройдет слет молодых работников">#}
                                        {#                                                        Впервые пройдет слет молодых работников#}
                                        {#                                                        и участников мероприятий#}
                                        {#                                                    </a>#}
                                        {#                                                </h2>#}
                                        {##}
                                        {#                                                <p class="poster-box__item__teaser">#}
                                        {#                                                    8 июля в библиотеках города и района пройдут праздничные#}
                                        {#                                                    мероприятия, посвящённые Всероссийскому дню семьи,#}
                                        {#                                                    любви и верности.#}
                                        {#                                                </p>#}
                                        {#                                                <a href="#" class="poster-box__item__btn-call" title="Напомнить">Установить#}
                                        {#                                                    напоминание</a>#}
                                        {#                                            </div>#}
                                        {#                                            <div class="item-poster">#}
                                        {#                                                <div class="poster-box__item__date">#}
                                        {#                                                    <img title="Календарь" title="Календарь" src="images/calendar.svg">#}
                                        {#                                                    22 октября 2015 / 08:00#}
                                        {#                                                </div>#}
                                        {#                                                <a class="poster-box__item__geo" href="#" title="Посмотреть на карте">#}
                                        {#                                                    <img alt="Расположение на карте" src="images/geo_pin.svg">#}
                                        {#                                                    Казань#}
                                        {#                                                </a>#}
                                        {#                                                <br>#}
                                        {#                                                <a href="#" title="Камско-Устьинская ЦБС"#}
                                        {#                                                   class="poster-box__item__bib-tag">#}
                                        {#                                                    Камско-Устьинская ЦБС#}
                                        {#                                                </a>#}
                                        {##}
                                        {#                                                <h2 class="poster-box__item__title">#}
                                        {#                                                    <a href="#" title="Впервые пройдет слет молодых работников">#}
                                        {#                                                        Впервые пройдет слет молодых работников#}
                                        {#                                                        и участников мероприятий#}
                                        {#                                                    </a>#}
                                        {#                                                </h2>#}
                                        {##}
                                        {#                                                <p class="poster-box__item__teaser">#}
                                        {#                                                    8 июля в библиотеках города и района пройдут праздничные#}
                                        {#                                                    мероприятия, посвящённые Всероссийскому дню семьи,#}
                                        {#                                                    любви и верности.#}
                                        {#                                                </p>#}
                                        {#                                                <a href="#" class="poster-box__item__btn-call" title="Напомнить">Установить#}
                                        {#                                                    напоминание</a>#}
                                        {#                                            </div>#}
                                        {#                                        </div>#}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="facets-container__item">
                            <div class="facet">
                                <div class="facet__header">
                                    <h4 class="facet__title">Календарь событий</h4>
                                </div>
                                <div class="facet__body">
                                    <a href="{% url 'participant_events:frontend:index' library.code %}"
                                       class="poster-box__all">
                                        Другие события</a>
                                    {% participant_events_calendar library %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>



















    {#    <style>#}
    {#        .news-block {#}
    {#            margin-bottom: 10px;#}
    {#        }#}
    {##}
    {#        .news-block__title {#}
    {#            font-weight: bold;#}
    {#        }#}
    {##}
    {#        .news-block__teaser {#}
    {#            text-align: justify;#}
    {#        }#}
    {#    </style>#}
    {#    <div class="span12">#}
    {#        <div class="breadcrumb">#}
    {#            <span><a href="{% url 'index:frontend:index' %}">Главная</a> <span class="divider">/</span></span>#}
    {#            {% for ancestor in ancestors %}#}
    {#                <span><a href="{% url 'participant_site:frontend:index' ancestor.code %}">{{ ancestor.name }}</a> <span#}
    {#                        class="divider">/</span></span>#}
    {#            {% endfor %}#}
    {#            <span class="active">{{ library.name }}</span>#}
    {#        </div>#}
    {#    </div>#}

    {#    <div class="span3">#}
    {#        {% include 'participant_site/frontend/site_menu.html' %}#}
    {#    </div>#}
    {#    <div class="span9">#}
    {#        <div class="row">#}
    {#            <div class="span9">#}
    {#                <div class="row">#}
    {#                    <div class="span9">#}
    {#                        <h3>{{ library.name }}</h3>#}
    {#                    </div>#}
    {#                </div>#}
    {#                <div class="row">#}
    {#                    <div class="span5 org-info">#}
    {##}
    {#                        <table style="width: 100%">#}
    {#                            <tr>#}
    {#                                <td>Сайт:</td>#}
    {#                                <td>#}
    {#                                    {% if library.http_service %}#}
    {#                                        <a target="_blank"#}
    {#                                           href="{{ library.http_service }}">{{ library.http_service }}</a>#}
    {#                                    {% else %}#}
    {#                                        {% url 'participant_site:frontend:index' library.code as library_site_address %}#}
    {#                                        <a href="http://{{ request.META.HTTP_HOST }}{{ library_site_address }}">http://{{ request.META.HTTP_HOST }}{{ library_site_address }}</a>#}
    {#                                    {% endif %}</td>#}
    {#                            </tr>#}
    {#                            {% if library.mail %}#}
    {#                                <tr>#}
    {#                                    <td>Email:</td>#}
    {#                                    <td><a href="mailto:{{ library.mail|lower }}">{{ library.mail|lower }}</a>#}
    {#                                    </td>#}
    {#                                </tr>#}
    {#                            {% endif %}#}
    {#                            <tr>#}
    {#                                <td>Адрес:</td>#}
    {#                                <td>{{ library.postal_address|default:'не указан' }}</td>#}
    {#                            </tr>#}
    {#                            <tr>#}
    {#                                <td>Телефон:</td>#}
    {#                                <td>{{ library.phone|default:'не указан' }}</td>#}
    {#                            </tr>#}
    {#                        </table>#}
    {#                    </div>#}
    {#                    <div class="span4">#}
    {#                        <div class="map" style="height: 145px"></div>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#        <div class="row">#}
    {##}
    {#            <div class="span5">#}
    {#                <hr/>#}
    {#                <h3>Новости библиотеки<a href="{% url 'participant_news:frontend:rss' library.code %}">#}
    {#                    <img width="18" src="{{ STATIC_URL }}images/rss.png" title="Подписаться на новости библиотеки"></a>#}
    {#                </h3>#}
    {#                {% participant_news_feed library.id '10' %}#}
    {#                <div>#}
    {#                    <a href="{% url 'participant_news:frontend:index' library.code %}">Остальные новости >></a>#}
    {#                </div>#}
    {#            </div>#}
    {#            <div class="span4">#}
    {#                <hr/>#}
    {#                <h3>Афиша событий#}
    {#                    <a title="Подписаться на события библиотеки" class=""#}
    {#                       href="{% url 'participant_events:frontend:subscribe' library.code %}">#}
    {#                        <i class="icon-envelope"></i>#}
    {#                    </a>#}
    {#                </h3>#}
    {#                {% participant_events_nearest library.id '5' %}#}
    {#                <div>#}
    {#                    <a href="{% url 'participant_events:frontend:index' library.code %}">другие события >></a> <br/>#}
    {#                </div>#}
    {#                <hr/>#}
    {#                <h3>Календарь событий#}
    {#                </h3>#}
    {#                {% participant_events_calendar library %}#}
    {#            </div>#}
    {#        </div>#}
    {#        <div class="row">#}
    {#            <div class="span9">#}
    {#                <hr/>#}
    {#                <h3 style="margin-bottom: 10px">rrПоследние поступления в библиотеку</h3>#}
    {#                {% participant_income library.code %}#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    <script type="text/javascript">
        ymaps.ready(init);
        var myMap;
        var coords = [{{ library.latitude|safe|default:'0.0' }}, {{ library.longitude|safe|default:'0.0' }}];
        function init() {
            orgMap = new ymaps.Map($('.map')[0], {
                center: coords,
                zoom: 12
            });
            orgPlacemark = new ymaps.Placemark(
                    coords,
                    {
                        content: '{{ library.name }}',
                        balloonContent: '<p>Адрес: {{ library.postal_address|default:'не указан' }}</p>'
                    }
            );
            orgMap.geoObjects.add(orgPlacemark);
        }
    </script>

    <script type="text/javascript">
        var yaParams = {
            orgsSite: '{{ library.code }}'
        };
    </script>

    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function () {
                try {
                    w.yaCounter28398531 = new Ya.Metrika({
                        id: 28398531,
                        clickmap: true,
                        trackLinks: true,
                        accurateTrackBounce: true, params: window.yaParams || {}
                    });
                } catch (e) {
                }
            });

            var n = d.getElementsByTagName("script")[0],
                    s = d.createElement("script"),
                    f = function () {
                        n.parentNode.insertBefore(s, n);
                    };
            s.type = "text/javascript";
            s.async = true;
            s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else {
                f();
            }
        })(document, window, "yandex_metrika_callbacks");
    </script>
{% endblock %}
