{% extends 'participant_site/frontend/index.html' %}
{% load localeurl_tags %}
{#{% load news_tags %}#}
{#{% load events_tags %}#}
{#{% load ssearch_tags %}#}
{#{% load participiants_tags %}#}
{#{% load cache %}#}
{% block title %}{{ content.title }}{% endblock %}
{% block content %}
    <nav class="bg bg_second">
        <div class="container">
            {% include 'main_menu.html' %}
        </div>
    </nav>
    <main>
        <div class="container">
            <ul class="bread__crumbs">
                <li><a href="{% url 'index:frontend:index' %}" class="bread__crumbs_link">Главная</a></li>
                {% for ancestor in library.get_ancestors %}
                    <li>
                        <img src="{{ STATIC_URL }}dist/images/br_crumbs.svg">
                    </li>
                    <li>
                        <a href="{% url 'participant_site:frontend:index' ancestor.code %}" class="bread__crumbs_link">{{ ancestor.name }}</a>
                    </li>
                {% endfor %}
                <li>
                    <img src="{{ STATIC_URL }}dist/images/br_crumbs.svg">
                </li>
                <li><a href="{% url 'participant_site:frontend:index' library.code %}" class="bread__crumbs_link">{{ library.name }}</a></li>
                {% for ancestor in content.page.get_ancestors_titles %}
                    <li>
                        <img src="{{ STATIC_URL }}dist/images/br_crumbs.svg">
                    </li>
                    <li><a href="{% url 'participant_pages:frontend:show' library.code ancestor.url_path %}" class="bread__crumbs_link">
                        {% if not ancestor.title %}
                            {{ ancestor }}
                        {% else %}
                            {{ ancestor.title }}
                        {% endif %}
                    </a></li>
                {% endfor %}
            <li>
                    <img src="{{ STATIC_URL }}dist/images/br_crumbs.svg">
                </li>
                <li>
                <a class="bread__crumbs_link bread__crumbs_link_active">
                    {% if not content.title %}
                        заглавие страницы для этого языка не указано.
                    {% else %}
                        {{ content.title }}
                    {% endif %}
                </a>
                </li>
            </ul>
        </div>
        <hr class="footer-hr">
        <div class="container content-page">
            <div class="row">
                <div class="col-7">
                    <h1 class="content-page__title">{{ content.title }}</h1>

                    <div class="content-page__text">
                        {{ content.content|safe }}
                        {% if page.show_children and children %}
                            <ul>
                                {% for child in children %}
                                    {% url 'participant_pages:frontend:show' library.code child.url_path  as page_url %}
                                    <li><a href="/
                                            {{ content.lang }}{{ page_url|rmlocale }}">{{ child.content.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="col-5">
                    <div class="facets-container">
                        <div class="facets-container__item">
                            <div class="facet">
                                <div class="facet__header">
                                    <h4 class="facet__title">Информация</h4>
                                </div>
                                <div class="facet__body">
                                    {% include 'participant_site/frontend/site_menu.html' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}




{##}
{#    <style>#}
{#        .news-block {#}
{#            margin-bottom: 10px;#}
{#        }#}
{##}
{#        .news-block__title {#}
{#            font-weight: bold;#}
{#        }#}
{#    </style>#}
{#    <div class="span12">#}
{#        <ul class="breadcrumb">#}
{#            <li><a href="{% url 'index:frontend:index' %}">Начало</a> <span class="divider">/</span></li>#}
{#            {% for ancestor in library.get_ancestors %}#}
{#                <li><a href="{% url 'participant_site:frontend:index' ancestor.code %}">{{ ancestor.name }}</a> <span#}
{#                        class="divider">/</span></li>#}
{#            {% endfor %}#}
{#            <li><a href="{% url 'participant_site:frontend:index' library.code %}">{{ library.name }}</a> <span#}
{#                    class="divider">/</span></li>#}
{#            {% for ancestor in content.page.get_ancestors_titles %}#}
{#                <li><a href="{% url 'participant_pages:frontend:show' library.code ancestor.url_path %}">#}
{#                    {% if not ancestor.title %}#}
{#                        {{ ancestor }}#}
{#                    {% else %}#}
{#                        {{ ancestor.title }}#}
{#                    {% endif %}#}
{#                </a> <span class="divider">/</span></li>#}
{#            {% endfor %}#}
{#            <li>#}
{#                {% if not content.title %}#}
{#                    заглавие страницы для этого языка не указано.#}
{#                {% else %}#}
{#                    {{ content.title }}#}
{#                {% endif %}#}
{#            </li>#}
{#        </ul>#}
{#    </div>#}

{#    <div class="span3">#}
{#        {% include 'participant_site/frontend/site_menu.html' %}#}
{#    </div>#}
{#    <div class="span9">#}
{#        <div>#}
{#            {% include 'participant_site/frontend/inline_org_info.html' %}#}
{#        </div>#}
{#    <h3>{{ content.title }}</h3>#}
{#        <div>#}
{#            {{ content.content|safe }}#}
{#        </div>#}
{#        {% if page.show_children and children %}#}
{#            <ul>#}
{#                {% for child in children %}#}
{#                    {% url 'participant_pages:frontend:show' library.code child.url_path  as page_url %}#}
{#                    <li><a href="/{{ content.lang }}{{ page_url|rmlocale }}">{{ child.content.title }}</a></li>#}
{#                {% endfor %}#}
{#            </ul>#}
{#        {% endif %}#}
{#    </div>#}



