{% extends 'theme_frontend_base.html' %}
{% block title %}Библиотеки{% endblock %}
{% block content %}
    <div class="span12">
        <ul class="breadcrumb">
            <li><a href="{% url 'index:frontend:index' %}">Начало</a> <span class="divider">/</span></li>
            <li class="active">Библиотеки</li>
        </ul>
    <div class="row">
        <div class="span12">
            <style>
                #map_canvas{
                    background: white;

                    box-shadow: 0 0 10px #999;
                    border-radius: 2px;
                }
            </style>
            <div id="map_canvas" style="height: 400px"></div>
            {% include 'participants/frontend/map_cbs_js.html' %}
        </div>
    </div>
    <div class="row">
        <div class="span12">
        <hr/>
            <ul class="nav nav-tabs">
              <li class="active">
                <a href="{% url 'participants:frontend:index' %}">Библиотеки</a>
              </li>
              <li><a href="{% url 'participants:frontend:geosearch' %}">Поиск по местоположению</a></li>
            </ul>
            <table class="table">
                {% for cbs in  cbs_list %}
                    <tr>
                        <td>
                            {% if cbs.republican %}
                                <div><a href="{% url 'participant_site:frontend:index' cbs.code %}">{{ cbs.name }}</a></div>
                            {% else %}
                                <div><a href="{% url 'participants:frontend:branches' cbs.code %}">{{ cbs.name }}</a></div>
                            {% endif %}

                            <div>
                                <a class="btn btn-mini btn-info" href="{% url 'ssearch:frontend:index' %}?library={{ cbs.code }}">поиск в каталоге</a>
                            </div>
                        </td>
                    </tr>
                {% empty %}
                    Список еще не сформирован
                {% endfor %}
            </table>
        </div>
    </div>

    </div>
{% endblock %}