{% extends 'theme_frontend_base.html' %}
{% block title %}Библиотеки{% endblock %}
{% block content %}
    <nav class="bg bg_second">
        <div class="container">
            {% include 'main_menu.html' %}
        </div>
    </nav>
    <main>
        <div class="container">
            <ul class="bread__crumbs">
                <li><a href="{% url 'index:frontend:index' %}" class="bread__crumbs_link">Главная</a></li>

                <li>
                    <img src="{{ STATIC_URL }}dist/images/br_crumbs.svg">
                </li>
                <li>
                    <a class="bread__crumbs_link bread__crumbs_link_active">
                        Библиотеки
                    </a>
                </li>
            </ul>
        </div>
        <hr class="footer-hr">
        <div class="container content-page">
            <div class="row">
                <div class="col-12">
                    <h1 class="content-page__title">Библиотеки Республики Татарстан</h1>

                    <div class="content-page__text">
                        <p><a href="#list">Список</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div id="lib-finder">
            <div class="loader-box" style="text-align: center; padding: 40px;">
                <img src="{{ STATIC_URL }}dist/images/logo.png">
            </div>
        </div>
        <div class="container content-page">
            <div class="row">
                <div class="col-12">
                    <a name="list"></a>

                    <div class="result-container">
                        {% for cbs in  cbs_list %}
                            <div class="result">
                                <div class="result__info">
                                    <h3>
                                        {% if cbs.republican %}
                                            <a href="{% url 'participant_site:frontend:index' cbs.code %}">{{ cbs.name }}</a>
                                        {% else %}
                                            <a href="{% url 'participants:frontend:branches' cbs.code %}">{{ cbs.name }}</a>
                                        {% endif %}
                                    </h3>

                                    <a class="result__detail__print"
                                       href="{% url 'ssearch:frontend:index' %}?library={{ cbs.code }}" target="_blank">
                                        Поиск в каталоге
                                    </a>
                                </div>
                            </div>
                        {% empty %}
                            Список еще не сформирован
                        {% endfor %}
                    </div>
                </div>
            </div>


        </div>
    </main>
{% endblock %}
{% block scripts %}
    <script>
        System.import('participants/index.js');
    </script>
{% endblock %}