{% extends 'theme_frontend_base.html' %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}Личный кабинет{% endblock %}
{% block content %}
    <nav class="bg bg_second">
        <div class="container">
            {% include 'main_menu.html' %}
        </div>
    </nav>
    <main>
        <div class="container">
            <ul class="bread__crumbs">
                <li>
                    <a href="{% url 'index:frontend:index' %}" class="bread__crumbs_link">
                        {% if LANGUAGE_CODE == 'ru' %}
                            Главная
                        {% elif LANGUAGE_CODE == 'tt' %}
                            Төп бит
                        {% else %}
                            Home
                        {% endif %}
                    </a>
                </li>
                <li>
                    <img src="{{ STATIC_URL }}dist/images/br_crumbs.svg">
                </li>
                <li>
                    <a class="bread__crumbs_link bread__crumbs_link_active">
                        Личный кабинет
                    </a>
                </li>
            </ul>
        </div>
        <hr class="footer-hr">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="content-page__title">Личный кабинет
                        <span>(
                             {% if not ruslan_user %}
                                    Вы не являетесь читателем
                                {% else %}
                                    Ваш идентификатор читателя: <b>{{ ruslan_user.username }}</b>
                                {% endif %}
                        )</span>
                    </h1>
                    {% if current_library %}
                        <div class="content-page__text">
                            Поиск в библиотеке:
                            <a href="{% url 'ssearch:frontend:ecatalog' %}?library={{ current_library.code|urlencode }}">
                            {% for ancestor in current_library.get_ancestors %}
                                {{ ancestor.name }} →
                            {% endfor %}
                            <b>{{ current_library.name }}</b>
                            </a>
                        </div>
                    {% endif %}
                    <div class="big-block__margin">
                        <div class="row">
                            <div class="col-6">
                                <a href="{% url 'orders:frontend:reservations' %}" class="big-block big-block_border"
                                   title="Заказы на бронирование">
                                    <h2 class="big-block__title">Заказы на бронирование</h2>
                                    <img class="pr1" src="{{ STATIC_URL }}dist/images/pr1.png">
                                </a>
                            </div>
                            <div class="col-6">
                                <a href="{% url 'mydocs:frontend:index' %}" class="big-block big-block_border"
                                   title="Мои документы">
                                    <h2 class="big-block__title">Мои документы</h2>
                                    <img class="pr2" src="{{ STATIC_URL }}dist/images/pr2.png">
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <a href="{% url 'ssearch:frontend:saved_search_requests' %}"
                                   class="big-block big-block_border" title="Заказы на бронирование">
                                    <h2 class="big-block__title">Поисковые запросы</h2>
                                    <img class="pr3" src="{{ STATIC_URL }}dist/images/pr3.png">
                                </a>
                            </div>
                            <div class="col-6">
                                <a href="{% url 'orders:frontend:on_hand' %}" class="big-block big-block_border"
                                   title="Мои документы">
                                    <h2 class="big-block__title">Выданные книги</h2>
                                    <img class="pr4" src="{{ STATIC_URL }}dist/images/pr4.png">
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <a href="{% url 'ask_librarian:frontend:my_questions' %}"
                                   class="big-block big-block_border" title="Заказы на бронирование">
                                    <h2 class="big-block__title">Мои вопросы</h2>
                                    <img class="pr5" src="{{ STATIC_URL }}dist/images/pr5.png">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}