{% extends 'theme_frontend_base.html' %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load pagination_tag %}
{% block title %}{{ content.title }}{% endblock %}
{% block content %}
    <main>
        <div class="container">
            <nav class="crumb">
                <ol class="crumb__list">
                    <li>
                        <a href="{% url 'index:frontend:index' %}">
                            {% if LANGUAGE_CODE == 'ru' %}
                                Главная
                            {% elif LANGUAGE_CODE == 'tt' %}
                                Төп бит
                            {% else %}
                                Home
                            {% endif %}
                        </a>
                    </li>
                    <li>
                        <span class="crumb__current">
                             {% if LANGUAGE_CODE == 'ru' %}Новые поступления{% elif LANGUAGE_CODE == 'tt' %}Соңгы
                                 кертелгән
                                 китаплар{% else %}From new arrivals{% endif %}
                        </span>
                    </li>
                </ol>
            </nav>
            <div class="content">
                <h1 class="content__title">
                    {% if LANGUAGE_CODE == 'ru' %}Новые поступления{% elif LANGUAGE_CODE == 'tt' %}Соңгы кертелгән
                        китаплар{% else %}From new arrivals{% endif %}
                </h1>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-9 col-md-12">
                    <div class="list list_mt">
                        {% for item in items_list %}
                            {% if item.id_in_catalog %}
                                {% url 'ssearch:frontend:detail'  item.id_in_catalog  as item_url %}
                            {% else %}
                                {% url 'newinlib:frontend:show' item.id as item_url %}
                            {% endif %}
                            <div class="list__item">
                                <div class="list__col-text">
                                    <h3 class="list__title">
                                        <a class="list__title-link"
                                           href="{{ item_url }}">{{ item.item_content.title }}</a>
                                    </h3>
                                    <p class="list__description">
                                        {{ item.item_content.content|safe }}
                                    </p>
                                </div>
                                <div class="list__col-img">
                                    <div class="list__img-wrap">
                                        {% if item.avatar_img_name %}
                                            <img class="list__img"
                                                 src="{{ MEDIA_URL }}uploads/newinlib/itemavatars/{{ item.avatar_img_name }}"
                                                 alt="{{ item.item_content.title }}">
                                        {% else %}
                                            <img class="list__img"
                                                 src="{{ STATIC_URL }}dist/images/list/file.svg"
                                                 alt="{{ item.item_content.title }}">
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {% admin_pagination items_page %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}