<div>Статистика по коллекциям1:</div>
<div>
    <ul>
        {% for collection in stats.collections %}
            {% if collection.title == 'Фонд И. А. Второва' %}
            <li><a href="{% url ssearch:frontend:ecollection %}?q=%2A&q=Фонд+И.+А.+Второва&attr=text&attr=fond&in_founded=on">{{ collection.title }}</a>: <b>{{ collection.value }}</b></li>
            {%  elif collection.title == 'Коллекция И. А. Сахарова'%}
                <li><a href="{% url ssearch:frontend:ecollection %}?q=%2A&q=Коллекция+И.+А.+Сахарова&attr=text&attr=fond&in_founded=on">{{ collection.title }}</a>: <b>{{ collection.value }}</b></li>
            {%  elif collection.title == 'Татарика'%}
                <li><a href="{% url ssearch:frontend:ecollection %}?q=%2A&q=Татарика&attr=text&attr=fond&in_founded=on">{{ collection.title }}</a>: <b>{{ collection.value }}</b></li>
            {%  elif collection.title == 'Прижизненные издания Г.Тукая'%}
                <li><a href="{% url ssearch:frontend:ecollection %}?q=%2A&q=Прижизненные+издания+Г.Тукая&attr=text&attr=fond&in_founded=on">{{ collection.title }}</a>: <b>{{ collection.value }}</b></li>
            {%  elif collection.title == 'Коллекция русской старопечатной книги (до 1830 г.)'%}
                <li><a href="{% url ssearch:frontend:ecollection %}?q=%2A&q=Коллекция+русской+старопечатной+книги+(до+1830+г.)&attr=text&attr=fond&in_founded=on">{{ collection.title }}</a>: <b>{{ collection.value }}</b></li>
            {%  elif collection.title == 'Книги подаренные авторами'%}
                <li><a href="{% url ssearch:frontend:ecollection %}?q=%2A&q=Книг+подаренные+авторами&attr=text&attr=fond&in_founded=on">{{ collection.title }}</a>: <b>{{ collection.value }}</b></li>
            {%  elif collection.title == 'Периодические издания Казанской губернии'%}
                <li><a href="{% url ssearch:frontend:ecollection %}?q=%2A&q=Периодические+издания+Казанской+губернии&attr=text&attr=fond&in_founded=on">{{ collection.title }}</a>: <b>{{ collection.value }}</b></li>
            {%  elif collection.title == 'Тестовая коллекция'%}
                <li><a href="{% url ssearch:frontend:ecollection %}?q=%2A&q=Тестовая+коллекция&attr=text&attr=fond&in_founded=on">{{ collection.title }}</a>: <b>{{ collection.value }}</b></li>

            {% else %}
                <li><a href="#1">{{ collection.title }}</a>: <b>{{ collection.value }}</b></li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
<div>Всего документов в коллекции: {{ stats.count_all }}</div>
<div>Добавлено за текущий месяц: {{ stats.count_last_month }}</div>
<div>Добавлено за последние 30 дней: {{ stats.count_last_30 }}</div>


