{% extends 'theme_frontend_base.html' %}
{% load hash %}
{% load ssearch_tags %}
{% load order_tags %}
{% load mydocs_tags %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}{% if LANGUAGE_CODE == 'ru' %}Детальная информация{% elif LANGUAGE_CODE == 'tt' %}Детальная информация
{% else %}Detail information{% endif %}{% endblock %}
{% block content %}
    <nav class="bg bg_second">
        <div class="container">
            {% include 'main_menu.html' %}
        </div>
    </nav>
    <main>
        <div class="container">
            <ul class="bread__crumbs">

                <li><a class="bread__crumbs_link" href="{% url 'index:frontend:index' %}">{% if LANGUAGE_CODE == 'ru' %}
                    Главная{% elif LANGUAGE_CODE == 'tt' %}Главная{% else %}Home{% endif %}</a></li>
                <li>
                    <img src="{{ STATIC_URL }}dist/images/br_crumbs.svg">
                </li>
                <li><a class="bread__crumbs_link" href="{% url 'ssearch:frontend:index' %}">
                    {% if LANGUAGE_CODE == 'ru' %}Поиск{% elif LANGUAGE_CODE == 'tt' %}Эзләү{% else %}
                        Search{% endif %}</a></li>
                {% if request.GET.back %}
                    <li>
                        <img src="{{ STATIC_URL }}dist/images/br_crumbs.svg">
                    </li>
                    <li><a class="bread__crumbs_link" href="{{ request.GET.back }}">{% if LANGUAGE_CODE == 'ru' %}
                        Результаты поиска{% elif LANGUAGE_CODE == 'tt' %}Эзләү нәтиҗәләре{% else %}Search
                        results{% endif %}</a></li>
                {% endif %}
                <li>
                    <img src="{{ STATIC_URL }}dist/images/br_crumbs.svg">
                </li>
                <li><a class="bread__crumbs_link bread__crumbs_link_active">{% if LANGUAGE_CODE == 'ru' %}Детальная
                    информация{% elif LANGUAGE_CODE == 'tt' %}Детальная информация{% else %}Detail
                    information{% endif %}</a></li>

            </ul>
        </div>
        <hr class="footer-hr">
        <div class="container detail-page">
            <div class="row">
                <div class="col-8">

                    <div class="tab-container">
                        <h1 class="detail-page__title">Детальная информация</h1>
                        <ul class="tab-container__tabs">
                            <li class="active">{% if LANGUAGE_CODE == 'ru' %}Карточка{% elif LANGUAGE_CODE == 'tt' %}
                                Карточка{% else %}Card{% endif %}</li>
                            <li>Marc</li>
                        </ul>
                        <div class="detail-page__options detail-page__options_border-bottom">
                            {% drow_save_doc request.user gen_id %}
                            <a class="detail-page__options__btn" href="{% url 'ssearch:frontend:to_print' gen_id %}"
                               target="_blank">Печать</a>
                            <span class="detail-page__options__count">{% if LANGUAGE_CODE == 'ru' %}Количество
                                обращений{% elif LANGUAGE_CODE == 'tt' %}Количество обращений{% else %}Views{% endif %}
                                : {{ access_count }}</span>
                        </div>
                        <ul class="tab-container__tab">
                            <li class="active">
                                <div class="detail-page__info">
                                    {{ doc_dump|safe }}
                                </div>
                            </li>
                            <li>
                                <div class="detail-page__info">
                                    <div class="marc_dump">
                                        {{ marc_dump|safe }}
                                    </div>
                                </div>
                            </li>
                        </ul>

                        {% if linked_docs %}
                            <style>
                                .results {
                                    font-family: 'Roboto', sans-serif;
                                    font-size: 18px;
                                    font-weight: 300;
                                    color: #000;
                                    line-height: 28px;
                                }

                                .results .header {
                                    margin: 45px 10px 0 40px;
                                    font-family: RobotoSlabBold;
                                    color: #373737;
                                    font-weight: 500;
                                    font-size: 26px;
                                    line-height: 36px;
                                }

                                .results ul {
                                    margin: 0 40px;
                                    line-height: 16px;
                                    font-size: 18px;
                                }

                                .results a {
                                  color: #3062a4;
                                }

                                .results a:hover {
                                    color: #e8290c;
                                  }
                            </style>
                            <div class="results">
                                <p class="header">Это издание состоит из следующих томов/частей: </p>
                                <ul class="list">
                                    {% for doc in linked_docs %}

                                        <li class="textBook">
                                            <p class="item1"><a target="_blank"
                                                                href="{% url 'ssearch:frontend:detail' doc.id %}">{{ doc.record.title.0 }}</a>
                                            </p>

                                            <p class="item2">
                                                {% for author in doc.record.author %}
                                                    {{ author }}{% if not forloop.last %}; {% endif %}
                                                {% endfor %}
                                            </p>

                                            <p class="item3">
                                                {% for subject in doc.record|hash:'subject-heading' %}
                                                    <span class="label label-info">{{ subject }}</span>
                                                {% endfor %}
                                            </p>
                                            {% if doc.record|hash:'code-language' %}
                                                <p class="item4">{% if LANGUAGE_CODE == 'ru' %}
                                                    Язык{% elif LANGUAGE_CODE == 'tt' %}Тел{% else %}
                                                    Language{% endif %}:
                                                    {% for lang in doc.record|hash:'code-language' %}
                                                        {% if not forloop.last %}
                                                            {{ lang|language_title }},
                                                        {% else %}
                                                            {{ lang|language_title }}
                                                        {% endif %}
                                                    {% endfor %}
                                                </p>
                                            {% endif %}
                                            {% if doc.record|hash:'date-of-publication' %}
                                                <p class="item4">{% if LANGUAGE_CODE == 'ru' %}Год
                                                    публикации{% elif LANGUAGE_CODE == 'tt' %}Бастырып
                                                    чыгару елы{% else %}
                                                    Publication year{% endif %}:
                                                    {% for dop in doc.record|hash:'date-of-publication' %}
                                                        {% if not forloop.last %}
                                                            {{ dop }},
                                                        {% else %}
                                                            {{ dop }}
                                                        {% endif %}
                                                    {% endfor %}
                                                </p>
                                            {% endif %}
                                            {% if doc.record|hash:'publisher' %}
                                                <p class="item4">Издатель:
                                                    {% for publisher in doc.record|hash:'publisher' %}
                                                        {% if not forloop.last %}
                                                            {{ publisher }},
                                                        {% else %}
                                                            {{ publisher }}
                                                        {% endif %}
                                                    {% endfor %}
                                                </p>
                                            {% endif %}
                                            {% if doc.record|hash:'content-type' %}
                                                <p class="item4">{% if LANGUAGE_CODE == 'ru' %}Тип
                                                    содержания{% elif LANGUAGE_CODE == 'tt' %}Эчтәлек
                                                    тибы{% else %}Content
                                                    tipe{% endif %}:
                                                    {% for content_type in doc.record|hash:'content-type' %}
                                                        {% if not forloop.last %}
                                                            {{ content_type|content_type_title }},
                                                        {% else %}
                                                            {{ content_type|content_type_title }}
                                                        {% endif %}
                                                    {% endfor %}
                                                </p>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}


                        {#                        <div class="detail-page__options detail-page__options_border-top">#}
                        {#                            <a class="detail-page__options__btn-atrr" href="#" title="">#}
                        {#                                <img src="{{ STATIC_URL }}dist/images/jpg.png" alt="Обложка">#}
                        {#                                <span>Обложка</span>#}
                        {#                            </a>#}
                        {#                            <a class="detail-page__options__btn-atrr" href="#" title="">#}
                        {#                                <img src="{{ STATIC_URL }}dist/images/pdf.png" alt="Оглавление">#}
                        {#                                <span>Оглавление</span>#}
                        {#                            </a>#}
                        {#                        </div>#}
                    </div>
                </div>
                <div class="col-4">
                    <div class="reserv-box">


                        {% drow_el_order_menu doc.holders doc|hash:"local-number"|hash:0 %}

                    </div>
                </div>
            </div>
        </div>
    </main>

    <script>


        function insertParam(href, key, value) {
            if (href.indexOf('?') > -1) {
                return href + '&' + key + '=' + value;
            } else {
                return href + '?' + key + '=' + value;
            }
        }

    </script>
    <script>
        $(function () {
            if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
                $('.record a').each(function (index) {
                    var $elink = $(this);
                    var href = $elink.attr('href');
                    var hrefParts = href.split('/');
                    if (hrefParts[hrefParts.length - 2] === 'dl') {
                        var newHref = hrefParts.slice(0, hrefParts.length - 1).join('/') + '/pdf/' + hrefParts[hrefParts.length - 1] + '.pdf';
                        $elink.attr('href', newHref);
                        $elink.attr('target', '_blank');
                    }
                });
            } else {
                $('#card .elink').click(function () {
                    var elink_href = $(this).attr('href');
                    $(this).attr('href', insertParam(elink_href, 'gen_id', '{{ gen_id|urlencode }}'));
                });
            }
        });
    </script>
{% endblock %}