{% extends 'theme_frontend_base.html' %}
{% load hash %}
{% load ssearch_tags %}
{% load order_tags %}
{% load mydocs_tags %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}{% if LANGUAGE_CODE == 'ru' %}Детальная информация{% elif LANGUAGE_CODE == 'tt' %}Детальная информация{% else %}Detail information{% endif %}{% endblock %}
{% block content %}
    <style type="text/css">
        .marc_dump span.fieldlabel, span.subfieldlabel {
            font-family: monospace;
            color: blue;
        }

        .marc_dump span.data, span.indicator {
            font-family: monospace;
        }

        .marc_dump span.label {
            font-family: monospace;
        }
        .record {
            font-weight: normal;
        }
    </style>
    <div class="span12">
        <ul class="breadcrumb">

            <li><a href="{% url 'index:frontend:index' %}">{% if LANGUAGE_CODE == 'ru' %}Начало{% elif LANGUAGE_CODE == 'tt' %}Начало{% else %}Home{% endif %}</a> <span class="divider">/</span></li>
            <li><a href="{% url 'ssearch:frontend:index' %}">{% if LANGUAGE_CODE == 'ru' %}Поиск{% elif LANGUAGE_CODE == 'tt' %}Эзләү{% else %}Search{% endif %}</a> <span class="divider">/</span></li>
            {% if request.GET.back %}
                <li><a href="{{ request.GET.back }}">{% if LANGUAGE_CODE == 'ru' %}Результаты поиска{% elif LANGUAGE_CODE == 'tt' %}Эзләү нәтиҗәләре{% else %}Search results{% endif %}</a> <span class="divider">/</span></li>
            {% endif %}
            <li class="active">{% if LANGUAGE_CODE == 'ru' %}Детальная информация{% elif LANGUAGE_CODE == 'tt' %}Детальная информация{% else %}Detail information{% endif %}</li>

        </ul>
        <div class="row">
            <div class="span2">
                <p>{% drow_save_doc request.user gen_id %}</p>
                <p><a class="btn" href="{% url 'ssearch:frontend:to_print' gen_id %}" target="_blank"><i class="icon-print"></i>Печать</a></p>
                <hr/>
                <div>
                    {% if LANGUAGE_CODE == 'ru' %}Количество обращений{% elif LANGUAGE_CODE == 'tt' %}Количество обращений{% else %}Views{% endif %}: {{ access_count }}
                </div>
            </div>

            <div class="span10">
                <ul class="nav nav-tabs">
                    <li class="dropdown active">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Просмотр <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#card" data-toggle="tab">{% if LANGUAGE_CODE == 'ru' %}Карточка{% elif LANGUAGE_CODE == 'tt' %}Карточка{% else %}Card{% endif %}</a></li>
                            <li><a href="#marc" data-toggle="tab">Marc</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="card">{{ doc_dump|safe }}</div>
                    <div class="tab-pane" id="marc">{{ marc_dump|safe }}</div>
                </div>

                <div class="holders" style="clear: both;">
                    <hr/>
                         {% drow_el_order_menu doc.holders doc|hash:"local-number"|hash:0 %}
                </div>

            {% if linked_docs %}
                <style>
                .results ul {
                    padding: 0;
                    margin: 0;
                    list-style: none;
                }
                    .textBook p {
                        line-height: 20px;
                        margin: 0;
                        padding: 0;
                        color: #7D7D7D;
                    }
                    .textBook p.item1 a {
                        font-size: 16px;
                        font-weight: bold;

                    }
                    .textBook p.item2 {
                        color: #3f3f3f;
                    }
                    .textBook .label {
                        background: #51A351;
                    }
                </style>
            <div class="results">
            <div class="alert alert-success">Это издание состоит из следующих томов/частей:</div>
            <ul class="list">
                    {% for doc in linked_docs %}

                        <li class="textBook">
                            <p class="item1"><a target="_blank" href="{% url 'ssearch:frontend:detail' doc.id %}">{{ doc.record.title.0 }}</a></p>
                            <p class="item2">
                                {% for author in doc.record.author %}
                                    {{ author }}{% if not forloop.last %}; {% endif %}
                                {% endfor %}
                            </p>
                            <p class="item3">
                                {% for subject in doc.record|hash:'subject-heading' %}
                                    <span class="label label-info">{{ subject }}</span>
                                {% endfor %}
                            </p>
                            {% if doc.record|hash:'code-language' %}
                                <p class="item4">{% if LANGUAGE_CODE == 'ru' %}Язык{% elif LANGUAGE_CODE == 'tt' %}Тел{% else %}Language{% endif %}:
                                    {% for lang in doc.record|hash:'code-language' %}
                                        {% if not forloop.last %}
                                            {{ lang|language_title }},
                                        {% else %}
                                            {{ lang|language_title }}
                                        {% endif %}
                                    {% endfor %}
                                </p>
                            {% endif %}
                            {% if doc.record|hash:'date-of-publication' %}
                                <p class="item4">{% if LANGUAGE_CODE == 'ru' %}Год публикации{% elif LANGUAGE_CODE == 'tt' %}Бастырып чыгару елы{% else %}Publication year{% endif %}:
                                    {% for dop in doc.record|hash:'date-of-publication' %}
                                        {% if not forloop.last %}
                                            {{ dop }},
                                        {% else %}
                                            {{ dop }}
                                        {% endif %}
                                    {% endfor %}
                                </p>
                            {% endif %}
                            {% if doc.record|hash:'publisher' %}
                                <p class="item4">Издатель:
                                    {% for publisher in doc.record|hash:'publisher' %}
                                        {% if not forloop.last %}
                                            {{ publisher }},
                                        {% else %}
                                            {{ publisher }}
                                        {% endif %}
                                    {% endfor %}
                                </p>
                            {% endif %}
                            {% if doc.record|hash:'content-type' %}
                                <p class="item4">{% if LANGUAGE_CODE == 'ru' %}Тип содержания{% elif LANGUAGE_CODE == 'tt' %}Эчтәлек тибы{% else %}Content tipe{% endif %}:
                                    {% for content_type in doc.record|hash:'content-type' %}
                                        {% if not forloop.last %}
                                            {{ content_type|content_type_title }},
                                        {% else %}
                                            {{ content_type|content_type_title }}
                                        {% endif %}
                                    {% endfor %}
                                </p>
                            {% endif %}
                        </li>
                        <hr/>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            </div>
        </div>
    </div>
    <script>
       $('#card .elink').click(function(){
           var elink_href = $(this).attr('href');
           $(this).attr('href', insertParam(elink_href, 'gen_id', '{{ gen_id|urlencode }}'));
       });

        function insertParam(href, key, value){
            if (href.indexOf('?') > -1){
                return href + '&'+ key +'=' + value;
            }else{
                return href + '?'+ key +'=' + value;
            }
        }

    </script>
    <script>
        $(function () {
            if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
                $('.record .elink').each(function (index) {
                    var $elink = $(this);
                    var href = $elink.attr('href');
                    var hrefParts = href.split('/');
                    if (hrefParts[hrefParts.length - 2] === 'dl') {
                        var newHref = hrefParts.slice(0, hrefParts.length - 1).join('/') + '/pdf/' + hrefParts[hrefParts.length - 1] + '.pdf';
                        $elink.attr('href', newHref);
                        $elink.attr('target', '_blank');
                    }
                });
            }
        });
    </script>
{% endblock %}