{% extends 'theme_frontend_base.html' %}
{% load add_get_tag %}
{% load pagination_tag %}
{% load hash %}
{% load ssearch_tags %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}Поиск по каталогу{% endblock %}
{% block content %}
    <style>
        .form-search{
            margin-bottom: 5px;
        }
        .results {
            margin-top: 10px;
        }
        .facets{
            margin-top: 10px;
        }
        .facets .facet_title{
            font-weight: bold;
            font-size: 14px;
            color: #434343;
        }
        .results .title{
            font-size: 16px;
        }
        .results ul.list{
            list-style: none;
            margin: 0;
        }
        .results .highlights em{
            background-color: #f4f379;
        }
        .sorting {
            margin-left: 25px;
        }
        .info ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        .serach_area .actions{
            margin-top: 10px;
            padding: 10px 5px 10px 5px;
        }
        .sorting form{
            margin: 0;
        }
        .textBook p {
            line-height: 20px;
            margin: 0;
            padding: 0;
            color: #7D7D7D;
        }
        .textBook p.item1 a {
            font-size: 16px;
            font-weight: bold;

        }
        .textBook p.item2 {
            color: #3f3f3f;
        }
        .textBook .label {
            background: #51A351;
        }

        .subject a{
            color: #fff;
        }
    </style>
    <div class="serach_area span12">

    <div class="row">
        <div class="span12">
            <ul class="breadcrumb">

                <li><a href="{% url index:frontend:index %}">Начало</a> <span class="divider">/</span></li>
                {% if request.GET.q %}
                    <li><a href="{% url ssearch:frontend:index %}">{% if LANGUAGE_CODE == 'ru' %}Поиск{% elif LANGUAGE_CODE == 'tt' %}Эзләү{% else %}Search{% endif %}</a> <span class="divider">/</span></li>
                    <li class="active">{% if LANGUAGE_CODE == 'ru' %}Результаты поиска:  найдено документов{% elif LANGUAGE_CODE == 'tt' %}Эзләү нәтиҗәләре: документлар табылды{% else %}Search results: finded records{% endif %}:  <b>{{ search_statisics.num_found }}</b>, {% if LANGUAGE_CODE == 'ru' %}время выполнения запроса{% elif LANGUAGE_CODE == 'tt' %}сорау үтәлү вакыты{% else %}request time{% endif %}: <b>{{ search_statisics.search_time }}</b> s.</li>
                {% else %}
                    <li class="active">{% if LANGUAGE_CODE == 'ru' %}Поиск{% elif LANGUAGE_CODE == 'tt' %}Эзләү{% else %}Search{% endif %}</li>
                {% endif %}

            </ul>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <form class="form-search" method="GET">
                {% for search_breadcumb in search_breadcumbs %}
                    <input type="hidden" name="fattr" value="{{ search_breadcumb.attr }}">
                    <input type="hidden" name="fq" value="{{ search_breadcumb.value }}">
                {% endfor %}
                <select name="attr" style="font-weight: bold; width: 150px; margin-right: 35px; margin-top: -30px;">
                    <option value="text_t" {% if request.GET.attr == 'text_t' %}selected="selected"{% endif %}>{% if LANGUAGE_CODE == 'ru' %}Везде{% elif LANGUAGE_CODE == 'tt' %}Һәр урында{% else %}Anywhere{% endif %}</option>
                    <option value="author_t" {% if request.GET.attr == 'author_t' %}selected="selected"{% endif %}>{% if LANGUAGE_CODE == 'ru' %}Автор{% elif LANGUAGE_CODE == 'tt' %}Автор{% else %}Author{% endif %}</option>
                    <option value="title_t" {% if request.GET.attr == 'title_t' %}selected="selected"{% endif %}>{% if LANGUAGE_CODE == 'ru' %}Заглавие{% elif LANGUAGE_CODE == 'tt' %}Исем{% else %}Title{% endif %}</option>
                    {% if catalog == 'ebooks' %}<option value="full-text" {% if request.GET.attr == 'full-text' %}selected="selected"{% endif %}>Полный текст</option>{% endif %}
                    <option value="subject-heading_t" {% if request.GET.attr == 'subject-heading_t' %}selected="selected"{% endif %}>{% if LANGUAGE_CODE == 'ru' %}Тематика{% elif LANGUAGE_CODE == 'tt' %}Темасы{% else %}Subject{% endif %}</option>
                    <option value="date-of-publication_dt" {% if request.GET.attr == 'date-of-publication_dt' %}selected="selected"{% endif %}>{% if LANGUAGE_CODE == 'ru' %}Год публикации{% elif LANGUAGE_CODE == 'tt' %}Бастырып чыгару елы{% else %}Publication year{% endif %}</option>
                    <option value="isbn_t" {% if request.GET.attr == 'isbn_t' %}selected="selected"{% endif %}>ISBN</option>
                    <option value="issn_t" {% if request.GET.attr == 'issn_t' %}selected="selected"{% endif %}>ISSN</option>

                </select>
                {#            <input type="text" class="search-query" name="q" style="width: 64%" value="{{ request.GET.q }}"/>#}
                {#            <input type="submit" class="btn btn-success" style="width: 10%" value="Поиск">#}
                <div class="input-append">
                    <input  name="q" class="span8" id="appendedInputButton" size="16" type="text"><input type="submit" class="btn btn-success span2" value="Поиск">
                </div>
{#                <br/>#}
                {% if LANGUAGE_CODE == 'ru' %}Искать в найденном{% elif LANGUAGE_CODE == 'tt' %}Табылганнан эзләү{% else %}search in results{% endif %}: <input type="checkbox" name="in_founded"  {% if request.GET.in_founded %}checked="checked"{% endif %}>
            </form>

        </div>

    </div>
    {% if not docs and stats %}
        <div class="row">
            <div class="span12 ">
                <div class="well">
                {% include 'ssearch/frontend/catalogs.html' %}
                </div>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="span12">

            {% if search_breadcumbs %}
                <div class="actions">
                    <div>
                        {% if request.user.is_authenticated %}
                            <a href="{% url ssearch:frontend:save_search_request %}?srequest={{ search_request|urlencode }}&catalog={{ catalog|urlencode }}"  class="btn btn-mini" id="save_request_button">Сохранить запрос</a> →
                        {% endif %}
                        <b>Поиск</b>:
                        {% for search_breadcumb in search_breadcumbs %}
                            {% if not forloop.last %}
                                <span><a href="?{{ search_breadcumb.href }}">{{ search_breadcumb.attr|facet_title }}: {{ search_breadcumb.value|lower|capfirst }}</a></span> →
                            {% else %}
                                {#                <li><a href="{% add_get_append q=value.0 attr='content-type' %}">{{ value.0|content_type_title }}</a> (<b>{{ value.1 }}</b>)</li>#}
                                {% if search_breadcumb.attr == 'content-type' %}
                                    <span>{{ search_breadcumb.attr|facet_title }}: {{ search_breadcumb.value|content_type_title }}</span>
                                {% elif search_breadcumb.attr == 'code-language' %}
                                    <span>{{ search_breadcumb.attr|facet_title }}: {{ search_breadcumb.value|language_title }}</span>
                                {% else %}
                                    <span>{{ search_breadcumb.attr|facet_title }}: {{ search_breadcumb.value|lower|capfirst }}</span>
                                {% endif %}
                            {% endif %}
                        {% endfor %}

                    </div>
                    <div class="sorting">
                        <form action="{{ request.path }}?{{ request.GET.urlencode }}" method="GET" class="form-inline" style="float: right;">
                            <label>{% if LANGUAGE_CODE == 'ru' %}Сортировать по{% elif LANGUAGE_CODE == 'tt' %}Аеру{% else %}Sort by{% endif %}:</label>
                            {% for sort_attr in sort %}
                                <select name="sort" style="width: auto;" class="sort_select">
                                    <option value="0">{% if LANGUAGE_CODE == 'ru' %}релевантности{% elif LANGUAGE_CODE == 'tt' %}релевантность буенча аеру{% else %}relevance{% endif %}</option>
                                    <option value="author" {% if sort_attr == 'author' %}selected="selected"{% endif %}>{% if LANGUAGE_CODE == 'ru' %}автору{% elif LANGUAGE_CODE == 'tt' %}автор{% else %}author{% endif %}</option>
                                    <option value="title" {% if sort_attr == 'title' %}selected="selected"{% endif %}>{% if LANGUAGE_CODE == 'ru' %}заглавию{% elif LANGUAGE_CODE == 'tt' %}исем{% else %}title{% endif %}</option>
                                    <option value="date-of-publication" {% if sort_attr == 'date-of-publication' %}selected="selected"{% endif %}>{% if LANGUAGE_CODE == 'ru' %}году публикации{% elif LANGUAGE_CODE == 'tt' %}бастырып чыгару елы{% else %}publication year{% endif %}</option>
                                    <option value="tom" {% if sort_attr == 'tom' %}selected="selected"{% endif %}>Тому/части</option>
                                </select>
                            {% empty %}
                                <select name="sort" style="width: auto;" class="sort_select">
                                    <option value="0">{% if LANGUAGE_CODE == 'ru' %}релевантности{% elif LANGUAGE_CODE == 'tt' %}релевантность буенча аеру{% else %}relevance{% endif %}</option>
                                    <option value="author" {% if sort_attr == 'author' %}selected="selected"{% endif %}>{% if LANGUAGE_CODE == 'ru' %}автору{% elif LANGUAGE_CODE == 'tt' %}автор{% else %}author{% endif %}</option>
                                    <option value="title" {% if sort_attr == 'title' %}selected="selected"{% endif %}>{% if LANGUAGE_CODE == 'ru' %}заглавию{% elif LANGUAGE_CODE == 'tt' %}исем{% else %}title{% endif %}</option>
                                    <option value="date-of-publication" {% if sort_attr == 'date-of-publication' %}selected="selected"{% endif %}>{% if LANGUAGE_CODE == 'ru' %}году публикации{% elif LANGUAGE_CODE == 'tt' %}бастырып чыгару елы{% else %}publication year{% endif %}</option>
                                    <option value="tom" {% if sort_attr == 'tom' %}selected="selected"{% endif %}>Тому/части</option>
                                </select>
                            {% endfor %}
                            <a href="#1" id="add_sort_button" title="{% if LANGUAGE_CODE == 'ru' %}Добавить условие сортировки{% elif LANGUAGE_CODE == 'tt' %}Добавить условие сортировки{% else %}add more sort condition{% endif %}">{% if LANGUAGE_CODE == 'ru' %}добавить{% elif LANGUAGE_CODE == 'tt' %}добавить{% else %}add more{% endif %}</a>
                            <button class="btn btn-small">{% if LANGUAGE_CODE == 'ru' %}Сортировать{% elif LANGUAGE_CODE == 'tt' %}Аеру{% else %}Sort{% endif %}</button>
                            {% for search_breadcumb in search_breadcumbs %}

                                {% if forloop.last %}
                                    <input type="hidden" name="attr" value="{{ search_breadcumb.attr }}">
                                    <input type="hidden" name="q" value="{{ search_breadcumb.value }}">
                                {% else %}
                                    <input type="hidden" name="fattr" value="{{ search_breadcumb.attr }}">
                                    <input type="hidden" name="fq" value="{{ search_breadcumb.value }}">
                                {% endif %}
                            {% endfor %}
                            <script type="text/javascript">
                                $('#add_sort_button').click(function(){
                                    if ($('.sort_select').length >= 3){
                                        return false;
                                    }
                                    $('.sort_select').last().clone().insertAfter($('.sort_select').last());
//                                $('.sort_select').last().insertAfter($('.sort_select').clone());
                                });
                            </script>
                        </form>
                    </div>

                    <div style="clear: both;"> </div>
                </div>

            {% endif %}

        </div>

        {% if docs %}
            <div class="results span10">



                <ul class="list">
                    {% for doc in docs %}

                        <li class="textBook">
                            <p class="item1">{{ forloop.counter0|add:results_page.start_index }}. <a href="{% url ssearch:frontend:detail doc.id %}?back={{ request.get_full_path|urlencode }}">{{ doc.record.title.0 }}</a></p>
                            <p class="item2">
                                {% for author in doc.record.author %}
                                    {{ author }}{% if not forloop.last %}; {% endif %}
                                {% endfor %}
                            </p>
                            <p class="item3">
                                {% for subject in doc.record|hash:'subject-heading' %}
                                    <span class="label label-info subject"><a href="{% add_get_append q=subject attr='subject-heading' %}">{{ subject }}</a></span>
                                {% endfor %}
                            </p>
                            {% if doc.record|hash:'code-language' %}
                                <p class="item4">{% if LANGUAGE_CODE == 'ru' %}Язык{% elif LANGUAGE_CODE == 'tt' %}Тел{% else %}Language{% endif %}:
                                    {% for lang in doc.record|hash:'code-language' %}
                                        {% if not forloop.last %}
                                            {{ lang|language_title }},
                                        {% else %}
                                            {{ lang|language_title }}
                                        {% endif %}
                                    {% endfor %}
                                </p>
                            {% endif %}
                            {% if doc.record|hash:'date-of-publication' %}
                                <p class="item4">{% if LANGUAGE_CODE == 'ru' %}Год публикации{% elif LANGUAGE_CODE == 'tt' %}Бастырып чыгару елы{% else %}Publication year{% endif %}:
                                    {% for dop in doc.record|hash:'date-of-publication' %}
                                        {% if not forloop.last %}
                                            {{ dop }},
                                        {% else %}
                                            {{ dop }}
                                        {% endif %}
                                    {% endfor %}
                                </p>
                            {% endif %}
                            {% if doc.record|hash:'publisher' %}
                                <p class="item4">Издательство:
                                    {% for publisher in doc.record|hash:'publisher' %}
                                        {% if not forloop.last %}
                                            {{ publisher }},
                                        {% else %}
                                            {{ publisher }}
                                        {% endif %}
                                    {% endfor %}
                                </p>
                            {% endif %}
                            {% if doc.record|hash:'fond' %}
                                <p class="item4">Коллекция:
                                    {% for fond in doc.record|hash:'fond' %}
                                        {% if not forloop.last %}
                                            {{ fond }},
                                        {% else %}
                                            {{ fond }}
                                        {% endif %}
                                    {% endfor %}
                                </p>
                            {% endif %}
                            {% if doc.record|hash:'content-type' %}
                                <p class="item4">{% if LANGUAGE_CODE == 'ru' %}Тип содержания{% elif LANGUAGE_CODE == 'tt' %}Эчтәлек тибы{% else %}Content tipe{% endif %}:
                                    {% for content_type in doc.record|hash:'content-type' %}
                                        {% if not forloop.last %}
                                            {{ content_type|content_type_title }},
                                        {% else %}
                                            {{ content_type|content_type_title }}
                                        {% endif %}
                                    {% endfor %}
                                </p>
                            {% endif %}
                            {% if doc.solr_highlights %}
                                <div>
                                <a  href="#1" class="context">Показать контекст</a>
                                <div class="highlights" style="display: none;">
                                    {{ doc.solr_highlights|hash:"full-text"|hash:0|safe }}
                                </div>
                                </div>
                            {% endif %}
                            <a href="{% url ssearch:frontend:to_print doc.id %}" target="_blank">Версия для печати</a>
                        </li>
                        <hr/>
                    {% endfor %}
                </ul>
                {% admin_pagination results_page %}
            </div>
            <div class="facets span2">
                <div class="row">
                    <ul style="list-style: none; padding: 0; margin: 0;" class="group">
                        {% for facet in facets %}
                               <li><span class="facet_title">{{ facet|facet_title }}</span>
                                <ul style="list-style: none">
                                    {% for value in facets|hash:facet %}
                                        {% if facet == 'date-of-publication_dt' %}
                                            <li class="child"><a href="{% add_get_append q=value.0|date_from_isostring|date:"Y" attr='date-of-publication_dt' %}">{{ value.0|date_from_isostring|date:"Y" }}</a> (<b>{{ value.1 }}</b>)</li>
                                        {% elif facet == 'content-type_t' %}
                                            <li class="child"><a href="{% add_get_append q=value.0 attr='content-type_sf' %}">{{ value.0|content_type_title }}</a> (<b>{{ value.1 }}</b>)</li>
                                        {% elif facet == 'subject-heading_sf' %}
                                            <li class="child"><a href="{% add_get_append q=value.0 attr=facet %}">{{ value.0|lower|capfirst }}</a> (<b>{{ value.1 }}</b>)</li>
                                        {% elif facet == 'code-language_t' %}
                                            <li class="child"><a href="{% add_get_append q=value.0 attr='code-language_sf' %}">{{ value.0|language_title }}</a> (<b>{{ value.1 }}</b>)</li>
                                        {% else %}
                                            <li class="child"><a href="{% add_get_append q=value.0 attr=facet %}">{{ value.0 }}</a> (<b>{{ value.1 }}</b>)</li>
{#                                        {% endif %}#}
                                    {% empty %}
                                        <li style="color: #808080;">сведений нет</li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            </div>
            <script type="text/javascript">
                $('#save_request_button').click(function(){
                    $.ajax({
                        url:$(this).attr('href'),
                        type:'GET',
                        dataType:"json",
                        async:true,
                        success:function (response) {
                            if (response['status'] == 'ok'){
                                var button = $('#save_request_button');
                                button.html('Сохранен');
                                button.addClass('disabled');
                                button.attr('href', '#1');

                            }
                            else{
                                alert('При сохранении возникла ошибка');
                            }
                        }
                    });
                    return false;
                });
            </script>
            <script>
                $('.context').click(function(){
                    var hightl =  $(this).parent().children('.highlights');
                    if(hightl.css('display') == 'none'){
                        hightl.show();
                        $(this).html('Скрыть контекст')
                    }else{
                        hightl.hide();
                        $(this).html('Показать контекст')
                    }
                });
            </script>
        {% endif %}
    </div>
    </div>
{% endblock %}