{% extends 'theme_frontend_base.html' %}
{% load add_get_tag %}
{% load pagination_tag %}
{% load hash %}
{% load ssearch_tags %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}Поиск по каталогу{% endblock %}
{% block content %}
    <nav class="bg bg_second">
        <div class="container">
            {% include 'main_menu.html' %}
        </div>
        <hr class="bg__hr">
        <div class="container">
            <div class="select_lib">
                {% if LANGUAGE_CODE == 'ru' %}
                    Поиск по библиотеке:
                {% elif LANGUAGE_CODE == 'tt' %}
                    Китапханә буенча эзләү:
                {% else %}
                    Search in library:
                {% endif %}
                {% if library %}
                    <a class="label label-warning" title="Убрать ограничение по библиотеке"
                       onclick="removeLibraryParam();" href="#remove_library">[ x ]</a>
                    <span>Поиск по записям {{ library.name }}</span>
                    <a title="Выбрать другую библиотеку" class="js_select_library label label-info"
                       href="#select_library">[ Выбрать другую ]</a>
                {% else %}
                    <a title="Ограничить результаты только по выбранной библиотеке"
                       class="js_select_library label label-info" href="#select_library">
                    {% if LANGUAGE_CODE == 'ru' %}
                        выбрать библиотеку
                    {% elif LANGUAGE_CODE == 'tt' %}
                        китапханәне сайлау
                    {% else %}
                        select a library:
                    {% endif %}
                    </a>
                {% endif %}
            </div>
            <div class="search-box search-box_second">
                <form method="GET">
                    {% if library %}
                        <input type="hidden" name="library" value="{{ library.code }}">
                    {% endif %}
                    {% for search_breadcumb in search_breadcumbs %}
                        <input type="hidden" name="fattr" value="{{ search_breadcumb.attr }}">
                        <input type="hidden" name="fq" value="{{ search_breadcumb.value }}">
                    {% endfor %}
                    <div class="search-form">
                        <input id="appendedInputButton" type="text_t" name="q" class="search-form__input"
                               placeholder="Введите автора, заглавие, тему...">
                    <span class="input-form-group">
                      <button class="search-form__submit" type="submit" title="Поиск"><img
                              src="{{ STATIC_URL }}dist/images/search.svg"></button>
                    </span>
                    </div>
                    <div class="search-btn">Поиск по:

                        <input id="q1" name="attr" type="radio" value="text_t"
                               {% if request.GET.attr == 'text_t' or not request.GET.attr %}checked{% endif %}>
                        <label class="search-btn__radio" for="q1">
                            {% if LANGUAGE_CODE == 'ru' %}Везде{% elif LANGUAGE_CODE == 'tt' %}Һәр урында{% else %}
                                Anywhere{% endif %}
                        </label>
                        <input id="q2" name="attr" type="radio" value="author_t"
                               {% if request.GET.attr == 'author_t' %}checked{% endif %}>
                        <label class="search-btn__radio" for="q2">
                            {% if LANGUAGE_CODE == 'ru' %}Автор{% elif LANGUAGE_CODE == 'tt' %}Автор{% else %}
                                Author{% endif %}
                        </label>
                        <input id="q3" name="attr" type="radio" value="title_t"
                               {% if request.GET.attr == 'title_t' %}checked{% endif %}>
                        <label class="search-btn__radio" for="q3">
                            {% if LANGUAGE_CODE == 'ru' %}Заглавие{% elif LANGUAGE_CODE == 'tt' %}Исем{% else %}
                                Title{% endif %}
                        </label>
                        {% if catalog == 'ebooks' %}
                            <input id="q4" name="attr" type="radio" value="full-text"
                                   {% if request.GET.attr == 'full-text' %}checked{% endif %}>
                            <label class="search-btn__radio" for="q4">Полный текст</label>
                        {% endif %}
                        <input id="q5" name="attr" type="radio" value="subject-heading_t"
                               {% if request.GET.attr == 'subject-heading_t' %}checked{% endif %}>
                        <label class="search-btn__radio" for="q5">
                            {% if LANGUAGE_CODE == 'ru' %}Тематика{% elif LANGUAGE_CODE == 'tt' %}Темасы{% else %}
                                Subject{% endif %}
                        </label>
                        <input id="q6" name="attr" type="radio" value="date-of-publication_s"
                               {% if request.GET.attr == 'date-of-publication_dt' %}checked{% endif %}>
                        <label class="search-btn__radio" for="q6">{% if LANGUAGE_CODE == 'ru' %}Год
                            публикации{% elif LANGUAGE_CODE == 'tt' %}Бастырып чыгару
                            елы{% else %}Publication year{% endif %}</label>
                        <input id="q7" name="attr" type="radio" value="isbn_t"
                               {% if request.GET.attr == 'isbn_t' %}checked{% endif %}>
                        <label class="search-btn__radio" for="q7">ISBN</label>
                        <input id="q8" name="attr" type="radio" value="issn_t"
                               {% if request.GET.attr == 'issn_t' %}checked{% endif %}>
                        <label class="search-btn__radio" for="q8">ISSN</label>
                    </div>
                    <div class="search-in-result">
                        <label>
                            <input type="checkbox" name="in_founded"
                                   {% if request.GET.in_founded %}checked="checked"{% endif %}>
                            {% if LANGUAGE_CODE == 'ru' %}Искать в найденном{% elif LANGUAGE_CODE == 'tt' %}Табылганнан
                                эзләү{% else %}search in results{% endif %}
                        </label>
                    </div>
                </form>
            </div>
        </div>
    </nav>
    <main>
        <div class="container">
            <ul class="bread__crumbs">
                <li><a class="bread__crumbs_link" href="{% url 'index:frontend:index' %}">
                    {% if LANGUAGE_CODE == 'ru' %}
                        Главная
                    {% elif LANGUAGE_CODE == 'tt' %}
                        Төп бит
                    {% else %}
                        Home
                    {% endif %}
                </a></li>
                {% if request.GET.q %}
                    <li>
                        <img src="{{ STATIC_URL }}dist/images/br_crumbs.svg">
                    </li>
                    <li><a class="bread__crumbs_link" href="{% url 'ssearch:frontend:index' %}">
                        {% if LANGUAGE_CODE == 'ru' %}
                            Поиск{% elif LANGUAGE_CODE == 'tt' %}Эзләү{% else %}Search{% endif %}</a>
                    </li>
                    <li>
                        <img src="{{ STATIC_URL }}dist/images/br_crumbs.svg">
                    </li>
                    <li>
                        <a class="bread__crumbs_link bread__crumbs_link_active">
                            {% if LANGUAGE_CODE == 'ru' %}
                                Результаты поиска:  найдено документов
                            {% elif LANGUAGE_CODE == 'tt' %}
                                Эзләү нәтиҗәләре: документлар табылды
                            {% else %}
                                Search results: finded records
                            {% endif %}:
                            {{ search_statisics.num_found }},
                            {% if LANGUAGE_CODE == 'ru' %}
                                время выполнения запроса
                            {% elif LANGUAGE_CODE == 'tt' %}
                                сорауүтәлү вакыты
                            {% else %}
                                request time
                            {% endif %}: {{ search_statisics.search_time }} с.
                        </a>
                    </li>
                {% else %}
                    <li>
                        <img src="{{ STATIC_URL }}dist/images/br_crumbs.svg">
                    </li>
                    <li><a class="bread__crumbs_link bread__crumbs_link_active">{% if LANGUAGE_CODE == 'ru' %}
                        Поиск{% elif LANGUAGE_CODE == 'tt' %}
                        Эзләү{% else %}Search{% endif %}
                    </a>
                    </li>
                {% endif %}

            </ul>
        </div>

        <hr class="footer-hr">

        {% if not docs and stats %}
            {% include 'ssearch/frontend/catalogs.html' %}
        {% endif %}

        <div class="container">
            <div class="row">
                <div class="col-8">
                    {% if search_breadcumbs %}
                        <ul class="bread__crumbs">
                            {% if request.user.is_authenticated %}
                                <li>
                                    <a href="{% url 'ssearch:frontend:save_search_request' %}?srequest={{ search_request|urlencode }}&catalog={{ catalog|urlencode }}"
                                       class="bread__crumbs_link" id="save_request_button">Сохранить запрос</a></li>
                            {% endif %}
                            <li><a class="bread__crumbs_link bread__crumbs_link_active">Поиск</a></li>
                            {% for search_breadcumb in search_breadcumbs %}
                                {% if not forloop.last %}
                                    <li>
                                        <img src="{{ STATIC_URL }}dist/images/br_crumbs.svg">
                                    </li>
                                    <li><a class="bread__crumbs_link"
                                           href="?{{ search_breadcumb.href }}">{{ search_breadcumb.attr|facet_title }}: {{ search_breadcumb.value|lower|capfirst }}</a>
                                    </li>

                                {% else %}
                                    {#                <li><a href="{% add_get_append q=value.0 attr='content-type' %}">{{ value.0|content_type_title }}</a> (<b>{{ value.1 }}</b>)</li>#}
                                    {% if search_breadcumb.attr == 'content-type_sf' %}
                                        <li>
                                            <img src="{{ STATIC_URL }}dist/images/br_crumbs.svg">
                                        </li>
                                        <li>
                                            <a class="bread__crumbs_link bread__crumbs_link_active">{{ search_breadcumb.attr|facet_title }}: {{ search_breadcumb.value|content_type_title }}</a>
                                        </li>
                                    {% elif search_breadcumb.attr == 'code-language_t' %}
                                        <li>
                                            <img src="{{ STATIC_URL }}dist/images/br_crumbs.svg">
                                        </li>
                                        <li>
                                            <a class="bread__crumbs_link bread__crumbs_link_active">{{ search_breadcumb.attr|facet_title }}: {{ search_breadcumb.value|language_title }}</a>
                                        </li>
                                    {% else %}
                                        <li>
                                            <img src="{{ STATIC_URL }}dist/images/br_crumbs.svg">
                                        </li>
                                        <li>
                                            <a class="bread__crumbs_link bread__crumbs_link_active">{{ search_breadcumb.attr|facet_title }}: {{ search_breadcumb.value|lower|capfirst }}</a>
                                        </li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                        </ul>
                        <form action="{{ request.path }}?{{ request.GET.urlencode }}" method="GET">
                            {% if library %}
                                <input type="hidden" name="library" value="{{ library.code }}">
                            {% endif %}
                            <div class="sort_select">{% if LANGUAGE_CODE == 'ru' %}Сортировать
                                по{% elif LANGUAGE_CODE == 'tt' %}
                                Аеру{% else %}Sort by{% endif %}:
                                {% for sort_attr in sort %}
                                    <select name="sort" onchange="this.form.submit()">
                                        <option value="0">{% if LANGUAGE_CODE == 'ru' %}
                                            релевантности{% elif LANGUAGE_CODE == 'tt' %}релевантность буенча
                                            аеру{% else %}
                                            relevance{% endif %}</option>
                                        <option value="author"
                                                {% if sort_attr == 'author' %}selected="selected"{% endif %}>
                                            {% if LANGUAGE_CODE == 'ru' %}автору{% elif LANGUAGE_CODE == 'tt' %}
                                                автор{% else %}author{% endif %}</option>
                                        <option value="title"
                                                {% if sort_attr == 'title' %}selected="selected"{% endif %}>
                                            {% if LANGUAGE_CODE == 'ru' %}
                                                заглавию{% elif LANGUAGE_CODE == 'tt' %}
                                                исем{% else %}title{% endif %}</option>
                                        <option value="date-of-publication"
                                                {% if sort_attr == 'date-of-publication' %}selected="selected"{% endif %}>
                                            {% if LANGUAGE_CODE == 'ru' %}году
                                                публикации{% elif LANGUAGE_CODE == 'tt' %}
                                                бастырып чыгару елы{% else %}publication
                                                year{% endif %}</option>
                                        <option value="record-create-date"
                                                {% if sort_attr == 'record-create-date' %}selected="selected"{% endif %}>
                                            {% if LANGUAGE_CODE == 'ru' %}дате
                                                поступления{% elif LANGUAGE_CODE == 'tt' %}
                                                дате поступления{% else %}incoming date{% endif %}</option>
                                        <option value="tom"
                                                {% if sort_attr == 'tom' %}selected="selected"{% endif %}>
                                            Тому/части
                                        </option>
                                    </select>
                                {% empty %}
                                    <select name="sort" onchange="this.form.submit()">
                                        <option value="0">{% if LANGUAGE_CODE == 'ru' %}
                                            релевантности{% elif LANGUAGE_CODE == 'tt' %}релевантность буенча
                                            аеру{% else %}
                                            relevance{% endif %}</option>
                                        <option value="author"
                                                {% if sort_attr == 'author' %}selected="selected"{% endif %}>
                                            {% if LANGUAGE_CODE == 'ru' %}автору{% elif LANGUAGE_CODE == 'tt' %}
                                                автор{% else %}author{% endif %}</option>
                                        <option value="title"
                                                {% if sort_attr == 'title' %}selected="selected"{% endif %}>
                                            {% if LANGUAGE_CODE == 'ru' %}
                                                заглавию{% elif LANGUAGE_CODE == 'tt' %}
                                                исем{% else %}title{% endif %}</option>
                                        <option value="date-of-publication"
                                                {% if sort_attr == 'date-of-publication' %}selected="selected"{% endif %}>
                                            {% if LANGUAGE_CODE == 'ru' %}году
                                                публикации{% elif LANGUAGE_CODE == 'tt' %}
                                                бастырып чыгару елы{% else %}publication
                                                year{% endif %}</option>
                                        <option value="record-create-date"
                                                {% if sort_attr == 'record-create-date' %}selected="selected"{% endif %}>
                                            {% if LANGUAGE_CODE == 'ru' %}дате
                                                поступления{% elif LANGUAGE_CODE == 'tt' %}
                                                дате поступления{% else %}incoming date{% endif %}</option>
                                        <option value="tom"
                                                {% if sort_attr == 'tom' %}selected="selected"{% endif %}>
                                            Тому/части
                                        </option>
                                    </select>
                                {% endfor %}
                                {#                                <a href="#1" id="add_sort_button"#}
                                {#                                   title="{% if LANGUAGE_CODE == 'ru' %}Добавить условие сортировки{% elif LANGUAGE_CODE == 'tt' %}Добавить условие сортировки{% else %}add more sort condition{% endif %}">#}
                                {#                                    {% if LANGUAGE_CODE == 'ru' %}добавить{% elif LANGUAGE_CODE == 'tt' %}#}
                                {#                                        добавить{% else %}#}
                                {#                                        add more{% endif %}</a>#}
                                {#                                <button>{% if LANGUAGE_CODE == 'ru' %}#}
                                {#                                    Сортировать{% elif LANGUAGE_CODE == 'tt' %}Аеру{% else %}#}
                                {#                                    Sort{% endif %}</button>#}
                                {% for search_breadcumb in search_breadcumbs %}

                                    {% if forloop.last %}
                                        <input type="hidden" name="attr" value="{{ search_breadcumb.attr }}">
                                        <input type="hidden" name="q" value="{{ search_breadcumb.value }}">
                                    {% else %}
                                        <input type="hidden" name="fattr" value="{{ search_breadcumb.attr }}">
                                        <input type="hidden" name="fq" value="{{ search_breadcumb.value }}">
                                    {% endif %}
                                {% endfor %}
                                <script type="text/javascript">
                                    $('#add_sort_button').click(function () {
                                        if ($('.sort_select').length >= 3) {
                                            return false;
                                        }
                                        $('.sort_select').last().clone().insertAfter($('.sort_select').last());
//                                $('.sort_select').last().insertAfter($('.sort_select').clone());
                                    });
                                </script>
                        </form>
                        </div>

                    {% endif %}
                <div class="result-container">
                    {% if docs %}
                        {% for doc in docs %}
                            <div class="result">
                                <div class="result__index">
                                    {{ forloop.counter0|add:results_page.start_index }}
                                </div>
                                <div class="result__info">
                                    <h3>
                                        <a href="{% url 'ssearch:frontend:detail' doc.id %}?back={{ request.get_full_path|urlencode }}">{{ doc.record.title.0 }}</a>
                                    </h3>

                                    <div class="result__author">
                                        {% for author in doc.record.author %}
                                            {{ author }}{% if not forloop.last %}; {% endif %}
                                        {% endfor %}
                                    </div>


                                    <ul class="result__crumbs__list">
                                        {% for subject in doc.record|hash:'subject-heading' %}
                                            <li>
                                                <a href="?q={{ subject|urlencode }}&attr=subject-heading_t"
                                                   class="result__crumbs__list_link">
                                                    {{ subject }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    <div class="result__detail">
                                        {#                                            <div class="result__detail_box">#}
                                        {#                                                <img class="result__detail_img"#}
                                        {#                                                     src="http://elib.spbstu.ru/main/picture?url=http://dl.unilib.neva.ru/dl/002082.pdf&amp;size=1"/>#}
                                        {#                                            </div>#}
                                        <div class="result__detail_box">
                                            {% if doc.record|hash:'code-language' %}
                                                <div class="result__detail_row">
                                                    <div class="result__detail_box">
                                                        <div class="result__detail_title">
                                                            {% if LANGUAGE_CODE == 'ru' %}
                                                                Язык{% elif LANGUAGE_CODE == 'tt' %}
                                                                Тел{% else %}Language{% endif %}:
                                                        </div>
                                                    </div>
                                                    <div class="result__detail_box">
                                                        <div class="result__detail_description">
                                                            {% for lang in doc.record|hash:'code-language' %}
                                                                {% if not forloop.last %}
                                                                    {{ lang|language_title }},
                                                                {% else %}
                                                                    {{ lang|language_title }}
                                                                {% endif %}
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}

                                            {% if doc.record|hash:'date-of-publication' %}
                                                <div class="result__detail_row">
                                                    <div class="result__detail_box">
                                                        <div class="result__detail_title">
                                                            {% if LANGUAGE_CODE == 'ru' %}Год
                                                                публикации{% elif LANGUAGE_CODE == 'tt' %}Бастырып
                                                                чыгару
                                                                елы{% else %}
                                                                Publication
                                                                year{% endif %}:
                                                        </div>
                                                    </div>
                                                    <div class="result__detail_box">
                                                        <div class="result__detail_description">
                                                            {% for dop in doc.record|hash:'date-of-publication' %}
                                                                {% if not forloop.last %}
                                                                    {{ dop }},
                                                                {% else %}
                                                                    {{ dop }}
                                                                {% endif %}
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                            {% if doc.record|hash:'publisher' %}
                                                <div class="result__detail_row">
                                                    <div class="result__detail_box">
                                                        <div class="result__detail_title">Издательство:</div>
                                                    </div>
                                                    <div class="result__detail_box">
                                                        <div class="result__detail_description">
                                                            {% for publisher in doc.record|hash:'publisher' %}
                                                                {% if not forloop.last %}
                                                                    {{ publisher }},
                                                                {% else %}
                                                                    {{ publisher }}
                                                                {% endif %}
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                            {% if doc.record|hash:'fond' %}
                                                <div class="result__detail_row">
                                                    <div class="result__detail_box">
                                                        <div class="result__detail_title">Коллекция:</div>
                                                    </div>
                                                    <div class="result__detail_box">
                                                        <div class="result__detail_description">
                                                            {% for fond in doc.record|hash:'fond' %}
                                                                {% if not forloop.last %}
                                                                    {{ fond|fond_title }},
                                                                {% else %}
                                                                    {{ fond|fond_title }}
                                                                {% endif %}
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                            {% if doc.record|hash:'content-type' %}
                                                <div class="result__detail_row">
                                                    <div class="result__detail_box">
                                                        <div class="result__detail_title">
                                                            {% if LANGUAGE_CODE == 'ru' %}Тип
                                                                содержания{% elif LANGUAGE_CODE == 'tt' %}Эчтәлек
                                                                тибы{% else %}
                                                                Content
                                                                tipe{% endif %}:
                                                        </div>
                                                    </div>
                                                    <div class="result__detail_box">
                                                        <div class="result__detail_description">
                                                            {% for content_type in doc.record|hash:'content-type' %}
                                                                {% if not forloop.last %}
                                                                    {{ content_type|content_type_title }},
                                                                {% else %}
                                                                    {{ content_type|content_type_title }}
                                                                {% endif %}
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% if doc.solr_highlights %}
                                        <div>
                                            <a href="#1" class="context">Показать контекст</a>

                                            <div class="highlights" style="display: none;">
                                                {{ doc.solr_highlights|hash:"full-text"|hash:0|safe }}
                                            </div>
                                        </div>
                                    {% endif %}
                                    <a class="result__detail__print"
                                       href="{% url 'ssearch:frontend:to_print' doc.id %}" target="_blank">Версия
                                        для
                                        печати</a>
                                </div>
                            </div>

                        {% endfor %}
                        </div>

                        {% admin_pagination results_page %}

                    {% endif %}
            </div>
            <div class="col-4">
                {% if docs %}
                    <div class="facets-container">
                        {% for facet in facets %}
                            {% if facet.values %}
                                <div class="facets-container__item">
                                    <div class="facet">
                                        <div class="facet__header facet__header_closed">
                                            <h4 class="facet__title">{{ facet.title|facet_title }}</h4>
                                        </div>
                                        <div class="facet__body facet__body_closed">
                                            {% for value in facet.values %}
                                                {% if facet.title == 'date-of-publication_dtf' %}
                                                    <div class="facet__link">
                                                        <a href="{% add_get_append q=value.0|date_from_isostring|date:"Y" attr=facet %}">{{ value.0|date_from_isostring|date:"Y" }}</a>
                                                        <span>({{ value.1 }})</span>
                                                    </div>
                                                {% elif facet.title == 'content-type_t' %}
                                                    <div class="facet__link">
                                                        <a href="{% add_get_append q=value.0 attr=facet.title %}">{{ value.0|content_type_title }}</a>
                                                        <span>({{ value.1 }})</span>
                                                    </div>
                                                {% elif facet.title == 'subject-heading_sf' %}
                                                    <div class="facet__link">
                                                        <a href="{% add_get_append q=value.0 attr=facet.title %}">{{ value.0 }}</a>
                                                        <span>({{ value.1 }})</span>
                                                    </div>
                                                {% elif facet.title == 'code-language_t' %}
                                                    <div class="facet__link">
                                                        <a href="{% add_get_append q=value.0 attr=facet.title %}">{{ value.0|language_title }}</a>
                                                        <span>({{ value.1 }})</span>
                                                    </div>
                                                {% elif facet.title == 'fond_sf' %}
                                                    <div class="facet__link">
                                                        <a href="{% add_get_append q=value.0 attr=facet.title %}">{{ value.0|fond_title }}</a>
                                                        <span>({{ value.1 }})</span>
                                                    </div>
                                                {% else %}
                                                    <div class="facet__link">
                                                        <a href="{% add_get_append q=value.0 attr=facet.title %}">{{ value.0 }}</a>
                                                        <span>({{ value.1 }})</span>
                                                    </div>
                                                {% endif %}

                                            {% empty %}
                                                <li style="color: #808080;">сведений нет</li>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        </div>
    </main>



    <div id="select_library" class="modal" tabindex="-1" role="dialog" aria-labelledby="select_library"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="detail-page__options__btn" data-dismiss="modal" aria-hidden="true">×
                    </button>
                    <h1 class="content-page__title">Выберите библиотеку, по записям которой необходимо ограничить
                        поиск</h1>
                </div>
                <div class="modal-body content-page__text">
                    <a href="/ru">Начало</a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="detail-page__options__btn" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $('#save_request_button').click(function () {
            $.ajax({
                url: $(this).attr('href'),
                type: 'GET',
                dataType: "json",
                async: true,
                success: function (response) {
                    if (response['status'] == 'ok') {
                        var button = $('#save_request_button');
                        button.html('Сохранен');
                        button.addClass('disabled');
                        button.attr('href', '#1');

                    }
                    else {
                        alert('При сохранении возникла ошибка');
                    }
                }
            });
            return false;
        });

        $('.context').click(function () {
            var hightl = $(this).parent().children('.highlights');
            if (hightl.css('display') == 'none') {
                hightl.show();
                $(this).html('Скрыть контекст')
            } else {
                hightl.hide();
                $(this).html('Показать контекст')
            }
        });

        function removeParam(key, sourceURL) {
            var rtn = sourceURL.split("?")[0],
                    param,
                    params_arr = [],
                    queryString = (sourceURL.indexOf("?") !== -1) ? sourceURL.split("?")[1] : "";
            if (queryString !== "") {
                params_arr = queryString.split("&");
                for (var i = params_arr.length - 1; i >= 0; i -= 1) {
                    param = params_arr[i].split("=")[0];
                    if (param === key) {
                        params_arr.splice(i, 1);
                    }
                }
                rtn = rtn + "?" + params_arr.join("&");
            }
            return rtn;
        }

        function setGetParameter(paramName, paramValue) {
            var url = window.location.href;
            if (url.indexOf(paramName + "=") >= 0) {
                var prefix = url.substring(0, url.indexOf(paramName));
                var suffix = url.substring(url.indexOf(paramName));
                suffix = suffix.substring(suffix.indexOf("=") + 1);
                suffix = (suffix.indexOf("&") >= 0) ? suffix.substring(suffix.indexOf("&")) : "";
                url = prefix + paramName + "=" + paramValue + suffix;
            }
            else {
                if (url.indexOf("?") < 0)
                    url += "?" + paramName + "=" + paramValue;
                else
                    url += "&" + paramName + "=" + paramValue;
            }
            return url;
        }

        function removeLibraryParam() {
            var alteredURL = removeParam("library", document.URL);
            window.location = alteredURL;
        }

        function changeLibrart(code) {
            window.location = setGetParameter('library', code);
        }

        $(function () {
            $('.js_select_library').on('click', function () {
                var $modal = $('#select_library');
                $modal.modal();
                $modalBody = $modal.find('.modal-body');
                $.get('{% url 'ssearch:frontend:select_library' %}').done(function (data) {
                    $modalBody.html(data);
                    $modalBody.find('a').one('click', function () {
                        changeLibrart($(this).attr('code'));

                        return false;
                    });
                });
                return false;
            });
        });
        //alert(alteredURL);
    </script>

{% endblock %}