{% extends "theme_frontend_base.html" %}
{% load i18n %}
{% block title %}Восстановление пароля{% endblock %}

{% block content %}
    <div class="span12">
        <p>
            Для восстановления паролья вам необходимо <a href="{% url 'participants:frontend:geosearch' %}">обратиться в
            ближайшую библиотеку</a>
        </p>
        <p>Вы так же можете <a href="{% url 'sso_esia:index' %}">войти с использованием учетной записи на портале Госуслуг</a></p>
        {#        <p>Забыли пароль? Пожалуйста, введите адрес Вашей электронной почты, на которую вы регистрировали учетную запись и нажмите на кнопку "Восстановить пароль"</p>#}
        {#        <form action="" method="post"> {% csrf_token %}#}
        {#            <fieldset>#}
        {#                {% include 'frontend/base_form_fields.html' %}#}
        {#                <div class="form-actions">#}
        {#                    <input type="submit" value="Восстановить пароль" class="btn"/>#}
        {#                </div>#}
        {#            </fieldset>#}
        {#        </form>#}
    </div>
{% endblock %}