{% extends "theme_frontend_base.html" %}
{% load i18n %}
{% block title %}Восстановление пароля{% endblock %}

{% block content %}

    <nav class="bg bg_second">
        <div class="container">
            {% include 'main_menu.html' %}
        </div>
    </nav>
    <main>
    <div class="container">
        <ul class="bread__crumbs">
            <li><a href="{% url 'index:frontend:index' %}" class="bread__crumbs_link">Главная</a></li>
            <li>
                <img src="{{ STATIC_URL }}dist/images/br_crumbs.svg">
            </li>
            <li>
                <a title="{{ content.title }}" class="bread__crumbs_link bread__crumbs_link_active">
                    Восстановления пароля
                </a>
            </li>
        </ul>
    </div>
    <hr class="footer-hr">
    <div class="container content-page">
        <div class="row">
            <div class="col-12">
                <h1 class="content-page__title">Восстановления пароля</h1>
                <div class="content-page__text">
                    <p>
            Для восстановления паролья вам необходимо <a href="{% url 'participants:frontend:geosearch' %}">обратиться в
            ближайшую библиотеку</a>
        </p>
        <p>Вы так же можете <a href="{% url 'sso_esia:index' %}">войти с использованием учетной записи на портале Госуслуг</a></p>
                </div>
            </div>
        </div>
    </div>
</main>

{##}
{##}
{#    <div class="span12">#}
{#        <p>#}
{#            Для восстановления паролья вам необходимо <a href="{% url 'participants:frontend:geosearch' %}">обратиться в#}
{#            ближайшую библиотеку</a>#}
{#        </p>#}
{#        <p>Вы так же можете <a href="{% url 'sso_esia:index' %}">войти с использованием учетной записи на портале Госуслуг</a></p>#}
        {#        <p>Забыли пароль? Пожалуйста, введите адрес Вашей электронной почты, на которую вы регистрировали учетную запись и нажмите на кнопку "Восстановить пароль"</p>#}
        {#        <form action="" method="post"> {% csrf_token %}#}
        {#            <fieldset>#}
        {#                {% include 'frontend/base_form_fields.html' %}#}
        {#                <div class="form-actions">#}
        {#                    <input type="submit" value="Восстановить пароль" class="btn"/>#}
        {#                </div>#}
        {#            </fieldset>#}
        {#        </form>#}
{#    </div>#}
{% endblock %}