<table class="table-striped calendar">
    <thead>
    <tr>
        <th><a href="" class="blue">←</a></th>
        <th colspan="5" id="cal_month">
            <form method="POST">{% csrf_token %}
            {{ form.month }} {{ form.year }}
            </form>
        </th>
        <th class="blue"><a href="" class="blue">→</a></th>
    </tr>
    <tr>
        <th>пн</th>
        <th>вт</th>
        <th>ср</th>
        <th>чт</th>
        <th>пт</th>
        <th>сб</th>
        <th>вс</th>
    </tr>
    </thead>

    <tbody>

    {% for week in calendar %}
        <tr>{% for day in week %}
            {% if day.day != 0 %}
                <td class="{% if day.today %}current{% endif %}{% if day.events %} has_events{% endif %}">
                    {% if  day.events %}
                        <a href="{% url 'events:frontend:events_by_date' year month day.day %}"
                           title="Показать события дня"> {{ day.day }}</a>
                    {% else %}
                        {{ day.day }}
                    {% endif %}
                    {% else %}
                <td class="padding">
            {% endif %}
        </td>
            {% if day.today %}
            {% endif %}
        {% endfor %}
        </tr>
    {% endfor %}

    </tbody>
</table>
