{% extends 'theme_frontend_base.html' %}
{% load news_tags %}
{% load pagination_tag %}
{% block title %}{{ content.title }}{% endblock %}
{% block content %}
    <nav class="bg bg_second">
        <div class="container">
            {% include 'main_menu.html' %}
        </div>
    </nav>
    <main>
        <div class="container">
            <ul class="bread__crumbs">
                <li>
                    <a href="{% url 'index:frontend:index' %}" class="bread__crumbs_link">
                        Главная
                    </a>
                </li>
                <li>
                    <img src="{{ STATIC_URL }}dist/images/br_crumbs.svg">
                </li>
                <li>
                    <a class="bread__crumbs_link bread__crumbs_link_active">
                        Новости
                    </a>
                </li>
            </ul>
        </div>
        <hr class="footer-hr">
        <div class="container content-page">
            <div class="row">
                <div class="col-7">
                    <h1 class="content-page__title">Новости</h1>
                    {% for news in news_list %}
                        <div class="news-page-box">
                            <div class="news-page-box__date">{{ news.create_date }}</div>
                            <h1 class="news-page-box__title"><a href="{% url 'news:frontend:show' news.id %}">{{ news.news_content.title }}</a></h1>

                            <p class="news-page-box__teaser">{{ news.news_content.teaser }}</p>
                        </div>
                    {% endfor %}
                    {% admin_pagination news_page %}
                </div>
                <div class="col-5">
                    <div class="facets-container">
                        <div class="facets-container__item">
                            <div class="facet">
                                <div class="facet__header">
                                    <h4 class="facet__title">Архив новостей</h4>
                                </div>
                                <div class="facet__body">
                                    {% news_calendar %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </main>


    {#    <div class="span12">#}
    {#        <div class="breadcrumb">#}
    {#            <span><a href="{% url 'index:frontend:index' %}">Начало</a> <span class="divider">/</span></span>#}
    {#            <span class="active">Новости <a href="{% url 'news:frontend:rss' %}"><img src="{{ STATIC_URL }}images/rss.png" alt="Подписаться"></a></span>#}
    {#        </div>#}
    {#        <style>#}
    {#            ul.news {#}
    {#                list-style: none;#}
    {#                margin: 0;#}
    {#            }#}
    {#            .news .title{#}
    {#                font-size: 16px;#}
    {#                font-weight: bold;#}
    {#            }#}
    {#            .news .teaser{#}
    {#                padding: 5px 0;#}
    {#            }#}
    {#            .news .create_date{#}
    {#                color: #8c8c8c;#}
    {#            }#}
    {#        </style>#}
    {##}
    {#        <ul class="news">#}
    {#            {% for news in news_list %}#}
    {#                {{ news.news_content.title }}#}
    {#                <div class="title"><a href="{% url 'news:frontend:show' news.id %}">{{ news.news_content.title }}</a></div>#}
    {#                <div class="teaser">{{ news.news_content.teaser }}</div>#}
    {#                <div class="create_date">{{ news.create_date }}</div>#}
    {#                {% if not forloop.last %}<hr/>{% endif %}#}
    {#            {% endfor %}#}
    {#        </ul>#}
    {#        {% admin_pagination news_page %}#}
    {#    </div>#}

{% endblock %}