{% extends 'theme_frontend_base.html' %}
{% block title %}{{ content.title }}{% endblock %}
{% block content %}
    <nav class="bg bg_second">
        <div class="container">
            {% include 'main_menu.html' %}
        </div>
    </nav>
    <main>
        <div class="container">
            <ul class="bread__crumbs">
                <li>
                    <a href="{% url 'index:frontend:index' %}" class="bread__crumbs_link">
                        Главная
                    </a>
                </li>
                {% if request.GET.back %}
                    <li>
                        <img src="{{ STATIC_URL }}dist/images/br_crumbs.svg">
                    </li>
                    <a href="{{ request.GET.back }}" class="bread__crumbs_link">
                        Новости
                    </a>
                {% else %}
                    <li>
                        <img src="{{ STATIC_URL }}dist/images/br_crumbs.svg">
                    </li>
                    <a href="{% url 'news:frontend:index' %}" class="bread__crumbs_link">
                        Новости
                    </a>
                {% endif %}
                <li>
                    <img src="{{ STATIC_URL }}dist/images/br_crumbs.svg">
                </li>
                <li>
                    <a class="bread__crumbs_link bread__crumbs_link_active">
                        {{ content.title }}
                    </a>
                </li>
            </ul>
        </div>
        <hr class="footer-hr">
        <div class="container content-page">
            <div class="row">
                <div class="col-7">
                    <h1 class="content-page__title">{{ content.title }}</h1>

                    <div class="content-page__text">
                        {{ content.content|safe }}
                    </div>
                </div>
                <div class="col-5">
                    <div class="facets-container">
                        <div class="facets-container__item">
                            <div class="facet">
                                <div class="facet__header">
                                    <h4 class="facet__title">Другие новости</h4>
                                </div>
                                <div class="facet__body">
                                    <div class="facet__body__news">
                                        <h3 class="facet__body__news__title">
                                            <a href="#">
                                                В Татарстане стартовал
                                                Республиканский этап конкурса
                                                «Самый читающий школьник»
                                            </a>
                                        </h3>

                                        <div class="facet__body__news__date">
                                            23 мая 2015 г. 14:28
                                        </div>
                                    </div>
                                    <div class="facet__body__news">
                                        <h3 class="facet__body__news__title">
                                            <a href="#">
                                                В Татарстане стартовал
                                                Республиканский этап конкурса
                                                «Самый читающий школьник»
                                            </a>
                                        </h3>

                                        <div class="facet__body__news__date">
                                            23 мая 2015 г. 14:28
                                        </div>
                                    </div>
                                    <div class="facet__body__news">
                                        <h3 class="facet__body__news__title">
                                            <a href="#">
                                                В Татарстане стартовал
                                                Республиканский этап конкурса
                                                «Самый читающий школьник»
                                            </a>
                                        </h3>

                                        <div class="facet__body__news__date">
                                            23 мая 2015 г. 14:28
                                        </div>
                                    </div>
                                    <div class="facet__body__news">
                                        <h3 class="facet__body__news__title">
                                            <a href="#">
                                                В Татарстане стартовал
                                                Республиканский этап конкурса
                                                «Самый читающий школьник»
                                            </a>
                                        </h3>

                                        <div class="facet__body__news__date">
                                            23 мая 2015 г. 14:28
                                        </div>
                                    </div>
                                    <div class="facet__body__news">
                                        <h3 class="facet__body__news__title">
                                            <a href="#">
                                                В Татарстане стартовал
                                                Республиканский этап конкурса
                                                «Самый читающий школьник»
                                            </a>
                                        </h3>

                                        <div class="facet__body__news__date">
                                            23 мая 2015 г. 14:28
                                        </div>
                                    </div>
                                    <div class="facet__body__news">
                                        <h3 class="facet__body__news__title">
                                            <a href="#">
                                                В Татарстане стартовал
                                                Республиканский этап конкурса
                                                «Самый читающий школьник»
                                            </a>
                                        </h3>

                                        <div class="facet__body__news__date">
                                            23 мая 2015 г. 14:28
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="facets-container__item">
                            <div class="facet">
                                <div class="facet__header facet__header_closed">
                                    <h4 class="facet__title">Календарь</h4>
                                </div>
                                <div class="facet__body facet__body_closed">
                                    <table class="cal-table cal-table__margin-news">


                                        <caption class="cal-caption">

                                            <div class="cal-table__date">Сегодня: 11 октября, 2015</div>

                                            <form name="event_calendar_filter" action="" method="POST"><input
                                                    type="hidden" name="csrfmiddlewaretoken"
                                                    value="jWXvGxqoquCtepvjVmhOUEtMZv1MJPJq">
                                                <select id="id_month" name="month" onchange="this.form.submit();">
                                                    <option value="1">Январь</option>
                                                    <option value="2">Февраль</option>
                                                    <option value="3">Март</option>
                                                    <option value="4">Апрель</option>
                                                    <option value="5">Май</option>
                                                    <option value="6">Июнь</option>
                                                    <option value="7">Июль</option>
                                                    <option value="8">Август</option>
                                                    <option value="9">Сентябрь</option>
                                                    <option value="10">Октябрь</option>
                                                    <option value="11">Ноябрь</option>
                                                    <option value="12" selected="selected">Декабрь</option>
                                                </select>
                                                <select id="id_year" name="year" onchange="this.form.submit();">
                                                    <option value="2014">2014</option>
                                                    <option value="2015" selected="selected">2015</option>
                                                    <option value="2016">2016</option>
                                                </select>
                                            </form>
                                        </caption>
                                        <tbody class="cal-body">

                                        <tr>


                                            <td>

                                            </td>


                                            <td>


                                                <a>1</a>


                                            </td>


                                            <td>


                                                <a>2</a>


                                            </td>


                                            <td class="cal-today">


                                                <a>3</a>


                                            </td>


                                            <td class="cal-check">


                                                <a>4</a>


                                            </td>


                                            <td>


                                                <a>5</a>


                                            </td>


                                            <td>


                                                <a>6</a>


                                            </td>


                                        </tr>

                                        <tr>


                                            <td>


                                                <a>7</a>


                                            </td>


                                            <td>


                                                <a>8</a>


                                            </td>


                                            <td>


                                                <a>9</a>


                                            </td>


                                            <td>


                                                <a>10</a>


                                            </td>


                                            <td>


                                                <a>11</a>


                                            </td>


                                            <td>


                                                <a>12</a>


                                            </td>


                                            <td>


                                                <a>13</a>


                                            </td>


                                        </tr>

                                        <tr>


                                            <td>


                                                <a>14</a>


                                            </td>


                                            <td>


                                                <a>15</a>


                                            </td>


                                            <td>


                                                <a>16</a>


                                            </td>


                                            <td>


                                                <a>17</a>


                                            </td>


                                            <td>


                                                <a>18</a>


                                            </td>


                                            <td>


                                                <a>19</a>


                                            </td>


                                            <td>


                                                <a>20</a>


                                            </td>


                                        </tr>

                                        <tr>


                                            <td>


                                                <a>21</a>


                                            </td>


                                            <td>


                                                <a>22</a>


                                            </td>


                                            <td>


                                                <a>23</a>


                                            </td>


                                            <td>


                                                <a>24</a>


                                            </td>


                                            <td>


                                                <a>25</a>


                                            </td>


                                            <td>


                                                <a>26</a>


                                            </td>


                                            <td>


                                                <a>27</a>


                                            </td>


                                        </tr>

                                        <tr>


                                            <td>


                                                <a>28</a>


                                            </td>


                                            <td>


                                                <a>29</a>


                                            </td>


                                            <td>


                                                <a>30</a>


                                            </td>


                                            <td>


                                                <a>31</a>


                                            </td>


                                            <td>

                                            </td>


                                            <td>

                                            </td>


                                            <td>

                                            </td>


                                        </tr>


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>

    {#    <div class="span12">#}
    {#        <div class="breadcrumb">#}
    {#            <span><a href="{% url 'index:frontend:index' %}">Начало</a> <span class="divider">/</span></span>#}
    {#            {% if request.GET.back %}#}
    {#                <span><a href="{{ request.GET.back }}">Новости</a> <span class="divider">/</span></span>#}
    {#            {% else %}#}
    {#                <span><a href="{% url 'news:frontend:index' %}">Новости</a> <span class="divider">/</span></span>#}
    {#            {% endif %}#}
    {#            <span class="active">{{ content.title }}</span>#}
    {#        </div>#}
    {#        <hr/>#}
    {#        <div class="text">#}
    {#            {{ content.content|safe }}#}
    {#        </div>#}
    {#    </div>#}
{% endblock %}