{% extends 'theme_frontend_base.html' %}
{% load news_tags %}
{% block title %}{{ content.title }}{% endblock %}
{% block content %}
    <nav class="bg bg_second">
        <div class="container">
            {% include 'main_menu.html' %}
        </div>
    </nav>
    <main>
        <div class="container">
            <ul class="bread__crumbs">
                <li>
                    <a href="{% url 'index:frontend:index' %}" class="bread__crumbs_link">
                        Главная
                    </a>
                </li>
                {% if request.GET.back %}
                    <li>
                        <img src="{{ STATIC_URL }}dist/images/br_crumbs.svg">
                    </li>
                    <a href="{{ request.GET.back }}" class="bread__crumbs_link">
                        Новости
                    </a>
                {% else %}
                    <li>
                        <img src="{{ STATIC_URL }}dist/images/br_crumbs.svg">
                    </li>
                    <a href="{% url 'news:frontend:index' %}" class="bread__crumbs_link">
                        Новости
                    </a>
                {% endif %}
                {#                <li>#}
                {#                    <img src="{{ STATIC_URL }}dist/images/br_crumbs.svg">#}
                {#                </li>#}
                {#                <li>#}
                {#                    <a class="bread__crumbs_link bread__crumbs_link_active">#}
                {#                        {{ content.title }}#}
                {#                    </a>#}
                {#                </li>#}
            </ul>
        </div>
        <hr class="footer-hr">
        <div class="container content-page">
            <div class="row">
                <div class="col-7">
                    <h1 class="content-page__title">{{ content.title }}</h1>

                    <div class="content-page__text">
                        {{ content.content|safe }}
                    </div>
                </div>
                <div class="col-5">

                    <div class="facets-container">
                        <div class="facets-container__item">
                            <div class="facet">
                                <div class="facet__header">
                                    <h4 class="facet__title">Другие новости</h4>
                                </div>
                                <div class="facet__body">
                                    {% other_news news.id %}
                                    <div class="facet__body__news">
                                        <h3 class="facet__body__news__title">
                                            <a href="#">
                                                В Татарстане стартовал
                                                Республиканский этап конкурса
                                                «Самый читающий школьник»
                                            </a>
                                        </h3>

                                        <div class="facet__body__news__date">
                                            23 мая 2015 г. 14:28
                                        </div>
                                    </div>
                                    <div class="facet__body__news">
                                        <h3 class="facet__body__news__title">
                                            <a href="#">
                                                В Татарстане стартовал
                                                Республиканский этап конкурса
                                                «Самый читающий школьник»
                                            </a>
                                        </h3>

                                        <div class="facet__body__news__date">
                                            23 мая 2015 г. 14:28
                                        </div>
                                    </div>
                                    <div class="facet__body__news">
                                        <h3 class="facet__body__news__title">
                                            <a href="#">
                                                В Татарстане стартовал
                                                Республиканский этап конкурса
                                                «Самый читающий школьник»
                                            </a>
                                        </h3>

                                        <div class="facet__body__news__date">
                                            23 мая 2015 г. 14:28
                                        </div>
                                    </div>
                                    <div class="facet__body__news">
                                        <h3 class="facet__body__news__title">
                                            <a href="#">
                                                В Татарстане стартовал
                                                Республиканский этап конкурса
                                                «Самый читающий школьник»
                                            </a>
                                        </h3>

                                        <div class="facet__body__news__date">
                                            23 мая 2015 г. 14:28
                                        </div>
                                    </div>
                                    <div class="facet__body__news">
                                        <h3 class="facet__body__news__title">
                                            <a href="#">
                                                В Татарстане стартовал
                                                Республиканский этап конкурса
                                                «Самый читающий школьник»
                                            </a>
                                        </h3>

                                        <div class="facet__body__news__date">
                                            23 мая 2015 г. 14:28
                                        </div>
                                    </div>
                                    <div class="facet__body__news">
                                        <h3 class="facet__body__news__title">
                                            <a href="#">
                                                В Татарстане стартовал
                                                Республиканский этап конкурса
                                                «Самый читающий школьник»
                                            </a>
                                        </h3>

                                        <div class="facet__body__news__date">
                                            23 мая 2015 г. 14:28
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="facets-container__item">
                            <div class="facet">
                                <div class="facet__header facet__header_closed">
                                    <h4 class="facet__title">Календарь</h4>
                                </div>
                                <div class="facet__body facet__body_closed">
                                    {% news_calendar %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>

    {#    <div class="span12">#}
    {#        <div class="breadcrumb">#}
    {#            <span><a href="{% url 'index:frontend:index' %}">Начало</a> <span class="divider">/</span></span>#}
    {#            {% if request.GET.back %}#}
    {#                <span><a href="{{ request.GET.back }}">Новости</a> <span class="divider">/</span></span>#}
    {#            {% else %}#}
    {#                <span><a href="{% url 'news:frontend:index' %}">Новости</a> <span class="divider">/</span></span>#}
    {#            {% endif %}#}
    {#            <span class="active">{{ content.title }}</span>#}
    {#        </div>#}
    {#        <hr/>#}
    {#        <div class="text">#}
    {#            {{ content.content|safe }}#}
    {#        </div>#}
    {#    </div>#}
{% endblock %}