<style>
    .incomes .record-content {
        border-bottom: solid #8c8c8c 1px;
        padding-bottom: 10px;

    }
    .record .header {
        margin: 0;
        padding: 0;
    }
    .record p {
		margin: 0;
		padding: 0;
	}
    .incomes .counter {
        width: 30px;
        vertical-align: top
    }
</style>
<h2 style="text-align: center">Новые поступления в <a href="{% if request.is_secure %}https{% else %}http{% endif %}://{{ SITE_DOMAIN }}">Библиотеку</a></h2>
<table>
    <tr>
        <th>Тема рссылки:</th>
        <td>{{ title }}</td>
    </tr>
    <tr>
        <th>Дата выпуска:</th>
        <td>{{ date|date:"j E Y" }}</td>
    </tr>
</table>
<table class="incomes" style="width: 100%">
    {% for record in records %}
        <tr>
            <td class="counter">
               {{ forloop.counter }}.
            </td>
            <td class="record-content">
                <div>{{ record.libcard|safe }}</div>
                <div><a target="_blank" href="{% if request.is_secure %}https{% else %}http{% endif %}://{{ SITE_DOMAIN }}{% url 'search:frontend:detail' %}?id={{ record.model.record_id }}">Подробнее</a></div>
            </td>
        </tr>
    {% endfor %}
</table>
