{% extends 'frontend_base.html' %}
{% load hash %}
{% load ssearch_tags %}
{% block title %}детальная информация{% endblock %}
{% block content %}
    <style type="text/css">
        .marc_dump span.fieldlabel, span.subfieldlabel {
            font-family: monospace;
            color: blue;
        }

        .marc_dump span.data, span.indicator {
            font-family: monospace;
        }

        .marc_dump span.label {
            font-family: monospace;
        }

    </style>
    <ul class="breadcrumb">

        <li><a href="{% url index:frontend:index %}">Начало</a> <span class="divider">/</span></li>
        <li><a href="{% url ssearch:frontend:index %}">Поиск</a> <span class="divider">/</span></li>
        {% if request.GET.back %}
            <li><a href="{{ request.GET.back }}">Результаты поиска</a> <span class="divider">/</span></li>
        {% endif %}
        <li class="active">Детальная информация</li>

    </ul>
    {{ marc_dump|safe }}
    <div class="holders" style="clear: both;">
        <hr/>
    <h3>Держатели:</h3>
        <ul>
            {% for holder in doc.holders %}
            <li>{{ holder }}</li>
            {% endfor %}
        </ul>
    </div>
{#    <hr/>#}
{#    <div id="vk_like"></div>#}
    <hr/>
    <h3>Возможно, Вам будет интересно почитать так же:</h3>
    <ul style="list-style: none">
        {% for doc in mlt_docs %}
            <li>
                <div class="title"><a href="{% url ssearch:frontend:detail doc.id %}?back={{ request.get_full_path|urlencode }}">
                    {{ doc.record.title.0 }}</a></div>
                <div class="author">
                    {% for author in doc.record.author %}
                        {{ author }} {% if not forloop.last %}; {% endif %}
                    {% endfor %}
                </div>
                <div class="info">
                    {% for lang in doc.record|hash:'code-language' %}
                        {{ lang }}
                    {% endfor %}
                    {% for dop in doc.record|hash:'date-of-publication' %}
                        {{ dop }}
                    {% endfor %}
                    {% for content_type in doc.record|hash:'content-type' %}
                        {{ content_type }}
                    {% endfor %}
                    {% for publisher in doc.record|hash:'publisher' %}
                        {{ publisher }}
                    {% endfor %}
                </div>
            </li>
            <hr/>
        {% endfor %}
    </ul>
    <!-- Put this script tag to the <head> of your page -->
    <script type="text/javascript" src="http://userapi.com/js/api/openapi.js?49"></script>

    <script type="text/javascript">
        VK.init({apiId: 2797756, onlyWidgets: true});
    </script>

    <!-- Put this div tag to the place, where the Like block will be -->

    <script type="text/javascript">
        VK.Widgets.Like("vk_like", {type: "button"});
    </script>
{% endblock %}