{% extends 'theme_frontend_base.html' %}
{% load i18n %}
{% block title %}
    {% trans 'Login' %}
{% endblock %}
{% block content %}
    <nav class="bg bg_second">
        <div class="container">
            {% include 'main_menu.html' %}
        </div>
    </nav>
    <main>
        <div class="container">
            <ul class="bread__crumbs">
                <li>
                    <a href="{% url 'index:frontend:index' %}" class="bread__crumbs_link">
                        Главная
                    </a>
                </li>
                <li>
                    <img src="{{ STATIC_URL }}dist/images/br_crumbs.svg">
                </li>
                <li>
                    <a class="bread__crumbs_link bread__crumbs_link_active">
                        Личный кабинет
                    </a>
                </li>
            </ul>
        </div>
        <hr class="footer-hr">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="content-page__title">Авторизация</h1>

                    <div class="row">
                        <div class="col-6">
                            <div class="auth-box">
                                {% if form.non_field_errors %}
                                    {% for error in form.non_field_errors %}
                                        <div class="auth-box__error">{{ error }}</div>
                                    {% endfor %}
                                {% endif %}
                                <p class="auth-box__info">Вход на портал с использованием идентификатора
                                    и пароля Единого Читательского билета.
                                </p>

                                <form method="POST">
                                    {% csrf_token %}
                                    <label>
                                        <img src="{{ STATIC_URL }}dist/images/login.png">
                                        <input name="username"  type="text" placeholder="Логин">
                                    </label>
                                    <label>
                                        <img src="{{ STATIC_URL }}dist/images/pass.png">
                                        <input name="password"  type="password" placeholder="Пароль">
                                    </label>
                                    <button type="submit">Войти</button>
                                    <a href="{% url 'accounts:frontend:password_reset' %}">Забыли пароль?</a>
                                </form>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="esia-box">
                                <p class="esia-box__info">
                                    Вход с использованием учетной записи на портале Госуслуг.
                                </p>

                                <p class="esia-box__info">
                                    Вы автоматически станете читателем и сможете
                                    пользоваться сервисами библиотек.
                                </p>
                                <a href="{% url 'sso_esia:index' %}" title="Войти через ЕСИА">Войти через ЕСИА</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}


