{% extends 'theme_frontend_base.html' %}
{% load i18n %}
{% load news_tags %}
{% load participant_news_tags %}
{% load events_tags %}
{% load ssearch_tags %}
{% load participiants_tags %}
{% load cache %}
{% get_current_language as LANGUAGE_CODE %}
{% block content %}
    <div class="span12" style="margin-bottom: 10px">

        {#        <div class="actions">#}
        <div class="actions">
            <div class="row">
                <div class="span3" style="font-family: Sans Sherif; font-size: 18px;">
                    {% if LANGUAGE_CODE == 'ru' %}Поиск по электронному каталогу и
                        коллекциям{% elif LANGUAGE_CODE == 'tt' %}Электрон каталог һәм коллекцияләр буенча
                        эзләү{% else %}Search in e-catalog and e-collections{% endif %}
                </div>
                <div class="span8">
                    <form style="margin: 0" action="{% url 'ssearch:frontend:index' %}" class="form-search" method="get">
                        <input type="hidden" name="attr" value="text_t">
                        <div class="input-append">
                            <input name="q"  class="span7" id="appendedInputButton" type="text">
                            <input type="submit" class="btn btn-success"
                                   value="{% if LANGUAGE_CODE == 'ru' %}Поиск{% elif LANGUAGE_CODE == 'tt' %}Эзләү{% else %}Search{% endif %}">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {#        </div>#}
    </div>
    <div class="span12">
        <div class="row">
            <div class="span6">
                <div class="banners thumbnail">
                    <div style="background: url('{{ STATIC_URL }}theme/banner/loremIpsum.jpg'); height: 246px">
                        <div class="banner-node"
                             style="position: relative; top: 192px; color: #ffffff; padding-left: 10px">
                            <div style="background: #34832B; padding: 10px;">
                                В электронном каталоге Вы сможете <a style="color: #ffffff; font-weight: bold;"
                                                                     href="{% url 'ssearch:frontend:index' %}">найти</a>
                                и забронировать книги в библиотеках Республики Татарстан.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span6">
                <h3 style="margin-top: -5px;">{% if LANGUAGE_CODE == 'ru' %}Новости{% elif LANGUAGE_CODE == 'tt' %}
                    Яңалыклар{% else %}News{% endif %}<a href="{% url 'news:frontend:rss' %}"> <img width="24"
                                                                                                    src="{{ STATIC_URL }}images/rss.png"
                                                                                                    alt="Подписаться"></a>
                </h3>
                {% news_feed %}
                <a href="{% url 'news:frontend:index' %}" class="last">{% if LANGUAGE_CODE == 'ru' %}Архив
                    новостей{% elif LANGUAGE_CODE == 'tt' %}Архив новостей{% else %}News archive{% endif %}</a>
            </div>
        </div>
        <div class="row">
            <style>
                .incomes .thumbnail {
                    margin-top: 10px;
                    background: #f8f8f8;
                    width: 450px;
                }

                .incomes .thumbnail .image {
                    width: 90px;
                    float: left;
                    margin-right: 10px;
                }

                .incomes .thumbnail .info {
                    float: left;
                }

                .incomes .thumbnail .image img {
                    border: 5px solid #E0DCD0;

                }

                .incomes .thumbnail .item a {
                    font-weight: bold;
                    text-decoration: none;
                    font-size: 12px;
                }

                .incomes .thumbnail .info {
                    width: 340px;
                    margin-left: 10px;
                }

            </style>
            <div class="incomes span6">
                <h3 style="padding-top: 10px;">{% if LANGUAGE_CODE == 'ru' %}Последние
                    поступления{% elif LANGUAGE_CODE == 'tt' %}Соңгы кертелгән китаплар{% else %}From new
                    arrivals{% endif %}</h3>

                <div class="row">
                    <div class="span6">
                        {% cache 60 newinlib.html %}
                            {% load newinlib_tags %}
                            {% last_items_feed %}
                        {% endcache %}
                    </div>

                </div>
                <div class="span6" style="text-align: center; font-size: 14px; padding-top: 10px;"><a
                        href="{% url 'newinlib:frontend:index' %}">{% if LANGUAGE_CODE == 'ru' %}Остальные
                    новинки{% elif LANGUAGE_CODE == 'tt' %}Соңгы кертелгән китаплар{% else %}More new
                    arrivals{% endif %} >></a></div>
            </div>

            <div class="span6">

                <h3 style="margin: 10px 0 10px 0;">{% if LANGUAGE_CODE == 'ru' %}Карта
                    библиотек{% elif LANGUAGE_CODE == 'tt' %}Китапханәләр картасы{% else %}Map of
                    libraries{% endif %}</h3>
                {% cbs_map %}
                {% if request.GET.draft %}
                    <hr/>
                    <h3>Афиша событий</h3>
                    <div>
                        {% events_nearest %}
                    </div>
                    <a href="{% url 'events:frontend:index' %}">Остальные события >></a>
                    <div>
                    <hr/>
                    <h3>Новости библиотек</h3>
                    {% participant_all_news_feed 10 %}
                    <a href="{% url 'participant_all_news:index' %}">Остальные новости >></a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>


    <hr/>

{% endblock %}
