{% extends 'index/frontend/index.html' %}
{% load i18n %}
{#{% load news_tags %}#}
{#{% load events_tags %}#}
{#{% load ssearch_tags %}#}
{#{% load participiants_tags %}#}
{#{% load cache %}#}
{% get_current_language as LANGUAGE_CODE %}
{% block content %}
    <style>
        ul.news {
            list-style: none;
            margin: 0;
        }

        .news .title {
            font-size: 16px;
            font-weight: bold;
        }

        .news .teaser {
            padding: 5px 0;
        }

        .news .create_date {
            color: #8c8c8c;
        }
    </style>
    <div class="span12">
        <div class="breadcrumb">
            <span><a href="{% url 'index:frontend:index' %}">Главная</a> <span class="divider">/</span></span>
            <span>
                <a href="{% url 'index:frontend:site' %}">ГБУК РТ «Республиканская юношеская библиотека»</a>
                <span class="divider">/</span></span>
            <span><a href="{% url 'index:frontend:site_news_list' %}">Новости</a></span>
{#            <span class="active">Деятельность Казанской губернской земской управы представлена на странице «Электронные коллекции»</span>#}
        </div>
    </div>

    <div class="span3">
        {% include 'index/frontend/site_menu.html' %}
    </div>

    <div class="span9">
        {% include 'index/frontend/inline_org_info.html' %}
        <h3>Деятельность Казанской губернской земской управы представлена на странице «Электронные коллекции»</h3>
        <p>
            В течение октября 2014 года страница «Электронные коллекции» портала «Национальная электронная библиотека
            Республики Татарстан» пополнилась копиями документов Казанской губернской земской управы. Размещен сборник
            статистических сведений «Казанская губерния в сельскохозяйственном отношении за 1902 год». В нем отражены
            метеорологические данные, сведения об урожае хлебов, овощей и плодов, о ценах на сельскохозяйственную
            продукцию. В приложении к сборнику дана карта Казанской губернии с указанием границ уездов, волостей.

            Также в свободном доступе находятся отчеты о действиях Казанской губернской земской управы за период с 1
            сентября 1906 г. по 1 сентября 1907 г., за 1912 г. Основные вопросы отчетов – поручения земской управе «по
            агрономическому делу, по продовольственному делу», «сводная ведомость расходам 1912 г.», «распоряжения по
            заведениям общественного призрения» и другие.

            Большой интерес представляет «Обзор деятельности сельскохозяйственного отдела Казанской Губернской Земской
            Управы за время с 1 января по 1 сентября 1911 года», в котором рассматривается работа сельскохозяйственных
            курсов, районного плодового питомника губернского земства, Лаишевского опытного поля и т. д.
        </p>
    </div>


{% endblock %}
