{% extends 'index/frontend/index.html' %}
{% load i18n %}
{#{% load news_tags %}#}
{#{% load events_tags %}#}
{#{% load ssearch_tags %}#}
{#{% load participiants_tags %}#}
{#{% load cache %}#}
{% get_current_language as LANGUAGE_CODE %}
{% block content %}
    <style>
        .news-block {
            margin-bottom: 10px;
        }

        .news-block__title {
            font-weight: bold;
        }
    </style>
    <div class="span12">
        <div class="breadcrumb">
            <span><a href="{% url 'index:frontend:index' %}">Главная</a> <span class="divider">/</span></span>
            <span><a href="{% url 'index:frontend:site' %}">ГБУК РТ «Республиканская юношеская библиотека»</a> <span
                    class="divider">/</span></span>
            <span class="active">О библиотеке</span>
        </div>
    </div>

    <div class="span3">
                {% include 'index/frontend/site_menu.html' %}
    </div>
    <div class="span9">
    <div>
        {% include 'index/frontend/inline_org_info.html' %}
    </div>
    <div style="text-align: justify">
        <p><img style="float: left; margin: 0 5px 5px 0; width: 200px" src="http://ryltat.ru/images/otdeli/ab.jpg" />Республиканская юношеская библиотека Татарстана была создана как центр информации, духовного общения и досуга
        молодежи, методический центр для библиотек всех систем и ведомств, работающих с молодежью и средствами массовой
        информации в 1976 году, а в июне 1978 года распахнула свои двери для читателей. В 2008 году библиотеке
        исполнилось 30 лет. Фонд библиотеки насчитывает более 100 тысяч экземпляров книг, 100 наименований газет и
        журналов, 3700 экземпляров аудио и видеокассет, CD-дисков.
        Справочно-библиографический аппарат библиотеки состоит из традиционных и электронных каталогов и картотек.
        Сегодня наиболее востребован читателями электронный каталог РЮБ, который содержит более 400 тыс.
        библиографических записей на книжные издания, видео и аудио материалы, СD-ROMы, нотные издания и аннотированные
        статьи из периодических изданий, выписываемых РЮБ. Формируется каталог средствами АБИС "Руслан с 1996 года на
        основе новых поступлений в фонд и ретрокаталогизации фонда.</p>

        <p>В библиотеке всегда кипит жизнь. Среди пользователей библиотеки - 85 % учащаяся и студенческая молодежь, а также
        педагоги и воспитатели юношества. Для них проводятся дни информации, профориентационная работа, организуются
        беседы со специалистами (медиками, психологами, юристами и т.д.) Огромное внимание уделяется эстетическому,
        экологическому воспитанию. Популярна библиотека у молодёжи как культурно-досуговый цент. Наши юные пользователи
        и их воспитатели приходят к нам не только за ответами на многочисленные вопросы, но и на встречи с писателями,
        поэтами, литературоведами Казани. С удовольствием посещают: "Центр молодёжного чтения", молодёжный
        интеллектуальный клуб "МИК", молодёжный художественный салон "Вдохновение", информационно - познавательный
        лекторий об истории и архитектуре Казани "Краевед-экспресс", "Краеведческую гостиную". Сегодня можно твёрдо
        сказать, что библиотека востребована читателями и имеет неповторимое лицо в библиотечном пространстве нашего
        города и республики.</p>

        <p>В структуре библиотеки функционируют 9 отделов и секторов, которые работают в тесном взаимодействии и
        ориентированы на решение задач, стоящих перед библиотекой. Структура всегда мобильна и меняется в соответствии с
        требованиями времени. Открыт специализированный отдел "Филиал №1", который в республике является творческой
        лабораторией по пропаганде здорового образа жизни. В 2012 году открылся Центр информационных технологий.</p>

        <p>Современные информационные технологии активно используются сотрудниками в работе с читателями, автоматизирован
        труд библиотекаря. Базовым пакетом для автоматизации информационно-библиотечных процессов является
        автоматизированная библиотечно-информационная система (АБИС) "Руслан". Автоматизированное рабочее место (АРМ) -
        рабочее место библиотекаря и специалистов.</p>

        <p>Республиканская юношеская библиотека является членом Корпоративной библиотечной сети (КБС) г.Казани и Ассоциации
        Региональных Библиотечных Консорциумов (АРБИКОН) России, использует корпоративные технологии, участвует в
        создании сводного электронного каталога полнотекстовых баз данных, позволяющих читателям использовать
        информационные ресурсы КБС и АРБИКОН, объём которых существенно превышает фонды национальных и федеральных
        библиотек страны. Имеются в библиотеке справочно-правовые системы Гарант, Консультант Плюс, Кодекс "Экология",
        Законодательство России и т.д. Библиотека работает над созданием собственных проблемных электронных баз данных
        "Мир молодежи", "Молодежное справочное бюро". Справочно-библиографический отдел опирается в своей работе на
        программный продукт "Руслан". Библиографы ориентированы на полноценное удовлетворение информационных запросов
        молодёжи с использованием электронного поискового аппарата, что позволяет быстро и качественно помочь читателю в
        поиске информации по любым молодёжным вопросам. В отделе формирования фонда процесс комплектования и
        каталогизации полностью автоматизирован средствами "Руслана", что позволяет оперативно доводить книгу до
        читателя. Приоритетным направлением отдела обслуживания является воспитание межнациональной толерантности,
        формирования у молодёжи патриотизма, знакомство с национальными особенностями народов, населяющих Татарстан. В
        отделе обслуживания в начале 2009 года внедрена и действует электронная регистрация читателей и книговыдача.</p>

        <p>Самым популярным сегодня является Цент информационных технологий, где созданы 12 автоматизированных рабочих мест
        для пользователей, предоставляется свободный доступ к ресурсам библиотеки, бесплатным некоммерческим ресурсам
        сети Интернет для поиска учебной, деловой, культурной информации, к справочно-правовой системе "Консультант
        Плюс". Выделены места для самостоятельной работы на компьютерах в 3D формате, создания 3D проектов, презентаций.</p>

      </div>
    </div>


{% endblock %}
