<img src="http://www.ryltat.ru/images/rub.jpg" />
<ul style="margin: 10px 0 0 0; padding: 0; list-style: none" class="well well-small">
    <li>
        <a href="/ru/site/about">О библиотеке</a>
        <ul>
            <li><a href="/ru/site/about">Вакансии</a></li>
            <li><a href="/ru/site/about">Контакты</a></li>
            <li><a href="/ru/site/about">Как добраться</a></li>
        </ul>
    </li>
    <li><a href="/ru/site/about">Читателям</a></li>
    <li><a href="/ru/site/about">Сотрудникам</a></li>
    <li><a href="/ru/site/about">Конкурсы</a></li>
    <li><a href="/ru/site/about">Наши издания</a></li>
</ul>