{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<style type="text/css">
    .announce img{
        width: 86px;
    }
</style>
{% for item in items_list %}
    {% if item.id_in_catalog %}
        {% url ssearch:frontend:detail  item.id_in_catalog  as item_url %}
    {% else %}
        {%  url newinlib:frontend:show item.id as item_url %}
    {% endif %}
    <div class="thumbnail ">
        {% if item.avatar_img_name %}<div class="image"><a href="{{ item_url }}"><img src="{{ MEDIA_URL }}uploads/newinlib/itemavatars/{{ item.avatar_img_name }}" alt="{{ item.item_content.title }}"></a></div>{% endif %}
        <div class="info">
            <h4 style="margin-bottom: 10px;;">{{ item.item_content.title }}</h4>
            {{ item.item_content.content|safe }}
            <p><a href="{{ item_url }}">{% if LANGUAGE_CODE == 'ru' %}подробнее{% elif LANGUAGE_CODE == 'tt' %}подробнее{% else %}details{% endif %}</a></p>
        </div>
        <div style="clear: both;"> </div>
    </div>
{% endfor %}
