{% extends 'theme_frontend_base.html' %}
{% load events_tags %}
{% load pagination_tag %}
{% block title %}{{ content.title }}{% endblock %}
{% block content %}
    <div class="span12">
        <div class="breadcrumb">
            <span><a href="{% url 'index:frontend:index' %}">Начало</a> <span class="divider">/</span></span>
            {% if not date_filtered %}
                <span class="active">Афиша</span>
            {% else %}
                <span><a href="{% url 'events:frontend:index' %}">Афиша</a></span>
                <span class="divider">/</span></span>
                <span class="active">события за: <b>{{ date_filtered|date:'j E Y' }}</b></span>
            {% endif %}
        </div>
        <style>
            ul.news {
                list-style: none;
                margin: 0;
            }

            .news .title {
                font-size: 16px;
                font-weight: bold;
            }

            .news .teaser {
                padding: 5px 0;
            }

            .news .create_date {
                color: #8c8c8c;
            }
        </style>
        <div class="row">
            <div class="span9">
                {% for event in events_list %}
                    <div class="event-block">
                        <div>
                    <span class="event-block__title">
                        <a href="{% url 'participant_events:frontend:show' event.library.code event.id %}?back={{ request.get_full_path }}">{{ event.event_content.title }}</a>
                    </span>
                        </div>
                        <div class="event-block__teaser">
                            <table style="width: 100%">
                                <tr>
                                    {% if event.avatar %}
                                        <td style="width: 100px; padding-right: 5px">
                                            <img src="{{ MEDIA_URL }}{{ event.avatar }}"></td>
                                    {% endif %}
                                    <td style="vertical-align: top">
                                        {{ event.event_content.teaser }}
                                        <div class="create_date">Начало: <b>{{ event.start_date|date:'j E Y H:i' }}</b></div>
                                        <div class="create_date">Библиотека: <b>{{ event.library.name }}</b></div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    {% if not forloop.last %}
                        <hr/>{% endif %}
                {% endfor %}
                {% admin_pagination events_page %}
            </div>
            <div class="span3">
                <div>
                    <form method="GET">
                        {% include 'frontend/base_form_fields.html' with form=filter_form %}
                        <input class="btn btn-info" type="submit" value="Фильтровать">
                        <a href="{{ request.META.PATH_INFO }}" class="btn" title="Очистить фильтр">Очистить</a>
                    </form>
                </div>
                <hr/>
                {% events_calendar %}
            </div>
        </div>

    </div>
    <script>
    $(function () {
        var $eventFilterForm = $('.event-filter');
        $('.event-filter select, .event-filter input').on('change', function () {
            $eventFilterForm.submit();
        });
    });
    </script>
{% endblock %}