{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% for group in groups %}
    <div class="item-poster">
    {% for event in group %}
            <div class="poster-box__item__date">
                <img title="Календарь" title="Календарь" src="/static/dist/images/calendar.svg">
                {{ event.start_date|date:'j E Y H:i' }}
            </div>
            <a class="poster-box__item__geo" href="#" title="Посмотреть на карте">
                <img alt="Расположение на карте" src="/static/dist/images/geo_pin.svg">{{ event.library.district.name }}</a>
            <br>
            <a href="#" title="Камско-Устьинская ЦБС"
               class="poster-box__item__bib-tag">{{ event.library.name }}</a>
            <h2 class="poster-box__item__title">
                <a href="{% url 'participant_events:frontend:show' event.library.code event.id %}?back={{ request.get_full_path }}"
                   title="Впервые пройдет слет молодых работников">
                    {{ event.event_content.title }}
                </a>
            </h2>
            <p class="poster-box__item__teaser">{{ event.event_content.teaser }}</p>
            <a href="{% url 'participant_events:frontend:create_notification' event.library.code event.id %}" class="poster-box__item__btn-call" title="Напомнить">
                {% if LANGUAGE_CODE == 'ru' %}Установить напоминание{% elif LANGUAGE_CODE == 'tt' %}Искә төшерү кую{% else %}Set reminder{% endif %}
            </a>
    {% endfor %}
    </div>
{% endfor %}
