{% extends 'participant_site/frontend/index.html' %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}{{ content.title }} / {{ library.name }}{% endblock %}
{% block content_library-crumb %}
    <nav class="crumb">
        <ol class="crumb__list">
            <li>
                <a href="{% url 'index:frontend:index' %}">
                    {% if LANGUAGE_CODE == 'ru' %}
                        Главная
                    {% elif LANGUAGE_CODE == 'tt' %}
                        Төп бит
                    {% else %}
                        Home
                    {% endif %}
                </a>
            </li>
            {% for ancestor in library.get_ancestors %}
                <li>
                    <a href="{% url 'participant_site:frontend:index' ancestor.code %}">{{ ancestor.name }}</a>
                </li>
            {% endfor %}
            <li>
                <a href="{% url 'participant_site:frontend:index' library.code %}">
                    {{ library.name }}
                </a>
            </li>
            <li>
                <a href="{% url 'participant_photopolls:frontend:index' library.code %}">
                    {% if LANGUAGE_CODE == 'ru' %}
                        Фотоконкурсы
                    {% elif LANGUAGE_CODE == 'tt' %}
                        Фотоконкурс
                    {% else %}
                        Photo contests
                    {% endif %}
                </a>
            </li>
        </ol>
    </nav>
{% endblock %}
{% block content_library %}
    <div class="col-lg-7 col-md-12">
        <div class="card-transparent">
            <div class="content">
                <h1 class="content__title">{{ content.title }}</h1>
                <div class="content__info">
                    <span>
                        <span class="icon-runer-silhouette-running-fast"></span>&nbsp;&nbsp;
                        {% if LANGUAGE_CODE == 'ru' %}
                            Начало конкурса:
                        {% elif LANGUAGE_CODE == 'tt' %}
                            Бәйге башлана:
                        {% else %}
                            Start:
                        {% endif %}
                        {{ poll.start_date|date:'D' }} {{ poll.start_date|date:'d E Y H:i' }}
                    </span>
                    <span><span
                            class="icon-racing-flag"></span>&nbsp;&nbsp;
                        {% if LANGUAGE_CODE == 'ru' %}
                            Окончание конкурса:
                        {% elif LANGUAGE_CODE == 'tt' %}
                            Бәйге тәмам:
                        {% else %}
                            End:
                        {% endif %}
                        {{ poll.end_date|date:'D' }} {{ poll.end_date|date:'d E Y H:i' }}</span>
                </div>
                {{ content.content|safe }}
            </div>
            <div class="swiper-content-img-slider">
                <div class="swiper-container gallery-top">
                    <div class="swiper-wrapper">
                        {% for image_item in images_list %}
                            <div id="{{ image_item.id }}" class="swiper-slide" title="{{ image_item.content.title }}"
                                 style="background-image:url({{ MEDIA_URL }}{{ image_item.image.image }})">
                                <div class="swiper-slide-content">
                                    <span>{{ image_item.content.title }}</span>
                                    <br>
                                    <span>{{ image_item.content.description|safe }}</span>
                                    <br>
                                    <span>
                                        {% if LANGUAGE_CODE == 'ru' %}
                                            Голосов:
                                        {% elif LANGUAGE_CODE == 'tt' %}
                                            Тавыш бирүчеләр саны:
                                        {% else %}
                                            Votes:
                                        {% endif %}
                                        {{ image_item.image.get_votes_count }}.</span>
                                    <a href="{% url 'participant_photopolls:frontend:vote' library.code poll.id image_item.image.id %}">
                                        {% if LANGUAGE_CODE == 'ru' %}
                                            Тавыш бирү
                                        {% elif LANGUAGE_CODE == 'tt' %}
                                            Тавыш бирүчеләр саны:
                                        {% else %}
                                            Vote
                                        {% endif %}
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="swiper-button-next swiper-button-white"></div>
                    <div class="swiper-button-prev swiper-button-white"></div>
                </div>
                <div class="swiper-container gallery-thumbs">
                    <div class="swiper-wrapper">
                        {% for image_item in images_list %}
                            <div id="{{ image_item.id }}" class="swiper-slide" title="{{ image_item.content.title }}"
                                 style="background-image:url({{ MEDIA_URL }}{{ image_item.image.image }})"></div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
