{% extends 'participant_site/frontend/index.html' %}
{% load pagination_tag %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}Уведомление создано / {{ content.title }}{% endblock %}
{% block content_library-crumb %}
    {% url 'participant_events:frontend:show' library.code event.id  as event_url %}
    <nav class="crumb">
        <ol class="crumb__list">
            <li>
                <a href="{% url 'index:frontend:index' %}">
                    {% if LANGUAGE_CODE == 'ru' %}
                        Главная
                    {% elif LANGUAGE_CODE == 'tt' %}
                        Төп бит
                    {% else %}
                        Home
                    {% endif %}
                </a>
            </li>
            {% for ancestor in library.get_ancestors %}
                <li>
                    <a href="{% url 'participant_site:frontend:index' ancestor.code %}">{{ ancestor.name }}</a>
                </li>
            {% endfor %}
            <li>
                <a href="{% url 'participant_site:frontend:index' library.code %}">{{ library.name }}</a>
            </li>
            <li>
                <a href="{% url 'participant_events:frontend:index' library.code %}">Афиша</a>
            </li>
            <li>
                <a href="{{ event_url }}">{{ content.title }}</a>
            </li>
            <li>
                <span class="crumb__current">
                    {% if LANGUAGE_CODE == 'ru' %}
                        Уведомление создано
                    {% elif LANGUAGE_CODE == 'tt' %}
                        Нотификация булдырылган
                    {% else %}
                        The notification is created
                    {% endif %}
                </span>
            </li>
        </ol>
    </nav>
{% endblock %}
{% block content_library %}
    {% url 'participant_events:frontend:show' library.code event.id  as event_url %}
    <div class="col-lg-8 col-md-12">
        <div class="card-transparent">
            <div class="content">
                <h1 class="content__title">
                    {% if LANGUAGE_CODE == 'ru' %}
                        Уведомление создано
                    {% elif LANGUAGE_CODE == 'tt' %}
                        Нотификация булдырылган
                    {% else %}
                        The notification is created
                    {% endif %}
                </h1>
                <br>
                <div class="alert alert-success">
                    {% if LANGUAGE_CODE == 'ru' %}
                        Заявка на уведомление о событии создана. Вы получите письмо с уведомлением в указанный Вами срок.
                    {% elif LANGUAGE_CODE == 'tt' %}
                        Гариза турында хәбәрнамә булдырылган вакыйга. Сез алачаксыз хат белән күрсәтелгән сезнең вакыты.
                    {% else %}
                        An event notification request has been created. You will receive a notification email within the time limit you specify.
                    {% endif %}

                </div>
                <p>
                    {% if LANGUAGE_CODE == 'ru' %}
                        Через несколько секунд Вы будете переправлены на страницу события.
                    {% elif LANGUAGE_CODE == 'tt' %}
                        Берничә секундтан соң, сез булачаксыз переправлены бу сәхифәне вакыйгалар.
                    {% else %}
                        After a few seconds, You will be redirected to the event page.
                    {% endif %}

                    <a href="{{ event_url }}">
                        {% if LANGUAGE_CODE == 'ru' %}
                            Перейти к событию
                        {% elif LANGUAGE_CODE == 'tt' %}
                            Вакыйгаларга күчү
                        {% else %}
                            Go to event
                        {% endif %}
                    </a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {% url 'participant_events:frontend:show' library.code event.id  as event_url %}
    <script>
        setTimeout(
            function () {
                window.location = "{{ event_url }}"
            },
            10000);
    </script>
{% endblock %}