{% extends 'index/frontend/index.html' %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}{{ content.title }}{% endblock %}
{% block content %}
    <ul class="breadcrumb">
        <li><a href="{% url 'index:frontend:index' %}">
            {% if LANGUAGE_CODE == 'ru' %}
                Главная
            {% elif LANGUAGE_CODE == 'tt' %}
                Төп бит
            {% else %}
                Home
            {% endif %}
        </a> <span class="divider">/</span></li>
        {% if request.GET.back %}
            <li><a href="{{ request.GET.back }}">
                {% if LANGUAGE_CODE == 'ru' %}
                    Мои события
                {% elif LANGUAGE_CODE == 'tt' %}
                    Минем вакыйгалар
                {% else %}
                    My events
                {% endif %}

            </a> <span class="divider">/</span></li>
        {% else %}
            <li><a href="{% url 'events:frontend:index' %}">
                {% if LANGUAGE_CODE == 'ru' %}
                    Мои события
                {% elif LANGUAGE_CODE == 'tt' %}
                    Минем вакыйгалар
                {% else %}
                    My events
                {% endif %}
            </a> <span class="divider">/</span></li>
        {% endif %}
        <li class="active">{{ content.title }}</li>
    </ul>
    <div class="content">
        {{ content.content|safe }}
    </div>
    <hr/>
    <div class="info">
        {% if LANGUAGE_CODE == 'ru' %}
            <b>Место проведения</b>:
        {% elif LANGUAGE_CODE == 'tt' %}
            <b>Үткәрү урыны</b>:
        {% else %}
            <b>Location</b>:
        {% endif %}
        {{ event.address }}<br/>
        {% if LANGUAGE_CODE == 'ru' %}
            <b>Начало</b>:
        {% elif LANGUAGE_CODE == 'tt' %}
            <b>Башлану датасы</b>:
        {% else %}
            <b>Start date</b>:
        {% endif %}
        {{ event.start_date }}
    </div>
{% endblock %}