{% extends 'participant_site/frontend/index.html' %}
{% load pagination_tag %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}Подписка оформлена / {{ library.name }}{% endblock %}
{% block content_library-crumb %}
    {% url 'participant_events:frontend:show' library.code event.id  as event_url %}
    <nav class="crumb">
        <ol class="crumb__list">
            <li>
                <a href="{% url 'index:frontend:index' %}">
                    {% if LANGUAGE_CODE == 'ru' %}
                        Главная
                    {% elif LANGUAGE_CODE == 'tt' %}
                        Төп бит
                    {% else %}
                        Home
                    {% endif %}
                </a>
            </li>
            {% for ancestor in library.get_ancestors %}
                <li>
                    <a href="{% url 'participant_site:frontend:index' ancestor.code %}">
                        {{ ancestor.name }}
                    </a>
                </li>
            {% endfor %}
            <li>
                <a href="{% url 'participant_site:frontend:index' library.code %}">
                    {{ library.name }}
                </a>
            </li>
            <li>
                <a href="{% url 'participant_events:frontend:index' library.code %}">
                    {% if LANGUAGE_CODE == 'ru' %}
                        Афиша
                    {% elif LANGUAGE_CODE == 'tt' %}
                        Афиша
                    {% else %}
                        Events
                    {% endif %}
                </a>
            </li>
            <li>
                <a href="{% url 'participant_events:frontend:subscribe' library.code %}">
                    {% if LANGUAGE_CODE == 'ru' %}
                        Подписка на мероприятия
                    {% elif LANGUAGE_CODE == 'tt' %}
                        Язылу
                    {% else %}
                        Subscription
                    {% endif %}
                </a>
            </li>
            <li>
                <span class="crumb__current">
                    {% if LANGUAGE_CODE == 'ru' %}
                        Подписка оформлена
                    {% elif LANGUAGE_CODE == 'tt' %}
                        Язылу эшләнгән
                    {% else %}
                        Subscription is done
                    {% endif %}
                </span>
            </li>
        </ol>
    </nav>
{% endblock %}
{% block content_library %}
    <div class="col-lg-8 col-md-12">
        <div class="card-transparent">
            <div class="content">
                <h1 class="content__title">
                    {% if LANGUAGE_CODE == 'ru' %}
                        Подписка оформлена
                    {% elif LANGUAGE_CODE == 'tt' %}
                        Язылу эшләнгән
                    {% else %}
                        Subscription is done
                    {% endif %}
                </h1>
                <br>
                <div class="alert alert-success">

                    {% if LANGUAGE_CODE == 'ru' %}
                        Ваша подписка оформлена. Теперь Вы будете получать уведомления о новых событиях и мероприятиях библиотеки.
                    {% elif LANGUAGE_CODE == 'tt' %}
                        Сезнең язылу әзер. Хәзер сез китапханәнең яңа вакыйгалары һәм чаралары турында мәгълүмат алачаксыз.
                    {% else %}
                        Your subscription is complete. You will now be notified of new library events and activities.
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
